.dashboard-content {
  // overflow: hidden;

  .header, .header > * {
    align-items: center;
  }
  #search .MuiFormControl-root {
      display: contents;
  }
  h3 {
    font-weight: var( --fontWeightNormal );
    margin-bottom: var( --spaceLarge );
  }
  h1 {
    margin: var( --spaceMedium ) 0 var( --spaceLarger );
    padding-bottom: var( --spaceLarger );
    position: relative;
    font-weight: var( --fontWeightMedium );

    &::before {
      --headerLineWidth: 120px;
      content: "";
      background: var( --criticalShade10 );
      width: var( --headerLineWidth );
      height: 5px;
      position: absolute;
      bottom: 0;
      left: calc(50% - #{calc(var( --headerLineWidth ) / 2)});
    }
  }//end h1

  .tile-ctn,
  .dashboard-grid-header {
    display: flex;
    margin: 0 var( --spaceSmaller );
    flex: 1 1 100%;

    > * {
      display: flex;
      flex: 1 1;
      align-items: center;
      justify-content: center;
    }
    .empty, .tile-title {
      flex: 4 1;
      justify-content: flex-start;
    }
  }

  .dashboard-grid-header {
    flex-basis: content;
    padding: 0 var( --spaceMedium );
    padding-right: calc( #{var( --spaceMedium )} + #{var( --scrollPadding )});
  }

  #search {
    height: 50px;
    width: 100%;
    max-width: 430px;
    margin-left: auto;
    margin-right: auto;
    background: var( --surface05 );
    display: flex;

    .MuiInput-root {
      width: 100%;
      border: 1px solid var( --divider15 );

      &.Mui-focused, &:hover {
        border: 1px solid var(--linkHover);
      }
    }
    input {
      margin-left: auto;
      position: static;
      padding: var( --spaceMedium ) var( --spaceHuge) var( --spaceMedium ) var( --spaceSmall );
    }
  }

  #grid-container,
  .apis {
    display: flex;
    flex-direction: column;
  }
  .tile-container {
    height: 100%;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 0px;
    }


  }
  .zowe-styling {
    grid-gap: 20px !important;
    display: grid !important;

    height: 100%;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 0px;
    }
  }
  .scrollable-flex-content {
    border-top: 1px solid var( --criticalShade00 );
    padding-top: var( --spaceSmaller);
  }

    #search_no_results {
        margin: auto;
        color: #CC092F;
    }

  #dash-buttons {
    display: flex;
    justify-content: flex-end;

    > *:last-child {
      margin-left: var( --spaceSmall );
    }
  }//end dash-buttons

  .filtering-container {
    text-align: center;
    margin: 0 auto;
    padding-bottom: var( --spaceLargest );

    .MuiSvgIcon-root {
      color: var(--text20);
      left: var( --spaceSmaller );
    }

    .MuiSvgIcon-root.clear-text-search {
      color: var( --link20 );
    }

    .MuiInputBase-input {
      margin-top: auto;
      margin-left: 10px;
      padding: var( --spaceMedium ) var( --spaceSmall ) var( --spaceMedium ) var( --spaceLargest );
    }
  }//end filtering-container
  // hidden div to make footer not underlap spinner
  .loadingDiv {
    position: relative;
    top: 50%;
    left: 50%;
    width: 128px;
    height: 200px;
  }
}

#separator2 {
    background-color: var( --criticalShade10 );
    margin-bottom: var( --spaceMedium );
    margin-top: auto;
    height: var( --spaceTinier );
    width: 99%;
    display: block;
    border-color: var( --criticalShade10 );
}

.floating-button {
  position: fixed;
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row-reverse;
  z-index: 1000;
  .MuiButtonBase-root, &.MuiFab-root, &.MuiFab-extended {
    background-color: var( --criticalShade10 ) !important;
    color: white;

  }
}

@media (max-width: 800px) {
  .floating-button {
    display: none;
  }
}

