.dashboard-content {
  .header, .header > * {
    align-items: center;
  }
  h3 {
    font-weight: var( --fontWeightNormal );
    margin-bottom: var( --spaceLarge );
  }
  h1 {
    margin: var( --spaceMedium ) 0 var( --spaceLarger );
    padding-bottom: var( --spaceLarger );
    position: relative;
    font-weight: var( --fontWeightMedium );

    &::before {
      --headerLineWidth: 120px;
      content: "";
      background: var( --criticalShade10 );
      width: var( --headerLineWidth );
      height: 5px;
      position: absolute;
      bottom: 0;
      left: calc(50% - #{calc(var( --headerLineWidth ) / 2)});
    }
  }//end h1

  .tile-ctn,
  .dashboard-grid-header {
    display: flex;
    margin: 0 var( --spaceSmaller );
    flex: 1 1 100%;

    .empty, .tile-title {
      flex: 4 1;
      justify-content: flex-start;
    }
  }

  .dashboard-grid-header {
    flex-basis: content;
    padding: 0 var( --spaceMedium );
    padding-right: calc( #{var( --spaceMedium )} + #{var( --scrollPadding )});
  }

  #grid-container,
  .apis {
    display: flex;
    flex-direction: column;
  }
  .tile-container {
    height: 100%;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 0px;
    }
  }
  .zowe-styling {
    grid-gap: 20px !important;
    display: grid !important;

    height: 100%;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 0px;
    }
  }
  .scrollable-flex-content {
    border-top: 1px solid var( --criticalShade00 );
    padding-top: var( --spaceSmaller);
  }

    #search_no_results {
        margin: auto;
        color: var( --criticalShade10 );
    }

  #dash-buttons {
    display: flex;
    justify-content: flex-end;

    > *:last-child {
      margin-left: var( --spaceSmall );
    }
  }//end dash-buttons

  .filtering-container {
    text-align: center;
    margin: 0 auto;
    padding-bottom: var( --spaceLargest );

    .MuiSvgIcon-root {
      color: var(--text20);
      left: var( --spaceSmaller );
    }

    .MuiSvgIcon-root.clear-text-search {
      color: var( --link20 );
    }

    .MuiInputBase-input {
      margin-top: auto;
      margin-left: 10px;
      padding: var( --spaceMedium ) var( --spaceSmall ) var( --spaceMedium ) var( --spaceLargest );
    }
  }//end filtering-container
  // hidden div to make footer not underlap spinner
  .loadingDiv {
    position: relative;
    top: 50%;
    left: 50%;
    width: 128px;
    height: 200px;
  }
}

#separator2 {
    background-color: var( --criticalShade10 );
    margin-bottom: var( --spaceMedium );
    margin-top: auto;
    height: var( --spaceTinier );
    width: 99%;
    display: block;
    border-color: var( --criticalShade10 );
}

.floating-button {
  position: fixed;
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row-reverse;
  z-index: 1000;
  right: 2vw;
}

body {
  &.mobile-menu-open {
    .content .homepage-content {
      .homepage-menu {
        left: 0;
      }
    }
  }
  .content {
    .dashboard-content,
    .homepage-content {
      #search {
        height: 50px;
        width: 100%;
        max-width: 430px;
        margin-left: auto;
        margin-right: auto;
        background: var( --surface05 );
        display: flex;
    
        .MuiFormControl-root {
          display: contents;
        }
        .MuiInput-root {
          width: 100%;
          border: 1px solid var( --divider15 );
    
          &.Mui-focused, &:hover {
            border: 1px solid var(--linkHover);
          }
        }
        input {
          margin-left: auto;
          position: static;
          padding: var( --spaceMedium ) var( --spaceHuge) var( --spaceMedium ) var( --spaceSmall );
        }
      }//end search
    }//end homepage/dashboard
  
    .homepage-content {
      max-width: 1086px;
      padding-bottom: var( --spaceHuge );
      max-height: calc(100vh - #{var( --headerHeight )});
      scrollbar-width: none;
      -ms-overflow-style: none;
      overflow: auto;
      width: 95vw;
    
      &::-webkit-scrollbar {
        display: none;
      }
      > .header-primary {
        margin-bottom: 25px;
        margin-left: var( --spaceSmall );
      }
      .mobile-menu-close-ctn {
        display: flex;
        justify-content: flex-end;
        margin-bottom: var( --spaceSmall );
      }
      
      .homepage-menu {
        // left: 0;
        padding: var( --spaceSmall ) var( --spaceSmall ) 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        border-right: 1px solid var( --divider00 );
  
        .MuiCardContent-root {
          padding: var( --spaceSmaller );
        }
        > h5, #search {
          margin-left: var( --spaceSmaller );
        }
        #search {
          max-width: calc(100% - #{var( --spaceSmall )});
        }
        .homepage-menu-content {
          height: 100%;
          overflow: auto;
        }
        .tile-ctn {
          > *:not(.tile-title) {
            display: none;
          }
          .tile-title {
            h6 {
              font-size: var( --fontMedium );
              font-weight: var( --fontWeightNormal );
            }
          }
        }
      }
      .homepage-cards {
        display: flex;
        width: 98%;
        margin: 0 auto;
        justify-content: center;
    
        > div {
          flex: 1;
          display: flex;
          flex-direction: row;
    
          &:not(:first-child) {
            margin-left: var( --spaceLarger);
          }
          
          > button, > a {
            padding: var( --spaceLarger );
            border-radius: var( --borderRadius1 );
            box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
            flex: 1;
            min-height: 220px;
            background-color: var( --surface05 );
            border: none;
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
      
            &:not(:first-child) {
              margin-left: var( --spaceLarger);
            }
            .MuiButton-label {
              flex-direction: column;
              align-items: flex-start;
              text-align: left;
            }
            h5 {
              margin: var( --spaceSmaller ) 0 var( --spaceLarger );
              text-transform: none;
              line-height: var( --fontLarger );
            }
            p {
              line-height: 130%;
              font-size: var( --fontMedium );
              font-weight: var( --fontWeightNormal );
              color: var( --text10 );
              text-transform: none;
            }
            &, * {
              text-decoration: none;
            }
            &:hover {
              background-color: var( --surface15 );

              &, * {
                color: var( --text10 );
              }
            }
          }
        }
      }
      .homepage-header {
        display: flex;
        flex-direction: row;
        padding: 25px 0 0;
        margin-bottom: 80px;
        margin-left: var( --spaceSmall );
    
        > div {
          position: relative;
          display: flex;
          flex: 2;

    
          &:first-child {
            flex-direction: column;
            align-items: flex-start;
    
            h1 {
              margin: 0px;
              line-height: 100%;
            }
            h3 {
              width: 80%;
              font-weight: normal;
              margin: 35px 0;
            }
          }
          &.homepage-header-images {
            width: 100%;
            padding-left: 175px;
            margin-top: 20px;
    
            .homepage-main-img {
              width: 501px;
            }
            .homepage-header-img {
              position: absolute;
            }
            .homepage-security-img {
              height: 45px;
              left: 290px;
              bottom: 45px;
            }
            .homepage-payment-img {
              height: 67px;
              left: 118px;
              top: 105px;
            }
            .homepage-mainframe-img {
              height: 89px;
              left: var( --spaceSmall );
              top: -10px;
            }
            .homepage-enterprise-img {
              height: 45px;
              left: 295px;
              top: 55px;
            }
            .homepage-storage-img {
              height: 67px;
              left: 264px;
              top: -42px;
            }
          }
        }
        
      }
    }//end homepage-content
  }//end content
}//end body

