#login-form {
    flex-direction: column;
}

.form-spinner {
    align-self: flex-end;
    position: relative;
    right: 6rem;
}

#spinner {
    position: absolute;
    z-index: 1;
    margin-left: -64px;
}

.login-object {
    overflow: hidden;
    background-image: url("../../assets/images/zowe-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex: auto;
    height: 100vh;
    padding-bottom: 0;
}

.login-form {
    width: 440px;
    padding-right: 300px;
    height: 100vh;
}


.login-bg > img {
    height: 100vh;
}

.error-message-content {
    display: inline-flex;
    align-items: center;
}

@media only screen and (max-width: 1315px) {
    .picture {
        display: none;
    }
}


.w-form {
    display: inline-table;
    resize: inherit;
    position: static;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 24px;
    width: 360px;
    height: 420px;
    left: 428px;
    top: calc(50% - 420px/2 - 0.29px);

    background: #FFFFFF;
    /* 16 dp */
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.14), 0px 6px 30px rgba(0, 0, 0, 0.12), 0px 8px 10px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.username-input {
    resize: inherit;
    margin-left: 48px;
}

form#login-form {
    width: 100%;
}

.product-title {
    margin: 150px 0px;
}

.MuiTypography-gutterBottom {
    color: #57606E;
}

.login-typo {
    color: black;
}

.text-block-4 {
    color: black;
}


.updateBtn{
    float: right;
}

.login-btns{
    margin-top: 20px;
}
.cardTitle {
    background-color: #FCE4EC;
}
#loginButton {
    display: flex;
    justify-content: flex-end;
}

#error-message {
    padding: 16px;
    display: inline-block;
    color: #B71C1C;
    background-color: #FCE4EC;
    margin-bottom: 20px;
    align-self: baseline;
    width: 100%
}
#warn-message {
    padding: 20px;
    display: inline-block;
    color: #E65100;
    background-color: #FFF3E0;
}

.login-inputs-container {
    display: inline-block;
}

.errorIcon {
    color: #de1b1b;
    margin: 0;
}

#FormHelperText {
    color: #de1b1b;
}
.visibility-icon {
    padding: 6px !important;
}

.logo-container {
    margin: 24px;
    width: 71px;
}

.susp-card {
    margin: auto;
}

.MuiFormControl-root {
    margin: 25px 0 !important;
}

.susp-acc {
    display: flex !important;
    align-items: center !important;
}

.susp-msg {
    margin-left: 15px !important;
}

#warn-first-line {
    display: flex;
    padding-bottom: 10px;
}
