$font-family_1: "Open Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

/* Class for link show/hide article */
.api-diff-container {
    margin: auto;
    padding-top: var( --spaceLarge );
}
.api-diff-form {
    display: flex;
    align-items: center;
    background: var( --surface15 );
    border: 1px solid var( --surface25 );
    padding: var( --spaceSmall );
    border-radius: var( --borderRadius1 );
    justify-content: space-around;
    margin: 0 0 var( --spaceSmall );

    > *:not(:last-child) {
        margin-right: var( --spaceSmall );
    }
}
.api-diff-content {
    .article > div {
        padding: var( --spaceSmaller );

        ol {
            padding-left: var( --spaceMedium );

            > li {
                margin: 24px;

                > * {
                    vertical-align: middle;
                }

                > ul {
                    background-color: var( --surface105 );
                    color: var( --surface05 );
                    padding: var( --spaceSmaller ) var( --spaceMedium );
                    margin: 10px 0;

                    > li {
                        margin: 10px 0;
                    }
                    &.change > li {
                        margin: 10px 20px;
                    }
                }
            }
        }
    }
}
.POST, .post, .PATCH, .patch, .get, .GET, .put, .PUT, .delete, .DELETE {
    padding: var( --spaceSmallest );
    border-radius: var( --borderRadius1 );
    font-size: var( --fontSmaller );
    margin: 0 var( --spaceSmallest );
    width: var( --spaceHuge );
    display: inline-block;
    text-align: center;
    font-weight: var( --fontWeightBold );
}
.PATCH,
.patch {
    background-color: var( --success20 );
}
.POST, .post {
    background-color: var( --success10 );
}
.get, .GET {
    background-color: var( --info10 );
}
.put, .PUT {
    background-color: var( --warn10 );
}
.delete, .DELETE {
    background-color: var( --critical10 );
}

.comment {
    color: var( --highlight10 );
    margin-left: var( --spaceMedium );
    font-size: 14px;
}
.missing {
    color: var( --critical10 );

    > s {
        padding: 0 4px;
    }
    > del {
        padding: 0 4px;
    }
    > .comment {
        color: var( --critical10 );
    }
}
s {
    color: var( --critical10 );
}
del {
    color: var( --critical10 );
}
del.comment {
    color: var( --critical10 );
}
.showhide {
    text-decoration: none;
    padding: var( --spaceTiny );
    font-size: var( --spaceSmall );
    float: right;
}
