.api-diff-container {
	margin: auto;
	padding-top: 20px;
}

.api-diff-form {
	margin: auto;
	display: flex;
	width: auto;
}

.api-diff-form>p {
	margin-top: auto;
	padding-left: 8px;
	padding-right: 18px;
	font-size: x-large;
	color: #58606e;
}

.api-diff-form>button {
	margin-left: 8px;
}

#close-dialog > span > svg {
 fill: black;
}

.article {
	padding: 20px;
	max-width: 960px;
	margin: 0px auto;
	box-shadow: 0px 0px 4px #ccc;
	background: #fff;
	margin-top: 80px;
}

.article>div {
	padding: 10px 10px;
}

.POST, .post, .get, .GET, .put, .PUT,.delete, .DELETE {
	color: #fff;
	padding: 4px;
	border-radius: 2px;
	font-size: 8px;
	margin: 0 4px;
	width: 40px;
    display: inline-block;
    text-align: center;
}
.POST, .post{
	background-color: #0B7CAF;
}
.get, .GET {
	background-color: #009688;
}
.put, .PUT {
	background-color: #c5862b;
}
.delete, .DELETE {
	background-color: #F44336;
}

hr {
	color: #dfdfdf;
}

ol>li {
	margin: 24px;
}

ol>li>ul {
	background-color: #504949;
	color: #fff;
	padding: 8px 16px;
}

ul.change>li {
	margin: 10px 20px;
}

ul {
	margin: 10px 0;
}

ul>li {
	margin: 10px 0;
}

.comment {
	color: #d8fa3c;
	margin-left: 16px;
	font-size: 14px;
}

.missing>s, .missing>del {
	padding: 0 4px;
}

s, del, .missing, del.comment {
	color: #F44336;
}

.missing>.comment {
	color: #F44336;
}

/* Class for link show/hide article */
.showhide {
    color: #3e373785;
    text-decoration: none;
    padding: 2px;
    font-size: 12px;
    float: right;
}

#diff-button {
    margin: 3px 20px;
    box-sizing: border-box;
    color: rgb(50, 114, 217);
    font-family: "Open Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    line-height: 1.25;
    outline: 0px;
    -webkit-font-smoothing: antialiased;
    background-color: rgb(255, 255, 255);
    border-color: rgb(200, 209, 224);
    border-radius: 0.1875em;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    height: 2.5em;
    min-width: 2.5em;
    padding: 0px 0.5em;
    text-decoration: none;
    vertical-align: middle;
}

#diff-button:hover {
    background: rgb(200, 209, 224);
    background-color: rgb(200, 209, 224);
}

.MuiSelect-select {
    width: 110px;
}

#dialog-title {
    margin-top: -8px;
}
