body {
  .execute-wrapper {
    margin-top: var( --spaceSmall );
  }
  .responses-table {
    max-width: 100%;

    td {
      overflow: auto;
    }
    
  }
  .responses-inner {
    width: 100%;
    overflow: auto;

    .copy-to-clipboard {
      display: none;
    }
    .request-snippets {
      .curl-command {
        > div:first-child {
          padding-left: var( --spaceSmallest ) !important;
          width: 100%;
          overflow: auto;
        }
      }// end curl-command
    }// request-snippets
  }// responses-inner
  
  .opblock {
    margin-bottom: var( --spaceSmall );
  }
  .opblock-tag-section {
    .expand-operation {
      transform: rotate(180deg);
    }
  }
  .opblock-summary {
    display: flex;
    width: 100%;
    margin-bottom: var( --spaceTiny );
    border: 1px solid var( --surface15 );
    border-radius: var( --borderRadius1 );

    .opblock-summary-method {
      padding: var( --spaceSmaller );
      border-radius: var( --borderRadius1 );
      font-size: var( --fontSmall );
      color: var( --text100 );
      min-width: 55px;
    }
    > button {
      background: transparent;
      border-color: transparent;
    }
    .copy-to-clipboard {
      padding: 0 3px;
      display: flex;
      align-items: center;
      margin-right: var( --spaceSmallest );

      svg {
        background: var( --surface105 );
        border-radius: 3px;
        padding: 2px;

        &:hover {
          cursor: pointer;
        }
      }
    }

    &.opblock-summary-get {
      background: var( --info05 );
      border-color: var( --info10 );

      .opblock-summary-method {
        background: var( --info10 );
      }
    }//end get
    &.opblock-summary-post {
      background: var( --success05 );
      border-color: var( --success10 );

      .opblock-summary-method {
        background: var( --success10 );
      }
    }//end post
    &.opblock-summary-patch {
      background: var( --success05 );
      border-color: var( --success20 );

      .opblock-summary-method {
        background: var( --success20 );
      }
    }//end patch
    &.opblock-summary-delete {
      background: var( --critical05 );
      border-color: var( --critical10 );

      .opblock-summary-method {
        background: var( --critical10 );
      }
    }//end delete
    &.opblock-summary-put {
      background: var( --warn05 );
      border-color: var( --warn10 );

      .opblock-summary-method {
        background: var( --warn10 );
      }
    }//end put

    .opblock-summary-control {
      width: 100%;
      display: flex;
      align-items: center;
      border-radius: var( --borderRadius1 );
      padding: var( --spaceTiny ) var( --spaceSmallest );
      cursor: pointer;

      > *:not(:first-child) {
        margin-left: var( --spaceMedium );

        &.arrow {
          margin-right: var( --spaceSmaller );
          width: 20px;
        }
        &.opblock-summary-description {
          margin-left: auto;
        }
      }
    }//end summary-control
  }//end summary

  .opblock-tag {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
    font-size: var( --fontSmall );
    padding: var( --spaceSmall ) 0;
    border-bottom: 1px solid var( --divider20 );
    font-weight: var( --fontWeightNormal );
    margin-bottom: var( --spaceSmallest );

    .expand-operation {
      background-color: transparent;
      border-color: transparent;
    }
    > * {
      &:not(:first-child) {
        margin-left: var( --spaceSmall );
      }
      &:last-child {
        margin-left: auto;
      }
    }
  }//end opblock-tag

  .opblock-body {
    background: var( --surface15 );
    border: 1px solid var( --divider00 );
    padding: var( --spaceSmall);
    border-radius: var( --borderRadius1 );
    margin-bottom: var( --spaceMedium );

    .opblock-section-header {
      display: flex;
      justify-content: space-between;
    }
    .parameters-container {
      margin: var( --spaceSmaller ) 0px var( --spaceSmaller );
    }

    .col_header {
      margin-bottom: var( --spaceMedium );
    }
    .prop-format {
      margin-left: var( --spaceMedium );
    }
    .parameters-col_name {
      justify-content: space-between;

      > * {

        &:first-child {
          font-weight: 700;
          flex: 100%;
        }
        &:not(:first-child) {
          flex: 1;
        }
      }

      .parameter__type {
        color: #3b4151;
        font-family: monospace;
        font-size: 12px;
        font-weight: 600;
      }

      .parameter__in {
        color: gray;
        font-family: monospace;
        font-size: 12px;
        font-style: italic;
        font-weight: 600;
      }
    }
    


    .opblock-section-header {
      align-items: center;

      > * {
        margin-right: var( --spaceSmaller );
      }
    }
    table {
      width: 100%;

      .parameters-col_name,
      .parameters-col_description {
        padding-top: var(--spaceSmall);
      }
      tr:first-child{
        .parameters-col_name,
        .parameters-col_description {
  
          padding-top: 0;
        }

      }


      td {
        vertical-align: top;
          .renderedMarkdown:nth-child(2) {
              display: none !important;
          }
      }
    }

    select {
      min-width: 230px
    }
    pre {
      font-size: var( --fontSmaller );
      padding: var( --spaceSmall );
      white-space: pre-wrap;
      border-radius: var( --borderRadius1 );
      background: var( --surface105 );
      font-family: var( --fontFamilyMono );

      &, & span {
        color: var( --text100 );
      }
    }
  }//end opblock-body
}

#no-doc_message {
    margin-left: -41px;
    color: #de1b1b;
}
