*.iml
*.ipr
*.iws
.idea
.vscode
.project
.settings
.classpath
.history
# build folders
build/
out/

typescript

# UI specific files and directories
node_modules/
npm-debug.log
api-catalog-services/src/main/resources/static/
api-catalog-ui/tools
api-catalog-ui/src/main/resources/static
package-lock.json

# Python
*.py[cod]
Pipfile.lock
.pytest_cache

# Packages
*.egg
*.egg-info
dist
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib64
__pycache__

# Installer logs
pip-log.txt

# logs
logs/

# pid files
*.pid

# OS files
.DS_Store

# Gradle
.gradle/
pi-catalog-ui/frontend/test-results/*.xml
api-catalog-ui/frontend/debug.log

debug.log
api-layer.tar.gz
package-lock.json
