<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="apimlLogPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS,UTC} %clr&lt;${logbackService:-${logbackServiceName}}:%thread:${PID:- }&gt; %magenta(%X{userid:-}) %cyan(%-5level) %clr\(\(%logger{15}\)\) %msg%n"/>

    <conversionRule conversionWord="clr" class="org.springframework.boot.logging.logback.ColorConverter"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <charset>UTF-8</charset>
            <layout class="org.zowe.apiml.product.logging.MaskingLogPatternLayout">
                <pattern>${apimlLogPattern}</pattern>
            </layout>
        </encoder>
    </appender>

    <appender name="testLogger" class="org.zowe.apiml.util.TestLogger">
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
    <root level="DEBUG">
        <appender-ref ref="testLogger"/>
    </root>

</configuration>
