<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="apimlLogPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS,UTC} %clr&lt;${logbackService:-${logbackServiceName}}:%thread:${PID:- }&gt; %magenta(%X{userid:-}) %cyan(%-5level) %clr\(\(%logger{15}\)\) %msg%n"/>

    <!-- This filter needs to run before log hiders, otherwise OTEL won't get any logs. OpenTelemetryResourceAttributesZosTest should fail without it -->
    <turboFilter class="org.zowe.apiml.product.logging.OpenTelemetryLogsFilter"/>

    <springProfile name="!debug &amp; !diag &amp; !dev">
        <turboFilter class="org.zowe.apiml.product.logging.ApimlDependencyLogHider"/>
        <turboFilter class="org.zowe.apiml.product.logging.LogLevelInfoFilter"/>
        <turboFilter class="org.zowe.apiml.product.logging.ApimlDuplicateMessagesFilter">
            <AllowedRepetitions>0</AllowedRepetitions>
            <cacheSize>3000</cacheSize>
        </turboFilter>
    </springProfile>

    <conversionRule conversionWord="clr" class="org.springframework.boot.logging.logback.ColorConverter"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <charset>UTF-8</charset>
            <layout class="org.zowe.apiml.product.logging.MaskingLogPatternLayout">
                <pattern>${apimlLogPattern}</pattern>
            </layout>
        </encoder>
    </appender>

    <appender name="testLogger" class="org.zowe.apiml.util.TestLogger">
    </appender>

    <appender name="OpenTelemetry" class="io.opentelemetry.instrumentation.logback.appender.v1_0.OpenTelemetryAppender"/>

    <logger name="org.zowe.apiml.opentelemetry" level="INFO" additivity="false">
        <appender-ref ref="OpenTelemetry" />
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
    <root level="DEBUG">
        <appender-ref ref="testLogger"/>
    </root>

</configuration>
