/*
 * This program and the accompanying materials are made available under the terms of the
 * Eclipse Public License v2.0 which accompanies this distribution, and is available at
 * https://www.eclipse.org/legal/epl-v20.html
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 * Copyright Contributors to the Zowe Project.
 */

.wizardForm {
    padding: 0 2px;
}

.wizardForm .entry {
    margin-bottom: 12px;
}

.selector {
    max-width: 300px;
}

#wizard-navigation {
    min-height: 20em;
}

#wizard-navigation > div {
    max-height: 21em;
}

.yamlContainer {
    padding: 15px;
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: whitesmoke;
}

.yamlContainer code {
    white-space: pre-wrap;
    font-size: 0.8em;
}

#copyButtonContainer {
    position: absolute;
    right: 40px;
}

.categoryConfigDivider {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.wizardForm label {
    font-weight: normal;
}

label.wCheckBox {
    font-weight: 600;
}

label.wCheckBox span:last-child {
    color: #58606e;
}

.problematicTab {
    box-shadow: inset -2px 0 red;
}
