# TODO these are only needed with linux setup
#APIML_SERVICE_HOSTNAME: localhost
#APIML_DISCOVERY_ALLPEERSURLS: https://localhost:10011/eureka
#APIML_SERVICE_DISCOVERYSERVICEURLS: https://localhost:10011/eureka/

# For GW and DS
APIML_SECURITY_SSL_VERIFYSSLCERTIFICATESOFSERVICES: false
# For CS - if mismatch GW and DS then can't go through GW to hit CS
APIML_SERVICE_SSL_VERIFYSSLCERTIFICATESOFSERVICES: false

CACHING_STORAGE_MODE: 'redis'
CACHING_STORAGE_REDIS_MASTERNODEURI: 'default:heslo@{REDIS_MASTER_HOST}:6379'
CACHING_STORAGE_REDIS_SSL_ENABLED: {TLS}

# TODO sentinel
#CACHING_STORAGE_REDIS_SENTINEL_ENABLED: {SENTINEL}
#CACHING_STORAGE_REDIS_SENTINEL_MASTERINSTANCE: redismaster
#CACHING_STORAGE_REDIS_SENTINEL_NODES_0: sentinelpassword@localhost:26379
#CACHING_STORAGE_REDIS_SENTINEL_NODES_1: sentinelpassword@localhost:26380
#CACHING_STORAGE_REDIS_SENTINEL_NODES_2: sentinelpassword@localhost:26381

ZOSMF_APPLIEDAPARS: AuthenticateApar
