APIML_SERVICE_SSL_VERIFYSSLCERTIFICATESOFSERVICES: false
APIML_SERVICE_SSL_NONSTRICTVERIFYSSLCERTIFICATESOFSERVICES: false

CACHING_STORAGE_MODE: 'redis'
CACHING_STORAGE_REDIS_MASTERNODEURI: 'default:heslo@{REDIS_MASTER_HOST}:6379'
CACHING_STORAGE_REDIS_SSL_ENABLED: {TLS}

# TODO sentinel
#CACHING_STORAGE_REDIS_SENTINEL_ENABLED: {SENTINEL}
#CACHING_STORAGE_REDIS_SENTINEL_MASTERINSTANCE: redismaster
#CACHING_STORAGE_REDIS_SENTINEL_NODES_0: sentinelpassword@localhost:26379
#CACHING_STORAGE_REDIS_SENTINEL_NODES_1: sentinelpassword@localhost:26380
#CACHING_STORAGE_REDIS_SENTINEL_NODES_2: sentinelpassword@localhost:26381

ZOSMF_APPLIEDAPARS: AuthenticateApar
