@import "../src/components/App/App.css";
@import "../src/webflow.css";
@import "../src/components/Header/Header.css";
@import "../src/components/Tile/Tile.css";
@import "../src/components/Dashboard/Dashboard.css";
@import "../src/components/Search/search.css";
@import "../src/components/Spinner/Spinner.css";
@import "../src/components/Footer/footer.css";
@import "../src/components/DetailPage/DetailPage.css";
@import "../src/components/DetailPage/ReactRouterTabs.css";
@import "../src/components/Swagger/Swagger.css";
@import "../src/components/ServiceTab/ServiceTab.css";
@import "../src/components/ServiceVersionDiff/ServiceVersionDiff.css";
@import "../src/components/PageNotFound/PageNotFound.css";
@import "../src/components/ServicesNavigationBar/ServicesNavigationBar.css";
@import "../src/components/Wizard/wizard.css";
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
