# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build
/src/main/resources/static
/tools

# misc
.DS_Store
npm-debug.log*
debug.log
/report

# cypress
cypress/videos/
cypress/screenshots/
test-results/
