body {
  background: var( --surface00 );
  margin: 0;
  padding: 0;
  font-family: var( --fontFamily00 );
  color: var( --text10 );

  h1, h2, h3, h4, .MuiTypography-h1, .MuiTypography-h2, .MuiTypography-h3, .MuiTypography-h4 {
    // font-weight: var( --fontWeightLight );
    margin: var( --spaceMedium ) 0;
  }
  h1, .MuiTypography-h1 {
    font-size: var( --fontHuge );
  }
  h2, .MuiTypography-h2 {
    font-size: var( --fontLargest );
  }
  h3, .MuiTypography-h3 {
    font-size: var( --fontLarger );
  }
  h4, .MuiTypography-h4 {
    font-size: var( --fontMedium );
  }
  .MuiTypography-colorPrimary {
    color: var( --control00 );
  }
  ul {
    padding: 0px;

    li {
      list-style: none;
    }
    &.tab {
      display: flex;

      li:not(:first-child) {
        margin-left: var( --spaceSmaller );
      }
    }
  }//end ul
  
  small {
    margin: var( --spaceSmaller) 0;
    display: block;
  }
  p {
    margin: 0px;
  }

  .content {
    &, .main-content {
      display: flex;
      flex-direction: column;
    }
    > .header {
      align-items: center;

      .MuiButton-endIcon {
        margin-left: 0px;
      }
    }

    .main-content {
      padding: 0 var(--spaceSmall ) var(--spaceSmall );
      width: 70vw;
      margin: 0 auto;
    }
    .scrollable-flex-content {
      flex: 100%;
      overflow: auto;
    }
  }//end content

  a, a.MuiTypography-colorPrimary {
    &:not(.nostyle) {
      color: var( --link10 );

      &:not(:disabled):hover {
        color: var( --link10Hover );
        cursor: pointer;
      }
    }
  }//end a

  button {
    &.MuiIconButton-root,
    &.MuiButtonBase-root,
    &.btn,
    &.tablinks {
      padding: var( --spaceSmallest ) var( --spaceSmall );
      font-size: var( --fontSmall );
      border: 1px solid var( --controlText15 );
      color: var( --controlText15 );
      border-radius: var( --borderRadius1 );
      display: flex;
      align-items: center;

      svg {
        fill: var( --controlText15 );

        &:last-child {
          margin-left: var( --spaceSmallest );
        }
        &:first-child {
          margin-right: var( --spaceSmallest );
        }
      }
    }
    &.MuiButton-outlined {
      padding: 0px var( --spaceSmall );
    }
  }//end button

  input {
    &[type=text] {
      border: 1px solid var( --input00Bc );
      background: var( --input00Bg );
      color: var( --text10 );
      border-radius: var( --borderRadius1 );
      padding: var( --spaceSmallest ) var( --spaceSmall );
      transition: box-shadow .5s ease, border-color .5s ease;

      &:hover {
        border-color: var( --input00BcHover );
      }
      &:focus {
        border-color: var( --input00BcFocus );
        box-shadow: var( --inputEffect00Focus );
      }
      &:disabled {
        border-color: var( --input00BcDisabled );
        background: var( --input00BgDisabled );
      }
    }
  }// end input

  select {
    font-size: var( --fontSmall );
    padding: var( --spaceSmaller) var( --spaceHuge ) var( --spaceSmaller) var( --spaceSmall );
    border: 1px solid var( --input00Bc );
    border-radius: var( --borderRadius1 );
    background: var( --surface15 ) url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAyMCI+ICAgIDxwYXRoIGQ9Ik0xMy40MTggNy44NTljLjI3MS0uMjY4LjcwOS0uMjY4Ljk3OCAwIC4yNy4yNjguMjcyLjcwMSAwIC45NjlsLTMuOTA4IDMuODNjLS4yNy4yNjgtLjcwNy4yNjgtLjk3OSAwbC0zLjkwOC0zLjgzYy0uMjctLjI2Ny0uMjctLjcwMSAwLS45NjkuMjcxLS4yNjguNzA5LS4yNjguOTc4IDBMMTAgMTFsMy40MTgtMy4xNDF6Ii8+PC9zdmc+) right 10px center no-repeat;
    background-size: 20px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .25);
    font-family: Titillium Web, sans-serif;
    color: var( --text20 );
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
  }
}