body {
  background: var( --surface00 );
  margin: 0;
  padding: 0;
  font-family: var( --fontFamily00 );
  color: var( --text10 );
  height: 100%;
  min-height: 100vh;

  * {
    box-sizing: border-box;
  }
  h1, h2, h3, h4, h5, h6, .MuiTypography-h1, .MuiTypography-h2, .MuiTypography-h3, .MuiTypography-h4, .MuiTypography-h5, .MuiTypography-h6 {
    margin: var( --spaceMedium ) 0;
  }
  h1, .MuiTypography-h1 {
    font-size: var( --fontHuge );
  }
  h2, .MuiTypography-h2 {
    font-size: var( --fontLargest );
  }
  h3, .MuiTypography-h3 {
    font-size: var( --fontLarger );
  }
  h4, .MuiTypography-h4,
  h5, .MuiTypography-h5 {
    font-size: var( --fontMedium );
  }
  #grid-container,
  .main-content2,
  .nav-bar {
    height: var( --contentHeightAdj );
    overflow: auto;
  }
  .title1, .title2 {
    font-weight: var( --fontWeightMedium );
    color: var( --controlText15 );
  }
  .title1 {
    font-size: var( --fontLarger );
  }
  .title2 {
    font-size: var( --fontLarge );
  }
  .no-content {
    padding: var( --spaceLarger );
    text-align: center;
  }
  .MuiTypography-colorPrimary {
    color: var( --control00 );
  }
  .MuiTab-textColorInherit {
    opacity: 1;
  }
  .header-primary {
    color: var( --criticalShade10 );
    font-weight: var( --fontWeightMedium );
  }
  #onetrust-button-group-parent {
    margin-left: 2% !important;
  }
  
  .button-cta {
    background: var( --criticalShade10 );
    padding: var( --spaceSmaller ) var( --spaceSmall );
    border-radius: 3px;

    &:hover {
      background: var( --criticalShade00 );
    }
    &.feedback-button {
      border-radius: 24px;
      height: 30px;
      box-shadow: none;

      span {
        font-size: var( --fontSmall );
      }
    }
    &, * {
      color: var( --text100 );
      text-transform: none;
      line-height: 100%;
      font-size: var( --fontMedium );

      &:hover {
        text-decoration: none;
      }
    }
  }
  .MuiButton-root {
    &:not(:disabled) {
      &:hover {
        cursor: pointer;
      }
    }
    &.icon-btn {
      min-width: 0px;

      img {
        height: 22px;
      }
    }
  }
  .mobile-view {
    display: none !important;
  }
  .mobile-menu-close-ctn {
    justify-content: space-between;
  }
  .mobile-menu-trigger-ctn {
    margin-bottom: var( --spaceSmallest );

    .mobile-menu-trigger-btn {
      padding: 0px;

      &.MuiButton-root:hover {
        background-color: transparent;
      }
      .mobile-menu-trigger {
        margin-right: var( --spaceSmall );
        padding: var( --spaceTiny );
      }
    }
  }//end mobile-menu-trigger

  input[type=text], input[type=number], input[type=email], input[type=password], textarea, select, .MuiSelect-select, .MuiSelect-select.MuiSelect-select {
    padding: var( --spaceSmaller ) var( --spaceSmall );
    border: 1px solid var( --input00Bc );
    border-radius: var( --borderRadius1 );
  }
  .MuiOutlinedInput-root,
  .dashboard-content #search {
    input[type=text], input[type=number], input[type=email], input[type=password] {
      border: none;
    }
  }
  .input-error {
    &, &:focus, &:focus-visible {
      border-color: var( --criticalShade10 );
    }
    &[type=checkbox] {
      box-shadow: 0 0 1px 1px var( --criticalShade10 ) inset;
    }
  }

  .MuiTab-root {
    overflow: visible;
  }
  .MuiDialog-container {
    h1 {
      font-size: var( --fontLarger );
    }
    h2 {
      font-size: var( --fontLarge );
    }
    .MuiDialogActions-root {
      position: absolute;
      right: 0px;
      top: 0px;
      padding: 6px;
    }
    .MuiDialogContent-root {
      padding: var( --spaceMedium) var( --spaceLarger );
    }
    .MuiDialogTitle-root {
      padding: var( --spaceSmall ) var( --spaceSmall ) var( --spaceSmall ) var( --spaceLarger );
      margin: 0px;
      color: var(--controlText15);
      border-bottom: 1px solid var( --divider10 );

      h2 {
        margin: 0px;
      }
    }
  }//end dialog

  ul {
    padding: 0px;

    li {
      list-style: none;
    }
    &.tab {
      display: flex;

      li:not(:first-child) {
        margin-left: var( --spaceSmaller );
      }
    }
  }//end ul

  small {
    margin: var( --spaceSmaller) 0;
    display: block;
  }
  p {
    margin: 0px;
    font-weight: var( --fontWeightNormal );
  }

  .content {
    &, .main-content dashboard-content {
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }
    > .header {
      align-items: center;

      .MuiButton-endIcon {
        margin-left: 0px;
      }
    }

    .main-content {
      padding: 0 var( --contentPadding ) var( --contentPadding );
      width: 85vw;
      margin: 0 auto;
    }
    .scrollable-flex-content {
      flex: 100%;
      overflow: auto;
    }
    .main {
      display: flex;

      .nav-bar,
      .side-bar {
        overflow: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 368px;
        width: var( --sideNavWidth );
        min-width: var( --sideNavWidth );
        padding: var( --spaceSmall ) var( --sideNavRightPadding ) var( --sideNavBottomPadding ) var( --sideNavLeftPadding );
        position: relative;
      }

      .nav-bar {
        box-shadow: 0 0 6px hsl(210 14% 90%);
        background: var( --surface15 );

        > * {
          width: 100%;
        }
      }//end nav-bar

      .main-content2 {
        width: 100%;
        padding: var( --contentTopPadding ) var( --contentRightPadding ) var( --contentBottomPadding ) var( --contentLeftPadding );
        position: relative;
        overflow:auto;

        &:before {
          width: calc(100% - #{var( --contentLeftPadding )} - #{var( --spaceLarger )});
          height: 2px;
          background: var( --surface25 );
          content: "";
          position: absolute;
          top: 0;
          right: 0;
        }
        > * {
          width: 100%;

          &.MuiDivider-light {
            display: none;
          }
        }
      }//end main-content
    }
  }//end content

  a, a.MuiTypography-colorPrimary {
    &:not(.nostyle) {
      color: var( --link10 );

      &:not(:disabled):hover {
        color: var( --linkHover );
        cursor: pointer;
      }
    }
  }//end a

  .MuiInputBase-formControl {
    .visibility-icon {
      margin-right: var( --spaceNone );
      display: none;
    }
    &:hover .visibility-icon {
      display: block;
    }
    &.MuiInput-underline {
      &:before, &:after {
        display: none;
      }
    }
  }

  .btn-group {
    display: flex;

    > button:not(:last-child) {
      margin-right: var( --spaceSmaller );
    }
  }

  #tiles-service-title {
      font-family: var( --fontFamily00 );
      font-size: var(--spaceLarger);
      font-weight: var( --fontWeightBold);
      line-height: 28px;
      color: var( --text10 );
      text-align: left;
  }
  // button {
  &.MuiIconButton-root,
  &.MuiButtonBase-root,
  &.btn,
  &.tablinks {
    padding: var( --spaceSmallest ) var( --spaceSmaller );
    font-size: var( --fontSmall );
    border: 1px solid var( --controlText15 );
    color: var( --controlText15 );
    border-radius: var( --borderRadius1 );
    display: flex;
    align-items: center;
    cursor: pointer;
    background: var( --surface05 );

    &:hover {
      background: var( --surface15 );
    }

    svg {
      fill: var( --controlText15 );

      &:last-child {
        margin-left: var( --spaceSmallest );
      }
      &:first-child {
        margin-right: var( --spaceSmallest );
      }
    }

    &.MuiButton-containedPrimary,
    &#diff-button {
      background-color: var( --control00 );
      color: var( --text100 );
      border-color: var( --control00 );
    }
    &.Mui-disabled,
    &:disabled {
      background-color: var( --unknown10 ) !important;
      color: var( --controlText15Disabled ) !important;
      border-color: var( --controlText15Disabled ) !important;
    }
  }
  &.MuiButton-outlined {
    padding: 0px var( --spaceSmall );
  }
  // }//end button

  select, .MuiSelect-select, .MuiSelect-select.MuiSelect-select {
    font-size: var( --fontSmall );
    padding-right: var( --spaceHuge );
    border: 1px solid var( --input00Bc );
    border-radius: var( --borderRadius1 );
    background: var( --surface15 ) url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAyMCI+ICAgIDxwYXRoIGQ9Ik0xMy40MTggNy44NTljLjI3MS0uMjY4LjcwOS0uMjY4Ljk3OCAwIC4yNy4yNjguMjcyLjcwMSAwIC45NjlsLTMuOTA4IDMuODNjLS4yNy4yNjgtLjcwNy4yNjgtLjk3OSAwbC0zLjkwOC0zLjgzYy0uMjctLjI2Ny0uMjctLjcwMSAwLS45NjkuMjcxLS4yNjguNzA5LS4yNjguOTc4IDBMMTAgMTFsMy40MTgtMy4xNDF6Ii8+PC9zdmc+) right 10px center no-repeat;
    background-size: 20px;
    background-color: var( --surface05 );
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .25);
    color: var( --text20 );
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;

    &.MuiSelect-select {

      & ~ .MuiSvgIcon-root {
        display: none;
      }
    }
  }

  .MuiTabs-flexContainerVertical button.MuiButtonBase-root {
    border-radius: 0px;

    &:not(.Mui-selected) {
      border-color: transparent;
    }
  }
}

#ot-sdk-btn.ot-sdk-show-settings, #ot-sdk-btn.optanon-show-settings {
    display: none;
}
.App {
  height: 100dvh;
  overflow: hidden;
}
