.feedback-form-content {
    margin: auto;
    display: flex;
    width: auto;
    height: 100%;
}
dialog {
    top: 91%;
}

.feedback-dialog {
    .MuiPaper-root {
        width: 85vw;
        max-width: 900px;
    }
    .alert-dialog-title {
        display: flex;
        justify-content: space-between;

        .close-trigger {
            height: var( --spaceMedium );
        }
    }
    .form {
        font-family: var( --fontFamily00 );
        font-size: var( --fontSmall );
        
        h4 {
            color: var( --controlText15 );
            font-size: var( --fontLarger );
            font-weight: var( --fontWeightNormal ) !important;
            margin: 0px;
        }
        textarea {
            height: 250px;
            width: 100%;
            resize: none;
        }
        label {
            color: var(--text20)
        }
        p {
            color: #bf1650;
    
            &:before {
                display: inline;
                content: "⚠ ";
            }
        }

        .legalAgreementText {
            font-size: var( --fontSmaller );
        }
        .submitButton {
            padding: var( --spaceSmaller ) var( --spaceLarge );
            border: 1px solid #CC092F;
            border-radius: var( --borderRadius2);
            background-color: #CC092F;
            color: white;
            cursor: pointer;
            width: auto;
        }
        input[type=checkbox] {
            display: block;
            margin-right: var( --spaceSmaller );
        }
        > * {
            &:not(:first-child){
                @extend .mt-3;
            }
            &:not(.full-width) {
                width: calc(50% - calc(#{var( --spacing2 )} / 2))
            }
            label, input:not([type=checkbox]) {
                @extend .full-width;
            }
        }
    }
}