$color_1: var( --criticalShade10  );
$background-color_1: var( --surface05 );
$background-color_2: #f5f7fa;

body .detail-content {
  h6#resources-menu-title {
    color: $color_1;
  }
  h2#title {
    color: $color_1;
    font-weight: initial;
  }
  .swagger-ui {
    display: block;

    > div:first-child,
    .auth-wrapper > button,
    .loading-container,
    .loading-container .loading,
    .checkbox input[type=checkbox],
    table thead tr td,
    table thead tr th,
    .Resizer.vertical.disabled,
    #operations-apimlHidden-get_apimlHidden,
    #operations-tag-apimlNoTransformation,
    #operations-tag-apimlHidden,
    div.info > hgroup.main > a,
    svg.svg-assets {
      display: none;
    }

    .wrapper,
    .scheme-container {
      &.information-container,
      &.filter {
        margin-top: var( --spaceSmallest );

        a {
          @include blueLink();
        }
      }
      .servers-title {
        display: block;
        margin-bottom: var( --spaceSmaller );
      }
      label {
        & + span {
          margin-left: var( --spaceSmall );
          color: var( --text20 );
        }
      }

      .info {
        code {
          padding: var( --spaceSmallest);
          border-radius: var( --borderRadius1 );
          background: var( --surface105 );
          font-family: var( --fontFamilyMono );
          color: var( --textCode );
        }
        pre {
          font-family: var( --fontFamily00 );
          margin: 0px;
        }
        pre.base-url {
            visibility: hidden;
        }
        h2.title {
          @extend .MuiTypography-h4;
          margin-top: 0px;

          span {
            font-weight: normal;
            visibility: visible;
          }
        }
        .version {
          &:before {
            content: "Specification Version: ";
          }
        }

      }//end info
    }//end .wrapper, .scheme-container

    .description, .scheme-container, .info__extdocs, .info__license {
      display: none;
    }
    
  }//end swagger-ui

  .header {
    padding: var( --spaceSmallest ) 0;
    display: flex;
    flex-direction: column;
    background: var( --surface05 );

    > h4 {
      margin-top: 0px;
    }
    .MuiLink-root {
      margin-bottom: var( --spaceMedium );
    }
    .apiInfo-item {
      flex-direction: column;
    }
    h6 {
      display: flex;

      label {
        flex: 1;
        max-width: 130px;
      }
      span {
        flex: 1;
        font-weight: var( --fontWeightNormal );
      }
    }
  }

    #right-resources-menu {
        position: relative;
        float: right;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 4px;
        background: #F7F9FA;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 14px;
        margin-right: 30px;
        margin-top: -60px;
    }

    /* Extra small devices (phones, 1361px and down) */
    @media only screen and (max-width: 1361px) {
        #right-resources-menu {
            display: none;
        }
    }

    .links {
        display: flex;
        font-size: 14px;
    }
    #description {
        position: relative;
    }
    h4#description {
        display: contents;
        font-weight: initial;
    }
    #go-back-button {
        display: inline;
        margin-top: 20px;
        font-weight: bold;
        height: 32px;
        background-color: $background-color_1;
        padding-left: var( --spaceSmallest );
        cursor: pointer;
        color: $color_1;
        transition: .3s background-color;

        &:hover {
            background-color: $background-color_2;
        }
        .MuiSvgIcon-root {
          margin: 0px;
        }
    }

    .MuiSvgIcon-root.ChevronLeftIcon::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var( --criticalShade10 ); /* Change the icon color to red */
        pointer-events: none;
    }

    span.schemes-title {
        margin-right: var( --spaceSmaller );
    }

    .detailed-description-container {
        display: flow-root;
    }

    .btn > h4 {
        padding-right: 10px;
        padding-left: 10px;
        font-size: 13px;
    }
    // Copied from chrome inspector
    #swaggerContainer > div > div:nth-child(2) > div.information-container.wrapper > section > div > div > hgroup > h2 > span > small:nth-child(1) > pre {
      display: none;
    }
}
