body .detail-content {
  .swagger-ui {
    padding: var(--spaceMedium) var(--spaceSmall);
    display: block;

    > div:first-child,
    .auth-wrapper > button,
    .loading-container,
    .loading-container .loading,
    .checkbox input[type=checkbox],
    table thead tr td,
    table thead tr th,
    .Resizer.vertical.disabled,
    #operations-apimlHidden-get_apimlHidden,
    #operations-tag-apimlNoTransformation,
    #operations-tag-apimlHidden,
    div.info > hgroup.main > a,
    svg.svg-assets {
      display: none;
    }

    .wrapper,
    .scheme-container {
      margin-top: var( --spaceLargest );

      &.information-container, &.filter {
        margin-top: var( --spaceSmall );
      }
      .servers-title {
        display: block;
        margin-bottom: var( --spaceSmaller );
      }
      label {
        & + span {
          margin-left: var( --spaceSmall );
          color: var( --text20 );
        }
      }
      .models {
        .models-control,
        .model-box,
        .model-box-control {
          width: 100%;
          cursor: pointer;
        }
        .models-control,
        .model-box-control {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        .model-container {
          margin-bottom: var( --spaceSmallest );
        }
        .pointer {
          display: flex;
          justify-content: space-between;
        }
        .model-toggle {
          width: 20px;
          height: 20px;
          display: block;
          
          &:after {
            width: 20px;
            height: 20px;
            content: "";
            background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z'/%3E%3C/svg%3E") 50% no-repeat;
            background-size: 100%;
          }
        }
      }

      .info {
        code {
          padding: var( --spaceSmallest);
          border-radius: var( --borderRadius1 );
          background: var( --surface105 );
          font-family: var( --fontFamilyMono );
          color: var( --textCode );
        }
        pre {
          font-family: var( --fontFamily00 );
        }
        h2.title {
          @extend .MuiTypography-h4;
          margin-top: 0px;
        }
        .version {
          &:before {
            content: "API Version:";
          }
        }
      }//end info
    }//end .wrapper, .scheme-container 
  }//end swagger-ui

  .header {
    padding: var( --spaceMedium ) var( --spaceSmall );
    display: flex;
    flex-direction: column;
    background: var( --surface05 );

    > h4 {
      margin-top: 0px;
    }
    .MuiLink-root {
      margin-bottom: var( --spaceMedium );
    }
    .apiInfo-item {
      flex-direction: column;
    }
    h6 {
      display: flex;

      label {
        flex: 1;
        max-width: 130px;
      }
      span {
        flex: 1;
        font-weight: var( --fontWeightNormal );
      }
    }
  }
}