* {
    box-sizing: border-box;
}

.main-content2 detail-content {
    display: flex;
    height: 100vh;
    text-align: left;
    background-color: #EFEFEF;
}

.back-button {
    padding: 1rem;
}

.api-desc {
    background-color: #ffffff;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-bottom: #111 3px thin;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.opblock-summary-description {
    text-align: right;
}

.tile-desc {
    margin-top: .6rem;
    margin-bottom: .6rem;
}

.api-title-container {
    border-bottom: #111 3px thin;
    padding: .3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.back-button-container {
    float: left;
}

.detailed-description-container {
    text-align: left;
    overflow: hidden;
}

.api-description-container {
    margin-left: 375px;
    padding: 2.2rem;
}

#go-back-button > span > svg {
    margin: 0;
}

#swaggerContainer > div > div:nth-child(2) > div.information-container.wrapper > section > div > div > hgroup > h2 > small {
    display: block;
    background: transparent;
    padding: 0;
    margin: 0;
}

#go-back-button {
    margin-left: 56px;
    margin-top: 20px;
    font-size: 13px;
    font-weight: bold;
    width: fit-content;
    padding-left: .6rem;
    padding-right: .6rem;
    height: 32px;
    border-radius: 3px;
    background-color: #fff;
    cursor: pointer;
    color: #0c7bb3;
    transition: .3s background-color;
}

#go-back-button:hover {
    background-color: #f5f7fa;
}

#title {
    color: #58606e;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.0;
    margin-left: 56px;
}

#description {
    font-size: 16px;
    color: #58606e;
    line-height: 130%;
    width: 90%;
}

#service-tab {
    display: inline-block;
}

.no-tiles-container {
    margin-left: 2rem;
    text-align: left;
    overflow: hidden;
    width: 100%;
}

div.content-description-container > div > div:nth-child(2) > div {
    width: fit-content;
}

/*@media (min-width: 972px) {*/
    .api-description-container {
        background-image: url(../../assets/images/detail-Illustration.svg);
    }
/*}*/

#serviceIdTabs {
    color: black;
    font-size: 24px;
    font-weight: bold;
}

.nav-bar {
    max-width: 380px;
    min-height: 40vh;
    flex-direction: column;
    align-items: center;
    min-width: 368px;
    box-shadow: 0 0 6px hsl(210 14% 90%);
    padding: 10px 5px 16px 20px;
    flex: 1 0 0;
    width: auto;
    height: auto;
    display: table-column;
    float: left;
    position: relative;
    background: white;
}

.paragraph-description-container {
    width: auto;
    margin-left: 56px;
}

.content-description-container {
    margin-right: 92px;
}

@media only screen and (max-width: 600px) {
    .api-description-container {
        margin-left: 0;
    }
}

@media only screen and (max-width: 600px) {
    .nav-bar {
        width: 600px;
    }
}

.MuiTabs-root.custom-tabs.MuiTabs-vertical {
    margin-right: 12px;
}
