.nav-tab {
    background-color: #c8d1e0;
    display: inline-block;
    padding: 15px 25px 5px 25px;
}

.nav-tab.active {
    background-color: #fff;
    border-bottom: 1px solid #fff;
    cursor: default;
}

.tabs-container {
    padding-left: 2rem;
    background-color: #c8d1e0;
}

.tabs-swagger {
    display: flex;
    flex-direction: column;
}
