body {
  .MuiPaper-elevation1 {
    box-shadow: var( --surfaceEffect10 );
  }
  .MuiPaper-rounded {
    border-radius: var( --borderRadius1 );
  }

  .MuiCard-root {
    padding: 0;
    margin: var( --spaceSmallest ) var( --spaceSmaller ) var( --spaceMedium );
    overflow: visible;

    .MuiCardActionArea-focusHighlight,
    .MuiTouchRipple-root {
      display: none;
    }

    .card-action {
      &:hover, &:focus {
        cursor: pointer;
        box-shadow: 0 0 0 2px var( --linkHover ) inset;

        .tile-title #tiles-service-title {
          color: var( --linkHover );
        }
      }
      min-height: 72px;
    }

    .tile-title {
      .tile-desc {
        visibility: hidden;
        max-width: 500px;
        background-color: black;
        color: #fff;
        text-align: left;
        font-size: 16px;
        letter-spacing: 0.32px;
        line-height: 19px;
        border-radius: 6px;
        padding: 8px;
        position: absolute;
        z-index: 1;
        top: 90%;
        left: 60px;
      }
      &:hover .tile-desc {
        visibility: visible;
        transition-delay: 1s;
      }
  
      .tile-desc::after {
        content: " ";
        position: absolute;
        bottom: 100%;  /* At the top of the tooltip */
        left: 10%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent black transparent;
      }
    }

    .icon-ctn {
      display: flex;
      flex: 4 1;

      .media-labels {
        color: var(--criticalShade00);
      }
      svg path {
        fill: var( --criticalShade00 );
      }

      > * {
        display: flex;
        flex: 1 1;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: height .5s ease;

        .swagger-img {
          background-image: url(../../assets/images/swagger.svg);
        }
        &.disabled-counter {
          svg path {
            fill: var( --control00Disabled ) !important;
          }
          .media-labels {
            color: var( --control00Disabled ) !important;
          }
          .icon-img-ctn {
            box-shadow: 0 0 0 0 !important;
          }
        }

        .icon-img-ctn {
          display: flex;
          align-items: center;
          //height: 40px;
          padding: 8px;

          svg {
            width: 100%;
          }
          &:hover {
            box-shadow: 0 0 0 2px var( --linkHover );
            padding: 8px;

            svg path {
              fill: var( --linkHover );
            }
            .media-labels {
              color: var(--linkHover);
            }
          }
        }
      }
    }//end icon-ctn
  }//end card-root

  .MuiCardContent-root,
  .dashboard-grid-header {
    display: flex;
    align-items: center;
    &,
    > * {

      &.tile-description,
      &.description-header {
        flex: 1;
      }
      &#grid-tile-sso {
        flex: unset;
        margin: 0px var( --spaceLarge ) 0px var( --spaceLargest );
      }
      &.tile-description,
      &:first-child {
        text-align: left;
      }
      &:last-child {
        text-align: center;
      }
    }
  }//end card content

  .dashboard-grid-header {
    font-size: var( --fontSmall );
    padding: 0;
    padding-top: 0;
    padding-bottom: 0;

    > *:not(:last-child) {
      text-align: center;
    }
  }

    #videos {
        width: 30px;
        height: 20px;
    }
    #tutorials {
        height: 20px;
    }

    .MuiCardContent-root.tile {
        display: flex;
        padding-left: var( --spaceHuge );
    }
    .media-labels {
        font-size: 14px;
    }
    #tutorials-counter,
    #videos-counter {
      margin-right: var( --spaceSmaller );
    }
    .imageCounter {
      display: flex
    }
}

/* CSS styles for the container holding all the tiles */
.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/* CSS styles for each individual tile */
.grid-item {
    flex: 0 0 calc(25% - #{var( --space-medium )});
    margin: var( --spaceSmaller );
    position: relative; /* Add relative positioning to the tile */
}

/* CSS styles for media-icons group within each tile */
#media-icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1 1 0;
}

