body {
  .MuiPaper-elevation1 {
    box-shadow: var( --surfaceEffect10 );
  }
  .MuiPaper-rounded {
    border-radius: var( --borderRadius1 );
  }

  .MuiCard-root {
    padding: var( --spaceTiny );
    margin: var( --spaceSmallest ) var( --spaceSmaller ) var( --spaceMedium );

    &:hover {
      cursor: pointer;
      background: var( --surface15 );
    }
  }

  .MuiCardContent-root,
  .dashboard-grid-header {
    display: flex;
    align-items: center;
    &, &:last-child {
      // padding: var( --spaceLarge );
    }
    > * {

      &.tile-description,
      &.description-header {
        flex: 1;
      }
      &#grid-tile-sso {
        flex: unset;
        margin: 0px var( --spaceLarge ) 0px var( --spaceLargest );
      }
      &.tile-description,
      &:first-child {
        text-align: left;
      }
      &:last-child {
        text-align: center;
      }
    }
  }//end card content

  .dashboard-grid-header {
    font-size: var( --fontSmall );
    padding: 0;
    padding-top: 0;
    padding-bottom: 0;

    > *:not(:last-child) {
      text-align: center;
    }
  }

    #videos {
        width: 30px;
        height: 20px;
    }
    #tutorials {
        height: 20px;
    }

    .MuiCardContent-root.tile {
        display: flex;
    }
    .media-labels {
        font-size: 14px;
    }
    #videos-counter {
        color: #602C0A;
        margin-right: 5px;
    }
    #use-cases-counter {
        color: #D61A00;
    }
    #tutorials-counter {
        color: #9B51E0;
        margin-right: 5px;
    }
    .imageCounter {
      display: flex
    }
}

/* CSS styles for the container holding all the tiles */
.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/* CSS styles for each individual tile */
.grid-item {
    flex: 0 0 calc(25% - #{var( --space-medium )});
    margin: var( --spaceSmaller );
    position: relative; /* Add relative positioning to the tile */
}

/* CSS styles for media-icons group within each tile */
#media-icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1 1 0;
}

