.grid-tile {
    position: relative;
    overflow: hidden;
    height: 250px;
    width: 350px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    z-index: 0;
    transition: z-index .7s, box-shadow .7s;
    animation: pop .3s ease-in forwards;
    opacity: 0;
}

.css-vfxe48 {
    text-align: left;
}

.pop {
    position: relative;
    overflow: hidden;
    height: 79px;
    width: 1096px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    z-index: 0;
    transition: z-index .7s, box-shadow .7s;
}

@keyframes pop {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

.grid-tile:hover{
    cursor: pointer;
    z-index: 3;
    box-shadow: 0 15px 45px rgba(0,0,0,0.3);
}

.grid-tile-status {
    position: absolute;
    bottom: 0;
    left: 0;
}

.MuiSvgIcon-root {
    margin-right: 10px;
    margin-left: 10px;
}

h6.MuiTypography-root.MuiTypography-subtitle1 {
    margin-bottom: 11px;
    margin: 1px;
}

#grid-tile-sso {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 16px;
    margin-right: 12px;
    font-weight: 700;
}

.tile {
    text-align: left;
}

a {
    text-decoration: none;
}


@media only screen and (max-width: 530px) {
    .grid-tile {
        width: 360px;
    }
}

@media only screen and (max-width: 600px) {
    .grid-tile {
        width: 175%;
        height: 130px;
        margin: auto;
    }

    .grid-tile > .grid-tile-status {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    h6.MuiTypography-root.MuiTypography-subtitle1 {
        margin-bottom: 12px;
        margin: -11px;
    }
}

.card-action {
    position: relative;
    overflow: hidden;
    height: 79px;
    width: 1096px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    z-index: 0;
    transition: z-index .7s, box-shadow .7s;
}

#tiles-service-title {
    color: rgb(88, 96, 110);
    font-weight: bold;
}
