.filtering-container {
  width: 100%;
}


.clear-text-search {
    &:hover {
        cursor: pointer;
        float: right;
    }
}
.api-heading-container {
    float: left;
    .search-bar {
        height: 50px;
        width: 100%;
        font-style: italic;
        margin-top: 7px;
        margin-left: 40px;
        background: var( --surface05 );
        border: 1px solid var( --divider15 );
    }
}
#search-input {
    &:before {
        border-bottom: none;
    }
    &:after {
        border: none;
    }
    &:hover {
        &:not(.Mui-disabled) {
            &:before {
                border-bottom: none;
            }
        }
    }
    position: absolute;
    font-style: italic;
    right: 10px;
}
.MuiFormControl-root.MuiTextField-root.search-bar {
    display: contents;
}
@media only screen and (max-width: 530px) {
    .api-heading-container {
        .search-bar {
            width: 360px;
        }
    }
}
@media only screen and (max-width: 390px) {
    .api-heading-container {
        .search-bar {
            width: 320px;
        }
    }
}
