.clear-text-search:hover {
    cursor: pointer;
    float: right;
}

.filtering-container {
    float: left;
}

#search-input:before {
    border-bottom: none;
}

#search-input:after {
    border: none;
}
#search-input:hover:not(.Mui-disabled):before {
    border-bottom: none;
}

.MuiFormControl-root.MuiTextField-root.search-bar {
    display: contents;
}

#search > div > div > input {
    margin-left: 40px;
    margin-top: 6px;
    font-style: italic;
}

svg.MuiSvgIcon-root.clear-text-search {
     margin-left: 180px;
}

.clear-text-search {
    margin-top: 10px;
}

.filtering-container .search-bar {
    height: 50px;
    width: 422px;
    font-style: italic;
    margin-top: 7px;
    margin-left: 40px;
    background: #FFFFFF;
    border: 1px solid #C9C8C5;
}

#search-input {
    font-style: italic;
    margin-top: 7px;
    margin-left: 40px;
}

#search-icon {
    position: relative;
    float: left;
    margin-top: 10px;
    margin-left: 200px;
}

@media only screen and (max-width: 530px) {
    .filtering-container .search-bar {
        width: 360px;
    }
}

@media only screen and (max-width: 390px) {
    .filtering-container .search-bar {
        width: 320px;
    }
}
