.clear-text-search:hover {
    cursor: pointer;
    float: right;
}

.api-heading-container {
    float: left;
}

#search-input:before {
    border-bottom: none;
}

#search-input:after {
    border: none;
}
#search-input:hover:not(.Mui-disabled):before {
    border-bottom: none;
}

.MuiFormControl-root.MuiTextField-root.search-bar {
    display: contents;
}

#search > div > div > input {
    font-style: italic;
   padding-left: 10px;
   padding-right: 40px;
   padding-top: 15px;
}

svg.MuiSvgIcon-root.clear-text-search {
     margin-left: 142px;
}

.clear-text-search {
    margin-top: 10px;
}

.api-heading-container .search-bar {
    height: 50px;
    width: 422px;
    font-style: italic;
    margin-top: 7px;
    margin-left: 40px;
    background: #FFFFFF;
    border: 1px solid #C9C8C5;
}

#search-input {
    position: absolute;
    right: 5px;
    font-style: italic;
}

#search-icon {
    margin-top: 10px;
}

@media only screen and (max-width: 530px) {
    .api-heading-container .search-bar {
        width: 360px;
    }
}

@media only screen and (max-width: 390px) {
    .api-heading-container .search-bar {
        width: 320px;
    }
}

@media only screen and (max-width: 600px) {
    #search-icon {
        margin-left: auto;
    }
}

@media only screen and (max-width: 600px) {
    svg.MuiSvgIcon-root.clear-text-search
    {
        margin-left: auto;
    }
}
