<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property resource="application.yml" />

    <turboFilter class="org.zowe.apiml.product.logging.UseridFilter"/>
    <turboFilter class="org.zowe.apiml.product.logging.ApimlDependencyLogHider"/>
<!--    <turboFilter class="org.zowe.apiml.product.logging.LogLevelInfoFilter"/>-->
<!--    <turboFilter class="ch.qos.logback.classic.turbo.DuplicateMessageFilter">-->
<!--        <AllowedRepetitions>0</AllowedRepetitions>-->
<!--    </turboFilter>-->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS,UTC} %clr(&lt;${logbackService:-${logbackServiceName}}:%thread:${PID:- }&gt;){magenta} %X{userid:-} %clr(%-5level) %clr(\(%logger{15}\)){cyan} %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
