$red-selected-bx: 0 0 0 2px var( --criticalShade10 ) inset;

#serviceIdTabs {
    margin-bottom: var( --spaceSmall );
    font-weight: bold;
}
#search_no_results {
    margin: auto;
    color: var( --criticalShade10 );
}
.MuiTab-wrapper {
    width: 100%;
    text-align: initial;
    flex-direction: column;
}
span.MuiTab-wrapper {
    display: inline-block;
}
.MuiTabs-root {
    margin-left: var( --spaceHuge );
}
.MuiTabs-scroller.MuiTabs-scrollable > div > a {
    background: var( --surface05 );
    width: calc(100% - 4px);
    max-width: 100%;
    margin: 0 auto var( --spaceSmaller );
    text-transform: none;
    font-size: var( --spaceMedium );
    height: 54px;
}
.MuiTabs-root.custom-tabs.MuiTabs-vertical {
    margin-left: auto;
}
svg.MuiSvgIcon-root.clear-text-search {
    margin-left: 120px;
    margin-bottom: var( --spaceTiny );
}
.tabs {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    background: var(--white-ffffff, var( --surface05 ));
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
.MuiTabs-flexContainerVertical {
    margin-bottom: var( --spaceSmaller );
}

.custom-tabs {
    .MuiTabs-indicator {
        display: none;
    }
    .tabs {
        &.Mui-selected {
            box-shadow: $red-selected-bx;
        }
        &:hover {
            box-shadow: $red-selected-bx;
        }
    }
}// end .custom-tabs

#search2 {
    margin: var( --spaceSmall ) var( --spaceSmall ) 0 var( --spaceSmaller );
    height: 47px;
    background: var( --surface05 );
    border: 1px solid var( --divider15 );
    border-radius: var( --borderRadius1 );

    .MuiInput-root {
        width: 100%;
    }
    >div {
        >div {
            >input {
                padding-left: var( --spaceMedium );
                padding-right: var( --spaceHuge );
                padding-top: var( --spaceSmall );
            }
            >div {
                margin-right: 0;

                > #search-icon {
                    margin-top: var( --spaceSmaller );
                }
                &#search-input {
                    right: var( --spaceSmallest );
                }
            }
        }
    }
}//end search2
