$color_1: #50b7f5;
$background-color_1: #EFEFEF;
$color_2: #CC092F;

#search2 {
    margin-top: 10px;
    height: 47px;
    background: #FFFFFF;
    border: 1px solid #C9C8C5;
    margin-right: 13px;
    margin-bottom: 9px;

    .MuiInput-root {
        width: 100%;
    }
    >div {
        >div {
            >input {
                padding-left: 16px;
                padding-right: 40px;
                padding-top: 14px;
            }
            >div {
                >#search-icon {
                    margin-top: 7px;
                }
                margin-right: 0;
                &#search-input {
                    right: 5px;
                }
            }
        }
    }
}

#serviceIdTabs {
    margin-bottom: 10px;
    font-weight: bold;
}

#search_no_results {
    margin: auto;
    color: $color_2;
}

.MuiTab-wrapper {
    width: 100%;
    text-align: initial;
    flex-direction: column;
}

span.MuiTab-wrapper {
    display: inline-block;
}

.MuiTabs-root {
    margin-left: 39px;
}

.MuiTabs-scroller.MuiTabs-scrollable > div > a {
    background: var(--white-ffffff, #FFF);
    max-width: 353px;
    margin-bottom: 5px;
    text-transform: none;
    font-size: 16px;
}

.MuiTabs-root.custom-tabs.MuiTabs-vertical {
    margin-left: auto;
}

svg.MuiSvgIcon-root.clear-text-search {
    margin-left: 120px;
    margin-bottom: 3px;
}


.tabs {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    background: var(--white-ffffff, #FFF);
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.MuiTab-wrapped {
    height: 60px;
}

.custom-tabs .MuiTabs-indicator {
    display: none;
}

.custom-tabs .tabs:hover {
    border: 4px solid $color_2;
}

.custom-tabs .tabs.Mui-selected {
    border: 4px solid $color_2;
}

.MuiTabs-flexContainerVertical {
    margin-bottom: 7px;
}
