#search_no_results {
    color: #1d5bbf;
}

.tabs {
    height: 100%;
    display: flex;
    padding: 10px 5px 10px 20px;
    align-items: center;
    gap: 10px;
    width: auto;
    background: var(--white-ffffff, #FFF);
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.25);
}

#search2 {
    height: 47px;
    background: #FFFFFF;
    border: 1px solid #C9C8C5;
    margin: 5px 14px 9px -1px;
}

#search2 .MuiInputBase-root {
    width: 100%;
}

#search2 > div > div > input {
    padding-left: 10px;
    padding-right: 40px;
    padding-top: 14px;
}

#search2> div> div> div> #search-icon {
    margin-top: 7px;
}

#serviceIdTabs {
    margin-bottom: 10px;
    margin-left: -4px;
}

.MuiTab-root :hover {
    background-color: #efefef;
    color: #0056B3;
    transition: color 100ms ease-out;
}

span.MuiTab-wrapper {
    display: inline-block;
    width: 500px;
}

.MuiTabs-root {
    margin-left: -10px;
}
.MuiTabs-root > div:nth-child(2) {
    padding-top: 2px;
}

.MuiTabs-scroller.MuiTabs-scrollable > div > a {
    margin-left: 8px;
    margin-right: 2px;
    max-width: 370px;
    margin-bottom: 5px;
    text-transform: none;
    font-size: 16px;
}

.MuiTab-wrapped {
    height: 60px;
}
.tab.MuiTab-root {
    color: #000;
}

.custom-tabs .MuiTabs-indicator {
    display: none;
}

.custom-tabs .tabs:hover {
    border: 4px solid #0056B3;
}

.custom-tabs .tabs.Mui-selected {
    border: 4px solid #0056B3;
}

svg.MuiSvgIcon-root.clear-text-search {
    margin-bottom: 3px;
}
