$font-family_1: "Open Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

.swagger-ui {
    .apiInfo-item {
        line-height: 1.5;

        span {
            display: inline;
            font-size: 13px;
            font-family: $font-family_1;
            line-height: 1.5;
        }
    }
}
a.nav-tab {
    display: flex;
    align-items: baseline;

    >svg {
        text-align: center;
        margin-left: var( --spaceSmallest );
        padding-top: var( --spaceSmallest );
    }
}
p.MuiTypography-root.version-text.MuiTypography-body1 {
    font-size: var( --fontSmall );
    font-weight: bold;
}
#swagger-label {
    margin: 0 0 var( --spaceSmall );
}
#version-label {
    margin-top: var( --spaceMedium );
    color: var( --surface100 );
}
#compare-button {
    font-size: var( --fontSmaller );
    border: 1px solid var( --link20 );
    text-transform: none;

    p {
        font-weight: var( --fontWeightNormal );
        font-size: var( --fontSmaller );
    }
}
body #version-div {
    display: flex;
    flex-wrap: wrap;

    > .MuiInputBase-root {
        margin-right: var( --spaceSmall );
    }
    > * {
        margin: 0 var( --spaceSmall ) var( --spaceSmall ) 0;
    }
    .MuiSelect-select, button.MuiButtonBase-root {
        padding-top: var( --spaceTinier );
        padding-bottom: var( --spaceTineier );
    }
}
#detail-footer {
    margin-left: var( --spaceSmall );
    margin-bottom: var( --spaceLargest );
    display: grid;
}
.footer-labels {
    margin-bottom: -2px;
    color: var( --criticalShade10 );
    font-size: var( --fontLarger );
    letter-spacing: 0.5px;
}
#no-tiles-error {
    font-size: var( --fontMedium );
    color: var( --criticalShade10 );
}
#more-videos-button {
    margin-top: 13px;
    padding: 0;
}
#more-tutorials-button {
    width: fit-content;
    border-radius: 3px;
    border: 1px solid var(--tertiary, #0056B3);
    margin-top: 13px;
    padding: 8px 12px;
}
.BlogsContainer {
    width: 177.667px;
    height: 174px;
    display: inline-table;
}
.blogs-image {
    width: 177.667px;
    height: 174px;
}
.PostContainer {
    display: inline-table;
    margin-right: 25px;
}
