$font-family_1: "Open Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

.swagger-ui {
    .apiInfo-item {
        line-height: 1.5;

        span {
            display: inline;
            font-size: 13px;
            font-family: $font-family_1;
            line-height: 1.5;
        }
    }
}
a.nav-tab {
    display: flex;
    align-items: baseline;

    >svg {
        text-align: center;
        margin-left: var( --spaceSmallest );
        padding-top: var( --spaceSmallest );
    }
}
p.MuiTypography-root.version-text.MuiTypography-body1 {
    font-size: var( --fontSmall );
    font-weight: bold;
}
#swagger-label {
    margin: 0 0 var( --spaceSmall );
}
#version-label {
    margin-top: var( --spaceSmaller );
    color: var( --text20 );
}
#compare-button {
    font-size: var( --fontSmaller );
    border: 1px solid var( --link20 );
    text-transform: none;

    p {
        font-weight: var( --fontWeightNormal );
        font-size: var( --fontSmaller );
    }
}
body #version-div {
    display: flex;
    flex-wrap: wrap;

    > .MuiInputBase-root {
        margin-right: var( --spaceSmall );
    }
    > * {
        margin: 0 var( --spaceSmall ) var( --spaceSmall ) 0;
    }
    .MuiSelect-select, button.MuiButtonBase-root {
        padding-top: var( --spaceTinier );
        padding-bottom: var( --spaceTineier );
    }
}
#detail-footer {
    margin-bottom: var( --spaceMedium );
    display: grid;
}
.footer-labels {
    margin-bottom: -2px;
    color: var( --criticalShade10 );
    font-size: var( --fontLarger );
    letter-spacing: 0.5px;
}
#no-tiles-error {
    font-size: var( --fontMedium );
    color: var( --criticalShade10 );
}
#more-videos-button {
    margin-top: 13px;
    margin-right: auto;
    padding: 0;
}
button.MuiButtonBase-root.MuiIconButton-root.more-content-button {
    @extend .button-link;
    width: fit-content;
    border-radius: 3px;
    margin-left: 25%;
    border: 1px solid var(--tertiary, #0056B3);
    margin-top: 13px;
    padding: 8px 12px;
    align-items: center;
}
#blogs-container {
    margin-top: var( --spaceLarger);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: stretch;
    grid-gap: var( --spaceLarger);

    &.use-cases {
        display: block;
    }
}
.blogs {
    margin-bottom: var(--spaceLarger);
    margin-top: var(--spaceHuge);
}
.BlogsContainer {
    
    border-radius: 5px;
    background: var(--surface00);
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
    border: 1px;

    
}
.blogs-image {
    width: 229px;
    height: 174px;
}
.service-doc-link {
    color: var( --link20 );
}
.video-responsive {
    display: inline-table;
    margin-right: var( --spaceLarger );
    margin-top: var( --spaceLarger );
}
.blog_content_link {
    text-decoration: none;
    padding: var(--spaceSmaller) var( --spaceLarger );
    border-radius: var( --borderRadius2 );
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
    height: 300px;
    background-color: var( --surface05 );
    text-align: left;
    display: inline-grid;
    grid-template-rows: min-content auto min-content;
    overflow: hidden;
    width: 100%;
    border: 1px solid transparent;

    &:hover, &:focus {
        border-color: var( --linkHover );

        &, * {
            color: var( --text10 );
        }
    }

    &.no_title{
        height: auto;
        min-height: 150px;
        max-height: 300px;
        grid-template-rows: auto min-content;
        border: 1px solid transparent;

        &:hover, &:focus {
            border-color: var( --linkHover );
    
            &, * {
                color: var( --text10 );
            }
        }
    }
}
.blog-title {
    font-size: var( --fontLarge );
}
.pub-date {
    color: var(--text-secondary, #3B4151);
}
.blog-description {
    color: var(--text-secondary, #3B4151);
    overflow: hidden;
    position: relative;

    &.no_title{
        margin-top: var(--spaceMedium);
        max-height: 216px;
    }
  
    &:after {
        content: "";
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 2.5em;
        background: linear-gradient(rgba(255, 255, 255, 0), var( --surface05 ) 95%);
    }
}

.blog-learn {
    color: var(--criticalShade10) !important;
    font-weight: 400;
    margin-top: 0;
    
    svg {
        margin-left: var( --spaceSmaller );
        path {
            fill: var( --criticalShade00 );
        }
    }
}
.author {
    color: var(--text-secondary, #3B4151);
}

#single-api-version-label {
    margin-left: 5px;
    margin-top: var( --spaceSmaller );
}
@media only screen and (max-width: 1199px) {
    #blogs-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 767px) {
    #blogs-container {
        grid-template-columns: repeat(1, 1fr);
    }
}