@media screen and (max-width: 768px) {
  body {
    .filtering-container {
      width: 100%;
    }
    .mobile-view {
      display: flex !important;
    }
    .desktop-view,
    .floating-button {
      display: none !important;
    }
    .feedback-dialog .form textarea {
      height: 150px;
    }
    #swagger {
      flex-direction: row;
      justify-content: flex-end;
    }
    .header {
      #doc, .product-name {
        margin-right: var( --spaceSmaller );
      }
      .right-icons {
        display: none;
      }
      .product-name {
        min-width: 27px;
      }
      .mobile-view:not(.mobile-menu-trigger-ctn) {
        display: none !important;
      }
    }//end header

    &.mobile-menu-open {
      &, .App, .main-content2 {
        overflow: hidden !important;
      }
      .dashboard-mobile-menu .header .right-icons {
        display: flex;
      }
      .main-content2, .header {
        filter: blur(1px);
        -webkit-filter: blur(1px);
      }
      &:after {
        content: "";
        background-color: var( --unknown10 );
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: .7;
        left: 0;
        top: 0px;
      }
      .content .main .nav-bar,
      .dashboard-mobile-menu {
        left: 0;
      }
      .dashboard-mobile-menu {
        .header {
          filter: blur(0px);
          -webkit-filter: blur(0px);

          .mobile-view {
            display: flex !important;
          }
          .feedback-button {
            height: auto;

            * {
              color: var( --text10 );
            }
            svg {
              rect {
                fill: var( --text10 );
              }
              path {
                fill: var( --surface05 );
              }
            }
          } 
          .right-icons a {
            width: 100%;
          }
        }
      }
    }//end mobile-menu-open

    .content {
      .main-content {
        width: calc(100vw - calc(#{var( --contentPadding )} * 2));

        #media-icons, .dashboard-grid-header {
          display: none;
        }
        &.homepage-content {
          .homepage-cards {
            flex-direction: column;

            > div {
              &, > a:not(:first-child), > button:not(:first-child) {
                margin: var( --spaceMedium ) 0 0;
              }
            } 
          }
        }
      }
      .main {
        --sideNavWidth: var( --sideNavMobileWidth );
        --sideNavRightPadding: var( --spaceSmall );

        .side-bar {
          display: none;
        }
        .nav-bar {
          @include mobileNav();
        }
        .main-content2 {
          --contentLeftPadding: var( --spaceMedium );
          --contentRightPadding: var( --spaceMedium );
          width: 100%;
          overflow: auto;

          &:before {
            width: 100%;
          }
        }
      }//end main
    }//end content

    .api-diff-form {
      flex-wrap: wrap;

      .MuiFormControl-root, button, p {
        width: 100%;
      }
      button {
        margin-top: var( --spaceMedium );
      }
      > *:not(:last-child) {
        margin-right: 0px;
        margin-bottom: var( --spaceSmaller );
      }
    }//end api-diff-form
  }//end body
}

@media screen and (max-width: 1024px) {
  body .content .homepage-content {
    .homepage-header .homepage-header-images {
      display: none;
    }
    .homepage-cards {
      > div > a:not(:first-child),
      > div > button:not(:first-child) {
        margin: var( --spaceMedium ) 0 0;
      }
      > div {
        flex-direction: column;
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  body .content .homepage-content .homepage-header > div:first-child h1 {
    font-size: 45px;
  }
}