@media screen and (max-width: 768px) {
  body {
    .filtering-container {
      width: 100%;
    }
    .content {
      .main {
        .side-bar {
          display: none;
        }
        .main-content2 {
          width: calc(100% - #{var(--sideNavWidth)} - #{var(--contentLeftPadding)});
          overflow: auto;
        }
        .main-content {
          width: calc(100vw - calc(#{var( --contentPadding )} * 2));
        }
      }
    }

    .api-diff-form {
      flex-wrap: wrap;

      .MuiFormControl-root, button, p {
        width: 100%;
      }
      button {
        margin-top: var( --spaceMedium );
      }
      > *:not(:last-child) {
        margin-right: 0px;
        margin-bottom: var( --spaceSmaller );
      }
    }
  }//end body
}