@media screen and (max-width: 768px) {
  body {
    .filtering-container {
      width: 100%;
    }
    .mobile-view {
      display: flex !important;
    }
    .header {
      #doc, .product-name {
        margin-right: var( --spaceSmaller );
      }
      .product-name {
        min-width: 27px;
      }
      .mobile-view:not(.mobile-menu-trigger-ctn) {
        display: none !important;
      }
    }//end header

    &.mobile-menu-open {
      &, .App, .main-content2 {
        overflow: hidden !important;
      }
      .main-content2, .header {
        filter: blur(1px);
        -webkit-filter: blur(1px);
      }
      &:after {
        content: "";
        background-color: var( --unknown10 );
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: .7;
        left: 0;
        top: 0px;
      }
      .content .main .nav-bar,
      .dashboard-mobile-menu {
        left: 0;
      }
      .dashboard-mobile-menu {
        .header {
          filter: blur(0px);
          -webkit-filter: blur(0px);

          .mobile-view {
            display: flex !important;
          }
        }
      }
    }//end mobile-menu-open

    .content {
      .main-content {
        width: calc(100vw - calc(#{var( --contentPadding )} * 2));

        #media-icons, .dashboard-grid-header {
          display: none;
        }
      }
      .main {
        --sideNavWidth: var( --sideNavMobileWidth );
        --sideNavRightPadding: var( --spaceSmall );

        .side-bar {
          display: none;
        }
        .nav-bar {
          @include mobileNav();
        }
        .main-content2 {
          --contentLeftPadding: var( --spaceMedium );
          --contentRightPadding: var( --spaceMedium );
          width: 100%;
          overflow: auto;

          &:before {
            width: 100%;
          }
        }
      }//end main
    }//end content

    .api-diff-form {
      flex-wrap: wrap;

      .MuiFormControl-root, button, p {
        width: 100%;
      }
      button {
        margin-top: var( --spaceMedium );
      }
      > *:not(:last-child) {
        margin-right: 0px;
        margin-bottom: var( --spaceSmaller );
      }
    }//end api-diff-form
  }//end body
}