@mixin blueLink() {
  color: var( --link20 );
  cursor: pointer;
  text-decoration: none;

  &:hover, &:focus {
    color: var( --link20Hover );
    text-decoration: underline;
  }
  &:visited {
    color: var( --link20Visited );
  }
  &:disabled,
  &.Mui-disabled {
    color: var( --text20Disabled );
    cursor: default;
    pointer-events: none;
  }
}

@mixin mobileNav() {
  position: absolute;
  top: 0;
  height: 100dvh;
  left: calc(calc(#{var(--sideNavWidth)} * -1) - calc(#{var(--sideNavLeftPadding)} + var(--sideNavRightPadding)));
  width: var( --sideNavWidth );
  z-index: 2;
  background-color: var( --surface05 );
  transition: left .5s ease;
}