@mixin blueLink() {
  color: var( --link20 );
  cursor: pointer;

  &:hover {
    color: var( --link20Hover );
  }
  &:visited {
    color: var( --link20Visited );
  }
  &:disabled,
  &.Mui-disabled {
    color: var( --text20Disabled );
    cursor: default;
  }
}

@mixin mobileNav() {
  position: absolute;
  top: 0;
  height: 100dvh;
  left: calc(calc(#{var(--sideNavWidth)} * -1) - calc(#{var(--sideNavLeftPadding)} + var(--sideNavRightPadding)));
  width: var( --sideNavWidth );
  z-index: 2;
  background-color: var( --surface05 );
  transition: left .5s ease;
}