:root {
  --contentPadding: var( --spaceSmall );
  //font family
  --fontFamily00: "Roboto", "Helvetica", "Arial", sans-serif;
  --fontFamilyMono: "Source Code Pro", monospace;
  //bg colors
  --surface00:  var(--light-primary-alternate-shade-ffffff, #FFF);

  --surface05: #fff;
  --surface10: rgba(255, 255, 255, 0.9);
  --surface15: #F8F9FB;
  --surface20: rgba(245, 246, 250, 0.9);
  --surface25: rgba(233, 236, 247, 0.9);
  --surface35: #E0E9EB;

  --surface100: #000;
  --surface105: #333840;

  --success05:rgba(80, 227, 194, 0.10);
  --success10:#49CC90;
  --success20: #50E3C2;

  --info05: rgba(97, 175, 254, 0.10);
  --info10: #61AFFE;

  --critical05: rgba(249, 62, 62, 0.10);
  --critical10: #F93E3E;

  --warn05: rgba(252, 161, 48, 0.10);
  --warn10: #FCA130;

  --unknown10: #E9E8E5;

  --highlight10: #d8fa3c;

  // shadows
  --surfaceEffect10: 0px 3px 5px 1px rgba(0, 0, 0, 0.2);

  //borders
  --divider00: #E0E4EB;
  --divider10: #D1D7E0;
  --divider15: #C9C8C5;
  --divider20: #BDC9DB;
  --divider30: #80a3df;

  //text/link colors
  --text10: #000;
  --text10Disabled: rgba(0, 0, 0, 0.54);
  --text15: rgba(0, 0, 0, 0.7);
  --text20: #3B4151;
  --text20Disabled: rgba(0, 0, 0, 0.56);
  --text25: rgba(0, 0, 0, 0.75);
  --placeholder10: rgba(0, 0, 0, 0.46);
  --link10: #000;
  --link10Hover: #CC092F;
  --link10Visited: #631AFF;
  --link20: #0056B3;
  --link20Hover: #0030B3;
  --link20Visited: #5200FF;

  --linkHover: #007BFF;

  --text100: #fff;

  --textCode: #9012fe;

  //action/icon colors
  --control00: #1c54c4;
  --control00Hover: #0a285e; 
  --control00Active: #0a285e;
  --control00Disabled: rgba(140, 143, 151, 0.9);

  --control10: #d3e0f4;
  --control10Hover: #abc2e9; 
  --control10Active: #abc2e9;
  --control10Disabled: rgba(140, 143, 151, 0.9);

  --controlText15: #CC092F;
  --controlText15Hover: #0E478B;
  --controlText15Disabled: rgba(115, 127, 141, 0.95);

  //input
  --input00Bg: var( --surface05 );
  --input00BgDisabled: rgba(56, 70, 72, 0.15);
  --input00Bc: rgba(56, 70, 72, 0.6);
  --input00BcHover: rgba(56, 70, 72, 0.85);
  --input00BcActive: rgba(56, 70, 72, 0.5);
  --input00BcFocus: rgba(56, 70, 72, 0.5);
  --input00BcDisabled: rgba(56, 70, 72, 0.3);
  --inputEffect00Focus: 0 -1px 0px #{var( --control00 )} inset;

  --criticalShade10: #CC092F;
  --criticalShade00: #D61A00;

  //spacing
  --spaceNone: 0px;
  --spaceTinier: .0625rem; // 1px
  --spaceTiny: .125rem; // 2px
  --spaceSmallest: .25rem; // 4px
  --spaceSmaller: .5rem; // 8px
  --spaceSmall: .75rem; // 12px
  --spaceMedium: 1rem; // 16px
  --spaceLarge: 1.25rem; // 20px
  --spaceLarger: 1.5rem; // 24px
  --spaceLargest: 2.0rem; // 32px
  --spaceHuge: 2.5rem; // 40px

  //font size
  --fontSmaller: .75rem; // 12px
  --fontSmall: .875rem; // 14px
  --fontMedium: 1rem; // 16px
  --fontLarge: 1.125rem; // 20px
  --fontLarger: 1.375rem; // 25px
  --fontLargest: 1.625rem; // 36px
  --fontHuge: 3.125rem; // 50px

  //font weight
  --fontWeightLight: 300;
  --fontWeightNormal: 400;
  --fontWeightMedium: 500;
  --fontWeightBold: 700;

  //border-radius
  --borderRadius1: 3px;
  --borderRadius2: 6px;

  --sideNavWidth: 25%;
  --contentLeftPadding: 4%;
}
