body {
  #pageFooter {
    > div {
      display: flex;
      justify-content: center;
    }
  }
  #bottom-info-div {
    display: flex;
    width: 74%;
    margin: auto;
    justify-content: space-between;
    padding: var( --spaceMedium ) 0px;
    text-align: center;
  
    strong {
      font-size: var( --fontMedium );
      display: block;
      margin-bottom: var( --spaceMedium );
    }
    .links {
      display: block;
      padding: 5px;
    }
    a {
      color: var( --text10Disabled );
      font-size: var( --fontSmall );
  
      &:hover {
          color: var(--linkHover);
      }
    }
  }
}
h6#footer-message {
    color: #53565A;
    text-align: center;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 18.7px;
}

@media (max-width: 800px) {
  body {
    #bottom-info-div {
      flex-direction: column;
    }
    #onetrust-banner-sdk {
      #onetrust-accept-btn-handler,
      #onetrust-pc-btn-handler {
        min-width: 100%;
      }
    }
    
    #pageFooter {
      .MuiContainer-root:not(:first-child) {
        margin-top: var( --spaceMedium );
      }
    }
  } 
}

