body {
  #pageFooter {
    .MuiContainer-root {
      width: auto;
      margin-left: 0px;
      padding-left: 0px;
    }
  }
  #bottom-info-div {
    display: flex;
    width: 98%;
    margin: auto;
    justify-content: space-between;
    padding: var( --spaceMedium ) 0px;
    margin-bottom: 30px;
    margin-top: 60px;
  
    strong {
      font-size: var( --fontMedium );
      display: block;
      margin-bottom: var( --spaceSmaller );
    }
    .links {
      display: block;
      padding: 5px 5px 5px 0px;
    }
    a {
      color: var( --text10Disabled );
      font-size: var( --fontSmall );
  
      &:hover {
          color: var(--linkHover);
      }
    }
  }
  .footer-links:not(:last-child) {
    padding-right: 5px;
  }

  .footerZoweLinks {
    color: var( --text-secondary) !important;
    u {
      text-decoration-color: #3B4151;
    }
  }
}
h6#footer-message {
    display: flex;
    flex-direction: column;
    width: 98%;
    margin: auto;
    color: #53565A;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 11px;

    .footer-policy {
      margin: var( --spaceMedium ) auto var( --spaceHuge ) auto;

      a {
        font-size: 11px;
      }
    }

    .footer-copyright {
      display: flex;
      margin: auto;
    }
}

@media (max-width: 768px) {
  body {
    #bottom-info-div {
      flex-direction: column;
    }
    #onetrust-banner-sdk {
      #onetrust-accept-btn-handler,
      #onetrust-pc-btn-handler {
        min-width: 100%;
      }
    }
    
    #pageFooter {
      .MuiContainer-root:not(:first-child) {
        margin-top: var( --spaceLargest );
      }
    }
  }
  h6#footer-message {
    .footer-policy {
      margin: var( --spaceMedium ) 0 var( --spaceHuge ) 0;

    }
    .footer-copyright {
      flex-direction: column;
      margin: 0;

      a {
        margin-bottom: var( --spaceMedium );
      }
    }
  }
}

@media (min-width: 769px) {
  body {
    #pageFooter {
      .MuiContainer-root:last-child {
        margin-right: 0px;
        padding-right: 0px;
      }
    }
  } 
}

