body #bottom-info-div {
  display: flex;
  width: 74%;
  margin: auto;
  justify-content: space-between;
  padding: var( --spaceMedium ) 0px;
  text-align: center;

  strong {
    font-size: var( --fontMedium );
    display: block;
    margin-bottom: var( --spaceMedium );
  }
  a {
    color: var( --text10Disabled );
    font-size: var( --fontSmall );

    &:hover {
      color: var( --text15 );
    }
  }
}
