#pageFooter {
    font-family: "Open Sans",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    text-align: center;
    padding: .6rem 38px .3rem 28px;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    flex-shrink: 0;
    font-size: 12px;
}

#loginFooter {
    color: #f0f0f0;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    text-align: center;
    display:block;
}

#dashboardFooter {
    color: #606060;
}

#detailFooter {

    color: #606060;
    margin-left: 45%;
}