.page-not-found-container .not-found-heading {
    color: #58606e ;
}
.page-not-found-container .api-heading {
    margin-top: 120px;
}
.page-not-found-container h1 {
    margin: var(--spaceMedium) 0 var(--spaceLarger);
    padding-bottom: var(--spaceLarger);
    position: relative;
    font-weight: var(--fontWeightMedium);
}
#go-back-button {
    position: relative;
    text-align: center;
    height: 40px;
    margin: 0 auto;
    display: flex;
}
#go-back-button, #go-back-button > span, #go-back-button > a, #go-back-button > span > a {
    text-decoration: none;
    font-size: var(--fontMedium);
}
#go-back-button:hover, #go-back-button:focus {
    background: var( --surface05 );
}
#go-back-button> span:hover, #go-back-button> span:focus {
    color: var(--criticalShade10);
}
.page-not-found-container h1::before {
    --headerLineWidth: 120px;
    content: "";
    background: var(--criticalShade10);
    width: var(--headerLineWidth);
    height: 5px;
    position: absolute;
    bottom: 0;
    left: calc(50% - calc(var( --headerLineWidth ) / 2));
}
.page-not-found-container #go-back-button > span > svg {
    margin: -7px;
}
.page-not-found-container #secondary-label {
    text-align: center;
    font-size: 22px;
    margin-bottom: 80px;
}
.page-not-found-container #primary-label {
    text-align: center;
}
