{
    "openapi": "3.0.1",
    "info": {
        "title": "Database Management Solutions for Db2 for z/OS",
        "description": "Db2 for z/OS management data services for administration, performance monitoring, schema provisioning, and other Db2 generic purposes.",
        "version": "1.12.0"
    },
    "servers": [
        {
            "url": "https://developer.mainframe.broadcom.com",
            "description": "Generated server url"
        }
    ],
    "tags": [
        {
            "name": "IDB2",
            "description": "SYSVIEW for Db2 statistics and management"
        },
        {
            "name": "DEVOPS",
            "description": "DBM Data Service management"
        },
        {
            "name": "PDT",
            "description": "Detector for Db2 statistics"
        },
        {
            "name": "DEVOPS",
            "description": "Devops endpoints"
        },
        {
            "name": "Auth",
            "description": "DBM Data Service user authentication services"
        },
        {
            "name": "GEN",
            "description": "DBM Data Service management"
        }
    ],
    "paths": {
        "/api/v1/idb2/request/{token}": {
            "get": {
                "tags": [
                    "IDB2"
                ],
                "summary": "Lists requests for a given token",
                "operationId": "requestList_1",
                "parameters": [
                    {
                        "name": "token",
                        "in": "path",
                        "description": "Specifies a base64url-coded token that identifies the request",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "agent",
                        "in": "query",
                        "description": "Specifies the Xnet agent ID. Required unless the 'ssid' parameter is specified. Takes precedence over \u2018ssid\u2019 if both are specified. Use /gen/agents to list active agents, look for an agent with 'IDB2' value in the Prefix field.",
                        "schema": {
                            "type": "string",
                            "example": "SYS1DSN12000PR20"
                        }
                    },
                    {
                        "name": "environment",
                        "in": "query",
                        "description": "Specifies the Xnet environment. Requires \u2018ssid\u2019 or \u2018agent\u2019 parameter to be specified. Use /gen/environments to list configured environments.",
                        "schema": {
                            "type": "string",
                            "example": "PRD@SYS1:6600"
                        }
                    },
                    {
                        "name": "ssid",
                        "in": "query",
                        "description": "Specifies the Db2 subsystem ID. Required unless the 'agent' parameter is specified. Use /gen/subsystems/active to list active SSIDs.",
                        "schema": {
                            "type": "string",
                            "example": "DSN1"
                        }
                    }
                ],
                "responses": {
                    "503": {
                        "description": "Unable to start the request (Db2 down)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RequestManagementResponse"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RequestManagementResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Request not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RequestManagementResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    },
                    {
                        "authContext": []
                    },
                    {
                        "esmAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "IDB2"
                ],
                "summary": "Resets a request",
                "operationId": "requestReset",
                "parameters": [
                    {
                        "name": "token",
                        "in": "path",
                        "description": "Specifies a base64url-coded token that identifies the request",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "agent",
                        "in": "query",
                        "description": "Specifies the Xnet agent ID. Required unless the 'ssid' parameter is specified. Takes precedence over \u2018ssid\u2019 if both are specified. Use /gen/agents to list active agents, look for an agent with 'IDB2' value in the Prefix field.",
                        "schema": {
                            "type": "string",
                            "example": "SYS1DSN12000PR20"
                        }
                    },
                    {
                        "name": "environment",
                        "in": "query",
                        "description": "Specifies the Xnet environment. Requires \u2018ssid\u2019 or \u2018agent\u2019 parameter to be specified. Use /gen/environments to list configured environments.",
                        "schema": {
                            "type": "string",
                            "example": "PRD@SYS1:6600"
                        }
                    },
                    {
                        "name": "ssid",
                        "in": "query",
                        "description": "Specifies the Db2 subsystem ID. Required unless the 'agent' parameter is specified. Use /gen/subsystems/active to list active SSIDs.",
                        "schema": {
                            "type": "string",
                            "example": "DSN1"
                        }
                    }
                ],
                "responses": {
                    "503": {
                        "description": "Unable to start the request (Db2 down)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RequestManagementResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Request not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RequestManagementResponse"
                                }
                            }
                        }
                    },
                    "302": {
                        "description": "Request already running",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RequestManagementResponse"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successfully reset the request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RequestManagementResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    },
                    {
                        "authContext": []
                    },
                    {
                        "esmAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "IDB2"
                ],
                "summary": "Pauses or resumes a request",
                "operationId": "requestChange",
                "parameters": [
                    {
                        "name": "token",
                        "in": "path",
                        "description": "Specifies a base64url-coded token that identifies the request",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "paused",
                        "in": "query",
                        "description": "Indicates the desired state of the request",
                        "required": true,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "agent",
                        "in": "query",
                        "description": "Specifies the Xnet agent ID. Required unless the 'ssid' parameter is specified. Takes precedence over \u2018ssid\u2019 if both are specified. Use /gen/agents to list active agents, look for an agent with 'IDB2' value in the Prefix field.",
                        "schema": {
                            "type": "string",
                            "example": "SYS1DSN12000PR20"
                        }
                    },
                    {
                        "name": "environment",
                        "in": "query",
                        "description": "Specifies the Xnet environment. Requires \u2018ssid\u2019 or \u2018agent\u2019 parameter to be specified. Use /gen/environments to list configured environments.",
                        "schema": {
                            "type": "string",
                            "example": "PRD@SYS1:6600"
                        }
                    },
                    {
                        "name": "ssid",
                        "in": "query",
                        "description": "Specifies the Db2 subsystem ID. Required unless the 'agent' parameter is specified. Use /gen/subsystems/active to list active SSIDs.",
                        "schema": {
                            "type": "string",
                            "example": "DSN1"
                        }
                    }
                ],
                "responses": {
                    "503": {
                        "description": "Unable to start the request (Db2 down)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RequestManagementResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Request not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RequestManagementResponse"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successfully modified the request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RequestManagementResponse"
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "Operation not allowed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RequestManagementResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    },
                    {
                        "authContext": []
                    },
                    {
                        "esmAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "IDB2"
                ],
                "summary": "Stops a request",
                "operationId": "requestStop",
                "parameters": [
                    {
                        "name": "token",
                        "in": "path",
                        "description": "Specifies a base64url-coded token that identifies the request",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "agent",
                        "in": "query",
                        "description": "Specifies the Xnet agent ID. Required unless the 'ssid' parameter is specified. Takes precedence over \u2018ssid\u2019 if both are specified. Use /gen/agents to list active agents, look for an agent with 'IDB2' value in the Prefix field.",
                        "schema": {
                            "type": "string",
                            "example": "SYS1DSN12000PR20"
                        }
                    },
                    {
                        "name": "environment",
                        "in": "query",
                        "description": "Specifies the Xnet environment. Requires \u2018ssid\u2019 or \u2018agent\u2019 parameter to be specified. Use /gen/environments to list configured environments.",
                        "schema": {
                            "type": "string",
                            "example": "PRD@SYS1:6600"
                        }
                    },
                    {
                        "name": "ssid",
                        "in": "query",
                        "description": "Specifies the Db2 subsystem ID. Required unless the 'agent' parameter is specified. Use /gen/subsystems/active to list active SSIDs.",
                        "schema": {
                            "type": "string",
                            "example": "DSN1"
                        }
                    }
                ],
                "responses": {
                    "503": {
                        "description": "Unable to start the request (Db2 down)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RequestManagementResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Request not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RequestManagementResponse"
                                }
                            }
                        }
                    },
                    "302": {
                        "description": "Request already running",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RequestManagementResponse"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successfully stopped the request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RequestManagementResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    },
                    {
                        "authContext": []
                    },
                    {
                        "esmAuth": []
                    }
                ]
            }
        },
        "/api/v1/idb2/generic": {
            "get": {
                "tags": [
                    "IDB2"
                ],
                "summary": "Returns the result of a given DS* request",
                "operationId": "generic",
                "parameters": [
                    {
                        "name": "function",
                        "in": "query",
                        "description": "Specifies the DS* request name.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "delta",
                        "in": "query",
                        "description": "Returns delta values if available.",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "agent",
                        "in": "query",
                        "description": "Specifies the Xnet agent ID. Required unless the 'ssid' parameter is specified. Takes precedence over \u2018ssid\u2019 if both are specified. Use /gen/agents to list active agents, look for an agent with 'IDB2' value in the Prefix field.",
                        "schema": {
                            "type": "string",
                            "example": "SYS1DSN12000PR20"
                        }
                    },
                    {
                        "name": "environment",
                        "in": "query",
                        "description": "Specifies the Xnet environment. Requires \u2018ssid\u2019 or \u2018agent\u2019 parameter to be specified. Use /gen/environments to list configured environments.",
                        "schema": {
                            "type": "string",
                            "example": "PRD@SYS1:6600"
                        }
                    },
                    {
                        "name": "ssid",
                        "in": "query",
                        "description": "Specifies the Db2 subsystem ID. Required unless the 'agent' parameter is specified. Use /gen/subsystems/active to list active SSIDs.",
                        "schema": {
                            "type": "string",
                            "example": "DSN1"
                        }
                    },
                    {
                        "name": "flattenResults",
                        "in": "query",
                        "description": "Flattens the response structure into key-value pairs. Suitable for requests with a small number of response rows.",
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    },
                    {
                        "authContext": []
                    },
                    {
                        "esmAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "IDB2"
                ],
                "summary": "Returns the result of a given DS* request with provided Xnet parameters (serviceability endpoint)",
                "operationId": "genericXnetReq",
                "parameters": [
                    {
                        "name": "function",
                        "in": "query",
                        "description": "Specifies the DS* request name.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "agent",
                        "in": "query",
                        "description": "Specifies the Xnet agent ID. Required unless the 'ssid' parameter is specified. Takes precedence over \u2018ssid\u2019 if both are specified. Use /gen/agents to list active agents, look for an agent with 'IDB2' value in the Prefix field.",
                        "schema": {
                            "type": "string",
                            "example": "SYS1DSN12000PR20"
                        }
                    },
                    {
                        "name": "environment",
                        "in": "query",
                        "description": "Specifies the Xnet environment. Requires \u2018ssid\u2019 or \u2018agent\u2019 parameter to be specified. Use /gen/environments to list configured environments.",
                        "schema": {
                            "type": "string",
                            "example": "PRD@SYS1:6600"
                        }
                    },
                    {
                        "name": "ssid",
                        "in": "query",
                        "description": "Specifies the Db2 subsystem ID. Required unless the 'agent' parameter is specified. Use /gen/subsystems/active to list active SSIDs.",
                        "schema": {
                            "type": "string",
                            "example": "DSN1"
                        }
                    },
                    {
                        "name": "flattenResults",
                        "in": "query",
                        "description": "Flattens the response structure into key-value pairs. Suitable for requests with a small number of response rows.",
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/XnetRequestParms"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successfully generated the report",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Xnet or input parsing error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    },
                    {
                        "authContext": []
                    },
                    {
                        "esmAuth": []
                    }
                ]
            }
        },
        "/api/v1/idb2/action/unload": {
            "put": {
                "tags": [
                    "IDB2"
                ],
                "summary": "Triggers unload of history files (both statistics and accounting)",
                "operationId": "unloadAll",
                "parameters": [
                    {
                        "name": "agent",
                        "in": "query",
                        "description": "Specifies the Xnet agent ID. Required unless the 'ssid' parameter is specified. Takes precedence over \u2018ssid\u2019 if both are specified. Use /gen/agents to list active agents, look for an agent with 'IDB2' value in the Prefix field.",
                        "schema": {
                            "type": "string",
                            "example": "SYS1DSN12000PR20"
                        }
                    },
                    {
                        "name": "environment",
                        "in": "query",
                        "description": "Specifies the Xnet environment. Requires \u2018ssid\u2019 or \u2018agent\u2019 parameter to be specified. Use /gen/environments to list configured environments.",
                        "schema": {
                            "type": "string",
                            "example": "PRD@SYS1:6600"
                        }
                    },
                    {
                        "name": "ssid",
                        "in": "query",
                        "description": "Specifies the Db2 subsystem ID. Required unless the 'agent' parameter is specified. Use /gen/subsystems/active to list active SSIDs.",
                        "schema": {
                            "type": "string",
                            "example": "DSN1"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "History not enabled",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActionResponse"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successfully scheduled history files unload",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActionResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    },
                    {
                        "authContext": []
                    },
                    {
                        "esmAuth": []
                    }
                ]
            }
        },
        "/api/v1/idb2/action/unload/{type}": {
            "put": {
                "tags": [
                    "IDB2"
                ],
                "summary": "Triggers unload of a given history file (statistics, accounting, or both)",
                "operationId": "unload",
                "parameters": [
                    {
                        "name": "type",
                        "in": "path",
                        "description": "Specifies the type of history file to unload",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "all",
                                "acct",
                                "stat"
                            ]
                        }
                    },
                    {
                        "name": "agent",
                        "in": "query",
                        "description": "Specifies the Xnet agent ID. Required unless the 'ssid' parameter is specified. Takes precedence over \u2018ssid\u2019 if both are specified. Use /gen/agents to list active agents, look for an agent with 'IDB2' value in the Prefix field.",
                        "schema": {
                            "type": "string",
                            "example": "SYS1DSN12000PR20"
                        }
                    },
                    {
                        "name": "environment",
                        "in": "query",
                        "description": "Specifies the Xnet environment. Requires \u2018ssid\u2019 or \u2018agent\u2019 parameter to be specified. Use /gen/environments to list configured environments.",
                        "schema": {
                            "type": "string",
                            "example": "PRD@SYS1:6600"
                        }
                    },
                    {
                        "name": "ssid",
                        "in": "query",
                        "description": "Specifies the Db2 subsystem ID. Required unless the 'agent' parameter is specified. Use /gen/subsystems/active to list active SSIDs.",
                        "schema": {
                            "type": "string",
                            "example": "DSN1"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "History not enabled",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActionResponse"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successfully scheduled history file unload",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActionResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    },
                    {
                        "authContext": []
                    },
                    {
                        "esmAuth": []
                    }
                ]
            }
        },
        "/api/v1/idb2/action/security": {
            "put": {
                "tags": [
                    "IDB2"
                ],
                "summary": "Reloads the security configuration from the specified file",
                "operationId": "reloadSecurity",
                "parameters": [
                    {
                        "name": "agent",
                        "in": "query",
                        "description": "Specifies the Xnet agent ID. Required unless the 'ssid' parameter is specified. Takes precedence over \u2018ssid\u2019 if both are specified. Use /gen/agents to list active agents, look for an agent with 'IDB2' value in the Prefix field.",
                        "schema": {
                            "type": "string",
                            "example": "SYS1DSN12000PR20"
                        }
                    },
                    {
                        "name": "environment",
                        "in": "query",
                        "description": "Specifies the Xnet environment. Requires \u2018ssid\u2019 or \u2018agent\u2019 parameter to be specified. Use /gen/environments to list configured environments.",
                        "schema": {
                            "type": "string",
                            "example": "PRD@SYS1:6600"
                        }
                    },
                    {
                        "name": "ssid",
                        "in": "query",
                        "description": "Specifies the Db2 subsystem ID. Required unless the 'agent' parameter is specified. Use /gen/subsystems/active to list active SSIDs.",
                        "schema": {
                            "type": "string",
                            "example": "DSN1"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SecurityFileRefreshParameters"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "404": {
                        "description": "Failed security file reload",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActionResponse"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successfully reloaded security file",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActionResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    },
                    {
                        "authContext": []
                    },
                    {
                        "esmAuth": []
                    }
                ]
            }
        },
        "/api/v1/idb2/action/obidfile": {
            "put": {
                "tags": [
                    "IDB2"
                ],
                "summary": "Reloads the OBID/DBID file that the data collector uses",
                "operationId": "obidfileRefresh",
                "parameters": [
                    {
                        "name": "agent",
                        "in": "query",
                        "description": "Specifies the Xnet agent ID. Required unless the 'ssid' parameter is specified. Takes precedence over \u2018ssid\u2019 if both are specified. Use /gen/agents to list active agents, look for an agent with 'IDB2' value in the Prefix field.",
                        "schema": {
                            "type": "string",
                            "example": "SYS1DSN12000PR20"
                        }
                    },
                    {
                        "name": "environment",
                        "in": "query",
                        "description": "Specifies the Xnet environment. Requires \u2018ssid\u2019 or \u2018agent\u2019 parameter to be specified. Use /gen/environments to list configured environments.",
                        "schema": {
                            "type": "string",
                            "example": "PRD@SYS1:6600"
                        }
                    },
                    {
                        "name": "ssid",
                        "in": "query",
                        "description": "Specifies the Db2 subsystem ID. Required unless the 'agent' parameter is specified. Use /gen/subsystems/active to list active SSIDs.",
                        "schema": {
                            "type": "string",
                            "example": "DSN1"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully reloaded OBID/DBID file",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActionResponse"
                                }
                            }
                        }
                    },
                    "410": {
                        "description": "Failed OBID/DBID file reload",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActionResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "OBID/DBID file not allocated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActionResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    },
                    {
                        "authContext": []
                    },
                    {
                        "esmAuth": []
                    }
                ]
            }
        },
        "/api/v1/idb2/action/exception": {
            "put": {
                "tags": [
                    "IDB2"
                ],
                "summary": "Restarts the exception system",
                "operationId": "exceptionStart",
                "parameters": [
                    {
                        "name": "agent",
                        "in": "query",
                        "description": "Specifies the Xnet agent ID. Required unless the 'ssid' parameter is specified. Takes precedence over \u2018ssid\u2019 if both are specified. Use /gen/agents to list active agents, look for an agent with 'IDB2' value in the Prefix field.",
                        "schema": {
                            "type": "string",
                            "example": "SYS1DSN12000PR20"
                        }
                    },
                    {
                        "name": "environment",
                        "in": "query",
                        "description": "Specifies the Xnet environment. Requires \u2018ssid\u2019 or \u2018agent\u2019 parameter to be specified. Use /gen/environments to list configured environments.",
                        "schema": {
                            "type": "string",
                            "example": "PRD@SYS1:6600"
                        }
                    },
                    {
                        "name": "ssid",
                        "in": "query",
                        "description": "Specifies the Db2 subsystem ID. Required unless the 'agent' parameter is specified. Use /gen/subsystems/active to list active SSIDs.",
                        "schema": {
                            "type": "string",
                            "example": "DSN1"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully scheduled exception system start or restart",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActionResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Exception system not enabled",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActionResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    },
                    {
                        "authContext": []
                    },
                    {
                        "esmAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "IDB2"
                ],
                "summary": "Stops the exception system",
                "operationId": "exceptionStop",
                "parameters": [
                    {
                        "name": "agent",
                        "in": "query",
                        "description": "Specifies the Xnet agent ID. Required unless the 'ssid' parameter is specified. Takes precedence over \u2018ssid\u2019 if both are specified. Use /gen/agents to list active agents, look for an agent with 'IDB2' value in the Prefix field.",
                        "schema": {
                            "type": "string",
                            "example": "SYS1DSN12000PR20"
                        }
                    },
                    {
                        "name": "environment",
                        "in": "query",
                        "description": "Specifies the Xnet environment. Requires \u2018ssid\u2019 or \u2018agent\u2019 parameter to be specified. Use /gen/environments to list configured environments.",
                        "schema": {
                            "type": "string",
                            "example": "PRD@SYS1:6600"
                        }
                    },
                    {
                        "name": "ssid",
                        "in": "query",
                        "description": "Specifies the Db2 subsystem ID. Required unless the 'agent' parameter is specified. Use /gen/subsystems/active to list active SSIDs.",
                        "schema": {
                            "type": "string",
                            "example": "DSN1"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully scheduled exception system stop",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActionResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Exception system not enabled",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActionResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    },
                    {
                        "authContext": []
                    },
                    {
                        "esmAuth": []
                    }
                ]
            }
        },
        "/api/v1/gen/config/reload": {
            "put": {
                "tags": [
                    "GEN"
                ],
                "summary": "Reloads the Xnet Environments configuration file and rebuilds the cached routing table and Db2 subsystem lists. The request can be used to add or modify Environments without restarting the DBM Data Service",
                "operationId": "reload",
                "parameters": [
                    {
                        "name": "flattenResults",
                        "in": "query",
                        "description": "Flattens the response structure into key-value pairs. Suitable for requests with a small number of response rows.",
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Request not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successfully reloaded the Environments configuration file",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "TOO_MANY_REQUESTS",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    },
                    {
                        "authContext": []
                    },
                    {
                        "esmAuth": []
                    }
                ]
            }
        },
        "/api/v1/gen/config/refresh": {
            "put": {
                "tags": [
                    "GEN"
                ],
                "summary": "Refreshes the cached Xnet routing and Db2 subsystem information. The request can be used to enable access to recently started Xnet Agents and Db2 subsystems",
                "operationId": "refresh",
                "parameters": [
                    {
                        "name": "flattenResults",
                        "in": "query",
                        "description": "Flattens the response structure into key-value pairs. Suitable for requests with a small number of response rows.",
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Request not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "TOO_MANY_REQUESTS",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successfully refreshed Xnet routing and Db2 subsystem information",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    },
                    {
                        "authContext": []
                    },
                    {
                        "esmAuth": []
                    }
                ]
            }
        },
        "/api/v1/devops/config/reload": {
            "put": {
                "tags": [
                    "DEVOPS"
                ],
                "summary": "Reloads the templateSettings configuration file and clears the template cache. Use this request to complete the following tasks without restarting the DBM Data Service: add or modify modifications in the templateSettings configuration file or modify template text.",
                "operationId": "reload_1",
                "parameters": [
                    {
                        "name": "flattenResults",
                        "in": "query",
                        "description": "Flattens the response structure into key-value pairs. Suitable for requests with a small number of response rows.",
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Request not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successfully reloaded the templateSettings configuration file and cleared the template cache.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    },
                    {
                        "esmAuth": []
                    }
                ]
            }
        },
        "/api/v1/idb2/request": {
            "get": {
                "tags": [
                    "IDB2"
                ],
                "summary": "Lists requests that are running on a data collector",
                "operationId": "requestList",
                "parameters": [
                    {
                        "name": "agent",
                        "in": "query",
                        "description": "Specifies the Xnet agent ID. Required unless the 'ssid' parameter is specified. Takes precedence over \u2018ssid\u2019 if both are specified. Use /gen/agents to list active agents, look for an agent with 'IDB2' value in the Prefix field.",
                        "schema": {
                            "type": "string",
                            "example": "SYS1DSN12000PR20"
                        }
                    },
                    {
                        "name": "environment",
                        "in": "query",
                        "description": "Specifies the Xnet environment. Requires \u2018ssid\u2019 or \u2018agent\u2019 parameter to be specified. Use /gen/environments to list configured environments.",
                        "schema": {
                            "type": "string",
                            "example": "PRD@SYS1:6600"
                        }
                    },
                    {
                        "name": "ssid",
                        "in": "query",
                        "description": "Specifies the Db2 subsystem ID. Required unless the 'agent' parameter is specified. Use /gen/subsystems/active to list active SSIDs.",
                        "schema": {
                            "type": "string",
                            "example": "DSN1"
                        }
                    }
                ],
                "responses": {
                    "503": {
                        "description": "Unable to start the request (Db2 down)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RequestManagementResponse"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RequestManagementResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Request not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RequestManagementResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    },
                    {
                        "authContext": []
                    },
                    {
                        "esmAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "IDB2"
                ],
                "summary": "Starts a request",
                "operationId": "requestStart",
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Specifies the name of the request to start",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "agent",
                        "in": "query",
                        "description": "Specifies the Xnet agent ID. Required unless the 'ssid' parameter is specified. Takes precedence over \u2018ssid\u2019 if both are specified. Use /gen/agents to list active agents, look for an agent with 'IDB2' value in the Prefix field.",
                        "schema": {
                            "type": "string",
                            "example": "SYS1DSN12000PR20"
                        }
                    },
                    {
                        "name": "environment",
                        "in": "query",
                        "description": "Specifies the Xnet environment. Requires \u2018ssid\u2019 or \u2018agent\u2019 parameter to be specified. Use /gen/environments to list configured environments.",
                        "schema": {
                            "type": "string",
                            "example": "PRD@SYS1:6600"
                        }
                    },
                    {
                        "name": "ssid",
                        "in": "query",
                        "description": "Specifies the Db2 subsystem ID. Required unless the 'agent' parameter is specified. Use /gen/subsystems/active to list active SSIDs.",
                        "schema": {
                            "type": "string",
                            "example": "DSN1"
                        }
                    }
                ],
                "responses": {
                    "503": {
                        "description": "Unable to start the request (Db2 down)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RequestManagementResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Request not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RequestManagementResponse"
                                }
                            }
                        }
                    },
                    "302": {
                        "description": "Request already running",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RequestManagementResponse"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successfully started the request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RequestManagementResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    },
                    {
                        "authContext": []
                    },
                    {
                        "esmAuth": []
                    }
                ]
            }
        },
        "/api/v1/devops/status": {
            "post": {
                "tags": [
                    "DEVOPS"
                ],
                "summary": "Shows the submitted job status",
                "operationId": "status",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Specifies the unique token returned from the job submitted.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "ABC@123"
                        }
                    },
                    {
                        "name": "deleteFiles",
                        "in": "query",
                        "description": "Deletes the output data files.",
                        "schema": {
                            "type": "boolean",
                            "default": true
                        }
                    },
                    {
                        "name": "flattenResults",
                        "in": "query",
                        "description": "Flattens the response structure into key-value pairs. Suitable for requests with a small number of response rows.",
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Status request successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    },
                    {
                        "esmAuth": []
                    }
                ]
            }
        },
        "/api/v1/devops/migrate": {
            "post": {
                "tags": [
                    "DEVOPS"
                ],
                "summary": "Prepare migrate script",
                "operationId": "migrate",
                "parameters": [
                    {
                        "name": "flattenResults",
                        "in": "query",
                        "description": "Flattens the response structure into key-value pairs. Suitable for requests with a small number of response rows.",
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "modification",
                        "in": "query",
                        "description": "Specifies modification to override the default modification from templateSettings.yaml.",
                        "schema": {
                            "type": "string",
                            "example": "override"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MigrateTemplateSymbolics"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Prepare migrate script request successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    },
                    {
                        "esmAuth": []
                    }
                ]
            }
        },
        "/api/v1/devops/generate": {
            "post": {
                "tags": [
                    "DEVOPS"
                ],
                "summary": "Generates DDL",
                "operationId": "generate",
                "parameters": [
                    {
                        "name": "flattenResults",
                        "in": "query",
                        "description": "Flattens the response structure into key-value pairs. Suitable for requests with a small number of response rows.",
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "modification",
                        "in": "query",
                        "description": "Specifies modification to override the default modification from templateSettings.yaml.",
                        "schema": {
                            "type": "string",
                            "example": "override"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GenerateTemplateSymbolics"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Generate DDL request successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    },
                    {
                        "esmAuth": []
                    }
                ]
            }
        },
        "/api/v1/devops/execute/migrate": {
            "post": {
                "tags": [
                    "DEVOPS"
                ],
                "summary": "Executes migrate script",
                "operationId": "executeMigrate",
                "parameters": [
                    {
                        "name": "flattenResults",
                        "in": "query",
                        "description": "Flattens the response structure into key-value pairs. Suitable for requests with a small number of response rows.",
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "modification",
                        "in": "query",
                        "description": "Specifies modification to override the default modification from templateSettings.yaml.",
                        "schema": {
                            "type": "string",
                            "example": "override"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ExecuteMigrateTemplateSymbolics"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Migrate script request successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    },
                    {
                        "esmAuth": []
                    }
                ]
            }
        },
        "/api/v1/devops/execute/compare": {
            "post": {
                "tags": [
                    "DEVOPS"
                ],
                "summary": "Executes a compare analysis script",
                "operationId": "executeCompare",
                "parameters": [
                    {
                        "name": "flattenResults",
                        "in": "query",
                        "description": "Flattens the response structure into key-value pairs. Suitable for requests with a small number of response rows.",
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "modification",
                        "in": "query",
                        "description": "Specifies modification to override the default modification from templateSettings.yaml.",
                        "schema": {
                            "type": "string",
                            "example": "override"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ExecuteCompareTemplateSymbolics"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Compare script request successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    },
                    {
                        "esmAuth": []
                    }
                ]
            }
        },
        "/api/v1/devops/execute": {
            "post": {
                "tags": [
                    "DEVOPS"
                ],
                "summary": "Executes a batch processor script",
                "operationId": "execute",
                "parameters": [
                    {
                        "name": "flattenResults",
                        "in": "query",
                        "description": "Flattens the response structure into key-value pairs. Suitable for requests with a small number of response rows.",
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "modification",
                        "in": "query",
                        "description": "Specifies modification to override the default modification from templateSettings.yaml.",
                        "schema": {
                            "type": "string",
                            "example": "override"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ExecuteBPTemplateSymbolics"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Script submission successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    },
                    {
                        "esmAuth": []
                    }
                ]
            }
        },
        "/api/v1/devops/deploy": {
            "post": {
                "tags": [
                    "DEVOPS"
                ],
                "summary": "Creates the compare strategy, performs analysis and executes analysis output",
                "operationId": "deploy",
                "parameters": [
                    {
                        "name": "flattenResults",
                        "in": "query",
                        "description": "Flattens the response structure into key-value pairs. Suitable for requests with a small number of response rows.",
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "modification",
                        "in": "query",
                        "description": "Specifies modification to override the default modification from templateSettings.yaml.",
                        "schema": {
                            "type": "string",
                            "example": "override"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DeployDDLTemplateSymbolics"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Deploy request successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    },
                    {
                        "esmAuth": []
                    }
                ]
            }
        },
        "/api/v1/devops/compare": {
            "post": {
                "tags": [
                    "DEVOPS"
                ],
                "summary": "Creates the compare strategy and performs analysis",
                "operationId": "compare",
                "parameters": [
                    {
                        "name": "flattenResults",
                        "in": "query",
                        "description": "Flattens the response structure into key-value pairs. Suitable for requests with a small number of response rows.",
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "modification",
                        "in": "query",
                        "description": "Specifies modification to override the default modification from templateSettings.yaml.",
                        "schema": {
                            "type": "string",
                            "example": "override"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CompareDDLTemplateSymbolics"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Compare DDL request successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    },
                    {
                        "esmAuth": []
                    }
                ]
            }
        },
        "/api/v1/devops/check": {
            "post": {
                "tags": [
                    "DEVOPS"
                ],
                "summary": "Checks DDL syntax",
                "operationId": "check",
                "parameters": [
                    {
                        "name": "flattenResults",
                        "in": "query",
                        "description": "Flattens the response structure into key-value pairs. Suitable for requests with a small number of response rows.",
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "modification",
                        "in": "query",
                        "description": "Specifies modification to override the default modification from templateSettings.yaml.",
                        "schema": {
                            "type": "string",
                            "example": "override"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CheckTemplateSymbolics"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Check DDL request successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    },
                    {
                        "esmAuth": []
                    }
                ]
            }
        },
        "/api/v1/auth/login": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Authenticate mainframe user credentials and return authentication token",
                "operationId": "login",
                "parameters": [
                    {
                        "name": "flattenResults",
                        "in": "query",
                        "description": "Flattens the response structure into key-value pairs. Suitable for requests with a small number of response rows.",
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successful login",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid credentials",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    },
                    {
                        "authContext": []
                    },
                    {
                        "esmAuth": []
                    }
                ]
            }
        },
        "/api/v1/pdt/sqlcodes/{sqlcode}/list": {
            "get": {
                "tags": [
                    "PDT"
                ],
                "summary": "Retrieves SQL statements for a given SQLCODE",
                "operationId": "sqlErrorsList",
                "parameters": [
                    {
                        "name": "sqlcode",
                        "in": "path",
                        "description": "Specifies the SQLCODE",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "environment",
                        "in": "query",
                        "description": "Specifies the Xnet environment. Requires \u2018ssid\u2019 or \u2018group\u2019 parameter to be specified. Use /gen/environments to list configured environments.",
                        "schema": {
                            "type": "string",
                            "example": "PRD@SYS1:6600"
                        }
                    },
                    {
                        "name": "ssid",
                        "in": "query",
                        "description": "Specifies the Db2 subsystem ID. Required unless the 'group' and 'environment' parameters are specified. Use /gen/subsystems/active to list active SSIDs.",
                        "schema": {
                            "type": "string",
                            "example": "DSN1"
                        }
                    },
                    {
                        "name": "group",
                        "in": "query",
                        "description": "Specifies the Db2 data sharing group attach name. If specified, response returns data sharing group data. Requires 'ssid' or 'environment' parameter to be specified. Use /gen/subsystems/active to list active groups.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "description": "Specifies the interval start time when historical data is requested. Required if 'end' is specified. Format: {YYYY-mm-DD-hh.MM.ss}",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "end",
                        "in": "query",
                        "description": "Specifies the interval end time when historical data is requested. Required if 'start' is specified. Format: {YYYY-mm-DD-hh.MM.ss}",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "rowLimit",
                        "in": "query",
                        "description": "Specifies the maximum number of rows to return. A value of zero will return all rows",
                        "schema": {
                            "minimum": 0,
                            "type": "int"
                        }
                    },
                    {
                        "name": "flattenResults",
                        "in": "query",
                        "description": "Flattens the response structure into key-value pairs. Suitable for requests with a small number of response rows.",
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Request not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successfully retrieved SQL statement summary",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    },
                    {
                        "esmAuth": []
                    },
                    {
                        "authContext": []
                    }
                ]
            }
        },
        "/api/v1/pdt/sqlcodes/{package}/{type}/{collid}/{contoken}/{version}/sql/{sect}/{stmt}/{sstk}/sqlText": {
            "get": {
                "tags": [
                    "PDT"
                ],
                "summary": "Retrieves the SQL statement text in a given SQL Error Package",
                "operationId": "sqlErrorsSQLtext",
                "parameters": [
                    {
                        "name": "package",
                        "in": "path",
                        "description": "Specifies the package name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "type",
                        "in": "path",
                        "description": "Specifies the package type",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "collid",
                        "in": "path",
                        "description": "Specifies the package collection ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "contoken",
                        "in": "path",
                        "description": "Specifies the package consistency token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "description": "Specifies the package version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sect",
                        "in": "path",
                        "description": "Specifies the statement section number",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "stmt",
                        "in": "path",
                        "description": "Specifies the statement number",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sstk",
                        "in": "path",
                        "description": "Specifies the timestamp of the error event (SQL_ERROR_TIME) that is returned by the SQLCODE Statements endpoint (/v1/pdt/sqlcodes/{sqlcode}/list).",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "environment",
                        "in": "query",
[...]
