{
    "openapi": "3.0.1",
    "info": {
        "title": "Datacom Systems REST API",
        "description": "Datacom Systems REST API for access to database resources.  Press **Authorize** and use your mainframe credentials",
        "version": "2.0.0"
    },
    "servers": [
        {
            "url": "https://developer.mainframe.broadcom.com",
            "description": "Generated server url"
        }
    ],
    "tags": [
        {
            "name": "Data Sources",
            "description": "REST API to return a list of defined data sources"
        },
        {
            "name": "DirArea",
            "description": "DIR_AREA table API"
        },
        {
            "name": "DirDatabase",
            "description": "DIR_DATABASE table API"
        },
        {
            "name": "DirDataset",
            "description": "DIR_DATASET table API"
        },
        {
            "name": "DirDirectory",
            "description": "DIR_DIRECTORY table API"
        },
        {
            "name": "DirElement",
            "description": "DIR_ELEMENT table API"
        },
        {
            "name": "DirIndex",
            "description": "DIR_INDEX table API"
        },
        {
            "name": "DirKey",
            "description": "DIR_KEY table API"
        },
        {
            "name": "DirKeyField",
            "description": "DIR_KEY_FIELD table API"
        },
        {
            "name": "DirPartColumns",
            "description": "DIR_PART_COLUMNS table API"
        },
        {
            "name": "DirTable",
            "description": "DIR_TABLE table API"
        },
        {
            "name": "DirVolumes",
            "description": "DIR_VOLUMES table API"
        },
        {
            "name": "HealthCheckData",
            "description": "HEALTH_CHECK_DATA view API"
        },
        {
            "name": "MufActiveTasks",
            "description": "MUF_ACTIVE_TASKS table API"
        },
        {
            "name": "MufAreaStats",
            "description": "MUF_AREA_STATS table API"
        },
        {
            "name": "MufBfrPoolArea",
            "description": "MUF_BFR_POOL_AREA table API"
        },
        {
            "name": "MufBufContent",
            "description": "MUF_BUF_CONTENT table API"
        },
        {
            "name": "MufBufUse",
            "description": "MUF_BUF_USE table API"
        },
        {
            "name": "MufCbs",
            "description": "MUF_CBS table API"
        },
        {
            "name": "MufCbsOldSets",
            "description": "MUF_CBS_OLD_SETS table API"
        },
        {
            "name": "MufConfig",
            "description": "MUF_CONFIG table API"
        },
        {
            "name": "MufCoveredvirtual",
            "description": "MUF_COVEREDVIRTUAL table API"
        },
        {
            "name": "MufIdentity",
            "description": "MUF_IDENTITY table API"
        },
        {
            "name": "MufInternalStats",
            "description": "MUF_INTERNAL_STATS table API"
        },
        {
            "name": "MufLocksValue",
            "description": "MUF_LOCKS_VALUE table API"
        },
        {
            "name": "MufLogging",
            "description": "MUF_LOGGING table API"
        },
        {
            "name": "MufMemDetail",
            "description": "MUF_MEM_DETAIL table API"
        },
        {
            "name": "MufMemSummary",
            "description": "MUF_MEM_SUMMARY table API"
        },
        {
            "name": "MufOpenBases",
            "description": "MUF_OPEN_BASES table API"
        },
        {
            "name": "MufOptions",
            "description": "MUF_OPTIONS table API"
        },
        {
            "name": "MufRates",
            "description": "MUF_RATES table API"
        },
        {
            "name": "MufReturnCodes",
            "description": "MUF_RETURN_CODES table API"
        },
        {
            "name": "MufSmpStats",
            "description": "MUF_SMP_STATS table API"
        },
        {
            "name": "MufSystemsStats",
            "description": "MUF_SYSTEMS_STATS table API"
        },
        {
            "name": "MufTableStats",
            "description": "MUF_TABLE_STATS table API"
        },
        {
            "name": "MufTcbOrSrb",
            "description": "MUF_TCB_OR_SRB table API"
        },
        {
            "name": "SrvClntinfo",
            "description": "SRV_CLNTINFO table API"
        }
    ],
    "paths": {
        "/api/v1/datasources": {
            "get": {
                "tags": [
                    "Data Sources"
                ],
                "summary": "Returns a list of data sources",
                "description": "Returns a list of data sources defined in the datasources yml file",
                "operationId": "getDatasources",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Datasource"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "500": {
                        "description": "Internal server error"
                    },
                    "401": {
                        "description": "Authentication is required"
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/datasources/{datasource}": {
            "get": {
                "tags": [
                    "Data Sources"
                ],
                "summary": "Returns the specified data source",
                "description": "Returns the data source identified by the data source name",
                "operationId": "getDatasource",
                "parameters": [
                    {
                        "name": "datasource",
                        "in": "path",
                        "description": "Datasource name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "SYSDEMO"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Datasource"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "500": {
                        "description": "Internal server error"
                    },
                    "401": {
                        "description": "Authentication is required"
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/dirArea/keys/{datasource}": {
            "get": {
                "tags": [
                    "DirArea"
                ],
                "summary": "Retrieve all key values from the DIR_AREA table",
                "operationId": "DirAreaKeys",
                "parameters": [
                    {
                        "name": "datasource",
                        "in": "path",
                        "description": "Data source name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "SYSDEMO"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirAreaKeys"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication is required"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirAreaKeys"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/dirArea/{datasource}": {
            "get": {
                "tags": [
                    "DirArea"
                ],
                "summary": "Retrieve all rows from the DIR_AREA table",
                "operationId": "queryDirArea",
                "parameters": [
                    {
                        "name": "datasource",
                        "in": "path",
                        "description": "Data source name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "SYSDEMO"
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirArea"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirArea"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication is required"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/dirArea/{datasource}/{dirName}/{dbid}/{areaName}": {
            "get": {
                "tags": [
                    "DirArea"
                ],
                "summary": "Retrieve a single row from the DIR_AREA table",
                "operationId": "getDirArea",
                "parameters": [
                    {
                        "name": "datasource",
                        "in": "path",
                        "description": "Data source name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "SYSDEMO"
                    },
                    {
                        "name": "dirName",
                        "in": "path",
                        "description": "DIR_AREA column DIR_NAME",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": 12345678
                    },
                    {
                        "name": "dbid",
                        "in": "path",
                        "description": "DIR_AREA column DBID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "example": 12345
                    },
                    {
                        "name": "areaName",
                        "in": "path",
                        "description": "DIR_AREA column AREA_NAME",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": 123
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirArea"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirArea"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication is required"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/dirDatabase/keys/{datasource}": {
            "get": {
                "tags": [
                    "DirDatabase"
                ],
                "summary": "Retrieve all key values from the DIR_DATABASE table",
                "operationId": "DirDatabaseKeys",
                "parameters": [
                    {
                        "name": "datasource",
                        "in": "path",
                        "description": "Data source name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "SYSDEMO"
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirDatabaseKeys"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication is required"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirDatabaseKeys"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/dirDatabase/{datasource}": {
            "get": {
                "tags": [
                    "DirDatabase"
                ],
                "summary": "Retrieve all rows from the DIR_DATABASE table",
                "operationId": "queryDirDatabase",
                "parameters": [
                    {
                        "name": "datasource",
                        "in": "path",
                        "description": "Data source name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "SYSDEMO"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirDatabase"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication is required"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirDatabase"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/dirDatabase/{datasource}/{dirName}/{dbid}": {
            "get": {
                "tags": [
                    "DirDatabase"
                ],
                "summary": "Retrieve a single row from the DIR_DATABASE table",
                "operationId": "getDirDatabase",
                "parameters": [
                    {
                        "name": "datasource",
                        "in": "path",
                        "description": "Data source name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "SYSDEMO"
                    },
                    {
                        "name": "dirName",
                        "in": "path",
                        "description": "DIR_DATABASE column DIR_NAME",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": 12345678
                    },
                    {
                        "name": "dbid",
                        "in": "path",
                        "description": "DIR_DATABASE column DBID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "example": 12345
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirDatabase"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication is required"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirDatabase"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/dirDataset/keys/{datasource}": {
            "get": {
                "tags": [
                    "DirDataset"
                ],
                "summary": "Retrieve all key values from the DIR_DATASET table",
                "operationId": "DirDatasetKeys",
                "parameters": [
                    {
                        "name": "datasource",
                        "in": "path",
                        "description": "Data source name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "SYSDEMO"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirDatasetKeys"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirDatasetKeys"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication is required"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/dirDataset/{datasource}": {
            "get": {
                "tags": [
                    "DirDataset"
                ],
                "summary": "Retrieve all rows from the DIR_DATASET table",
                "operationId": "queryDirDataset",
                "parameters": [
                    {
                        "name": "datasource",
                        "in": "path",
                        "description": "Data source name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "SYSDEMO"
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirDataset"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication is required"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirDataset"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/dirDataset/{datasource}/{dirName}/{dbid}/{areaName}": {
            "get": {
                "tags": [
                    "DirDataset"
                ],
                "summary": "Retrieve a single row from the DIR_DATASET table",
                "operationId": "getDirDataset",
                "parameters": [
                    {
                        "name": "datasource",
                        "in": "path",
                        "description": "Data source name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "SYSDEMO"
                    },
                    {
                        "name": "dirName",
                        "in": "path",
                        "description": "DIR_DATASET column DIR_NAME",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": 12345678
                    },
                    {
                        "name": "dbid",
                        "in": "path",
                        "description": "DIR_DATASET column DBID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "example": 12345
                    },
                    {
                        "name": "areaName",
                        "in": "path",
                        "description": "DIR_DATASET column AREA_NAME",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": 123
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirDataset"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication is required"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirDataset"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/dirDirectory/keys/{datasource}": {
            "get": {
                "tags": [
                    "DirDirectory"
                ],
                "summary": "Retrieve all key values from the DIR_DIRECTORY table",
                "operationId": "DirDirectoryKeys",
                "parameters": [
                    {
                        "name": "datasource",
                        "in": "path",
                        "description": "Data source name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "SYSDEMO"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirDirectoryKeys"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication is required"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirDirectoryKeys"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/dirDirectory/{datasource}": {
            "get": {
                "tags": [
                    "DirDirectory"
                ],
                "summary": "Retrieve all rows from the DIR_DIRECTORY table",
                "operationId": "queryDirDirectory",
                "parameters": [
                    {
                        "name": "datasource",
                        "in": "path",
                        "description": "Data source name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "SYSDEMO"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirDirectory"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirDirectory"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication is required"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/dirDirectory/{datasource}/{dirName}": {
            "get": {
                "tags": [
                    "DirDirectory"
                ],
                "summary": "Retrieve a single row from the DIR_DIRECTORY table",
                "operationId": "getDirDirectory",
                "parameters": [
                    {
                        "name": "datasource",
                        "in": "path",
                        "description": "Data source name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "SYSDEMO"
                    },
                    {
                        "name": "dirName",
                        "in": "path",
                        "description": "DIR_DIRECTORY column DIR_NAME",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": 12345678
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirDirectory"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirDirectory"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication is required"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/dirElement/keys/{datasource}": {
            "get": {
                "tags": [
                    "DirElement"
                ],
                "summary": "Retrieve all key values from the DIR_ELEMENT table",
                "operationId": "DirElementKeys",
                "parameters": [
                    {
                        "name": "datasource",
                        "in": "path",
                        "description": "Data source name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "SYSDEMO"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirElementKeys"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication is required"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirElementKeys"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/dirElement/{datasource}": {
            "get": {
                "tags": [
                    "DirElement"
                ],
                "summary": "Retrieve all rows from the DIR_ELEMENT table",
                "operationId": "queryDirElement",
                "parameters": [
                    {
                        "name": "datasource",
                        "in": "path",
                        "description": "Data source name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "SYSDEMO"
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirElement"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication is required"
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirElement"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/dirElement/{datasource}/{dirName}/{dbid}/{tableName}/{elementName}": {
            "get": {
                "tags": [
                    "DirElement"
                ],
                "summary": "Retrieve a single row from the DIR_ELEMENT table",
                "operationId": "getDirElement",
                "parameters": [
                    {
                        "name": "datasource",
                        "in": "path",
                        "description": "Data source name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "SYSDEMO"
                    },
                    {
                        "name": "dirName",
                        "in": "path",
                        "description": "DIR_ELEMENT column DIR_NAME",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": 12345678
                    },
                    {
                        "name": "dbid",
                        "in": "path",
                        "description": "DIR_ELEMENT column DBID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "example": 12345
                    },
                    {
                        "name": "tableName",
                        "in": "path",
                        "description": "DIR_ELEMENT column TABLE_NAME",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": 123
                    },
                    {
                        "name": "elementName",
                        "in": "path",
                        "description": "DIR_ELEMENT column ELEMENT_NAME",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": 12345
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirElement"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication is required"
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirElement"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/dirIndex/keys/{datasource}": {
            "get": {
                "tags": [
                    "DirIndex"
                ],
                "summary": "Retrieve all key values from the DIR_INDEX table",
                "operationId": "DirIndexKeys",
                "parameters": [
                    {
                        "name": "datasource",
                        "in": "path",
                        "description": "Data source name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "SYSDEMO"
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirIndexKeys"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication is required"
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirIndexKeys"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/dirIndex/{datasource}": {
            "get": {
                "tags": [
                    "DirIndex"
                ],
                "summary": "Retrieve all rows from the DIR_INDEX table",
                "operationId": "queryDirIndex",
                "parameters": [
                    {
                        "name": "datasource",
                        "in": "path",
                        "description": "Data source name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "SYSDEMO"
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirIndex"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication is required"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirIndex"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/dirIndex/{datasource}/{dirName}/{dbid}/{areaName}": {
            "get": {
                "tags": [
                    "DirIndex"
                ],
                "summary": "Retrieve a single row from the DIR_INDEX table",
                "operationId": "getDirIndex",
                "parameters": [
                    {
                        "name": "datasource",
                        "in": "path",
                        "description": "Data source name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "SYSDEMO"
                    },
                    {
                        "name": "dirName",
                        "in": "path",
                        "description": "DIR_INDEX column DIR_NAME",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": 12345678
                    },
                    {
                        "name": "dbid",
                        "in": "path",
                        "description": "DIR_INDEX column DBID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "example": 12345
                    },
                    {
                        "name": "areaName",
                        "in": "path",
                        "description": "DIR_INDEX column AREA_NAME",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": 123
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirIndex"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication is required"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirIndex"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/dirKey/keys/{datasource}": {
            "get": {
                "tags": [
                    "DirKey"
                ],
                "summary": "Retrieve all key values from the DIR_KEY table",
                "operationId": "DirKeyKeys",
                "parameters": [
                    {
                        "name": "datasource",
                        "in": "path",
                        "description": "Data source name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "SYSDEMO"
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirKeyKeys"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication is required"
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirKeyKeys"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/dirKey/{datasource}": {
            "get": {
                "tags": [
                    "DirKey"
                ],
                "summary": "Retrieve all rows from the DIR_KEY table",
                "operationId": "queryDirKey",
                "parameters": [
                    {
                        "name": "datasource",
                        "in": "path",
                        "description": "Data source name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "SYSDEMO"
                    }
                ],
                "responses": {
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication is required"
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirKey"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirKey"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/dirKey/{datasource}/{dirName}/{dbid}/{tableName}/{keyName}": {
            "get": {
                "tags": [
                    "DirKey"
                ],
                "summary": "Retrieve a single row from the DIR_KEY table",
                "operationId": "getDirKey",
                "parameters": [
                    {
                        "name": "datasource",
                        "in": "path",
                        "description": "Data source name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "SYSDEMO"
                    },
                    {
                        "name": "dirName",
                        "in": "path",
                        "description": "DIR_KEY column DIR_NAME",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": 12345678
                    },
                    {
                        "name": "dbid",
                        "in": "path",
                        "description": "DIR_KEY column DBID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "example": 12345
                    },
                    {
                        "name": "tableName",
                        "in": "path",
                        "description": "DIR_KEY column TABLE_NAME",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": 123
                    },
                    {
                        "name": "keyName",
                        "in": "path",
                        "description": "DIR_KEY column KEY_NAME",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": 12345
                    }
                ],
                "responses": {
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication is required"
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirKey"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirKey"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/dirKeyField/keys/{datasource}": {
            "get": {
                "tags": [
                    "DirKeyField"
                ],
                "summary": "Retrieve all key values from the DIR_KEY_FIELD table",
                "operationId": "DirKeyFieldKeys",
                "parameters": [
                    {
                        "name": "datasource",
                        "in": "path",
                        "description": "Data source name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "SYSDEMO"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirKeyFieldKeys"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirKeyFieldKeys"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication is required"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/dirKeyField/{datasource}": {
            "get": {
                "tags": [
                    "DirKeyField"
                ],
                "summary": "Retrieve all rows from the DIR_KEY_FIELD table",
                "operationId": "queryDirKeyField",
                "parameters": [
                    {
                        "name": "datasource",
                        "in": "path",
                        "description": "Data source name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "SYSDEMO"
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirKeyField"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirKeyField"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication is required"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/dirKeyField/{datasource}/{dirName}/{dbid}/{tableName}/{keyName}/{keyFieldSeq}": {
            "get": {
                "tags": [
                    "DirKeyField"
                ],
                "summary": "Retrieve a single row from the DIR_KEY_FIELD table",
                "operationId": "getDirKeyField",
                "parameters": [
                    {
                        "name": "datasource",
                        "in": "path",
                        "description": "Data source name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "SYSDEMO"
                    },
                    {
                        "name": "dirName",
                        "in": "path",
                        "description": "DIR_KEY_FIELD column DIR_NAME",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": 12345678
                    },
                    {
                        "name": "dbid",
                        "in": "path",
                        "description": "DIR_KEY_FIELD column DBID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "example": 12345
                    },
                    {
                        "name": "tableName",
                        "in": "path",
                        "description": "DIR_KEY_FIELD column TABLE_NAME",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": 123
                    },
                    {
                        "name": "keyName",
                        "in": "path",
                        "description": "DIR_KEY_FIELD column KEY_NAME",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": 12345
                    },
                    {
                        "name": "keyFieldSeq",
                        "in": "path",
                        "description": "DIR_KEY_FIELD column KEY_FIELD_SEQ",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "example": 12345
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirKeyField"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirKeyField"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication is required"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/dirPartColumns/keys/{datasource}": {
            "get": {
                "tags": [
                    "DirPartColumns"
                ],
                "summary": "Retrieve all key values from the DIR_PART_COLUMNS table",
                "operationId": "DirPartColumnsKeys",
                "parameters": [
                    {
                        "name": "datasource",
                        "in": "path",
                        "description": "Data source name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "SYSDEMO"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirPartColumnsKeys"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication is required"
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirPartColumnsKeys"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/dirPartColumns/{datasource}": {
            "get": {
                "tags": [
                    "DirPartColumns"
                ],
                "summary": "Retrieve all rows from the DIR_PART_COLUMNS table",
                "operationId": "queryDirPartColumns",
                "parameters": [
                    {
                        "name": "datasource",
                        "in": "path",
                        "description": "Data source name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "SYSDEMO"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirPartColumns"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirPartColumns"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication is required"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/dirPartColumns/{datasource}/{dirName}/{dbid}/{tableName}/{columnSeq}": {
            "get": {
                "tags": [
                    "DirPartColumns"
                ],
                "summary": "Retrieve a single row from the DIR_PART_COLUMNS table",
                "operationId": "getDirPartColumns",
                "parameters": [
                    {
                        "name": "datasource",
                        "in": "path",
                        "description": "Data source name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "SYSDEMO"
                    },
                    {
                        "name": "dirName",
                        "in": "path",
                        "description": "DIR_PART_COLUMNS column DIR_NAME",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": 12345678
                    },
                    {
                        "name": "dbid",
                        "in": "path",
                        "description": "DIR_PART_COLUMNS column DBID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "example": 12345
                    },
                    {
                        "name": "tableName",
                        "in": "path",
                        "description": "DIR_PART_COLUMNS column TABLE_NAME",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": 123
                    },
                    {
                        "name": "columnSeq",
                        "in": "path",
                        "description": "DIR_PART_COLUMNS column COLUMN_SEQ",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "example": 12345
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirPartColumns"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirPartColumns"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication is required"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/dirTable/keys/{datasource}": {
            "get": {
                "tags": [
                    "DirTable"
                ],
                "summary": "Retrieve all key values from the DIR_TABLE table",
                "operationId": "DirTableKeys",
                "parameters": [
                    {
                        "name": "datasource",
                        "in": "path",
                        "description": "Data source name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "SYSDEMO"
                    }
                ],
                "responses": {
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirTableKeys"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication is required"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirTableKeys"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/dirTable/{datasource}": {
            "get": {
                "tags": [
                    "DirTable"
                ],
                "summary": "Retrieve all rows from the DIR_TABLE table",
                "operationId": "queryDirTable",
                "parameters": [
                    {
                        "name": "datasource",
                        "in": "path",
                        "description": "Data source name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "SYSDEMO"
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirTable"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication is required"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirTable"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/dirTable/{datasource}/{dirName}/{dbid}/{tableName}": {
            "get": {
                "tags": [
                    "DirTable"
                ],
                "summary": "Retrieve a single row from the DIR_TABLE table",
                "operationId": "getDirTable",
                "parameters": [
                    {
                        "name": "datasource",
                        "in": "path",
                        "description": "Data source name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "SYSDEMO"
                    },
                    {
                        "name": "dirName",
                        "in": "path",
                        "description": "DIR_TABLE column DIR_NAME",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": 12345678
                    },
                    {
                        "name": "dbid",
                        "in": "path",
                        "description": "DIR_TABLE column DBID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "example": 12345
                    },
                    {
                        "name": "tableName",
                        "in": "path",
                        "description": "DIR_TABLE column TABLE_NAME",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": 123
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirTable"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication is required"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirTable"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/dirVolumes/keys/{datasource}": {
            "get": {
                "tags": [
                    "DirVolumes"
                ],
                "summary": "Retrieve all key values from the DIR_VOLUMES table",
                "operationId": "DirVolumesKeys",
                "parameters": [
                    {
                        "name": "datasource",
                        "in": "path",
                        "description": "Data source name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "SYSDEMO"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirVolumesKeys"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirVolumesKeys"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication is required"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/dirVolumes/{datasource}": {
            "get": {
                "tags": [
                    "DirVolumes"
                ],
                "summary": "Retrieve all rows from the DIR_VOLUMES table",
                "operationId": "queryDirVolumes",
                "parameters": [
                    {
                        "name": "datasource",
                        "in": "path",
                        "description": "Data source name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "SYSDEMO"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirVolumes"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication is required"
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirVolumes"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/dirVolumes/{datasource}/{dirName}/{dbid}/{areaName}/{volumeSeq}": {
            "get": {
                "tags": [
                    "DirVolumes"
                ],
                "summary": "Retrieve a single row from the DIR_VOLUMES table",
                "operationId": "getDirVolumes",
                "parameters": [
                    {
                        "name": "datasource",
                        "in": "path",
                        "description": "Data source name",
[...]
