{
    "openapi": "3.0.1",
    "info": {
        "title": "CA Workload Automation ESP Edition RESTful Web Services",
        "description": "## ESP scheduler engine public rest APIs\n\n # __Model ID Information__\nUse these IDs only as an opaque unique identifier for individual models. The IDs are subject to change in later versions of the API.\n\n# __General HTTP Error code information:__\nThe following error codes apply to all endpoints. However, these codes are not defined in the following specification, because they are enforced at a higher level of implementation than the individual endpoints.\n\nThe codes are:\n- __401 - Unauthorized__\n- Similar to 403 Forbidden, but used when authentication is required and has either failed or has not yet been provided.\n- __408 - Request Timeout__\n- The client did not produce a request within the time that the server was prepared to wait. The client may repeat the request without modification later.\n- __429 - Too Many Requests__\n- Indicates that the server cannot handle the current level of concurrent API calls. The concurrent API calls can include either the total number of API calls, or the total number of calls to a specific API.\n- __500 - Internal Server Error__\n- A generic error message given when an unexpected condition was encountered and no other specific message is suitable.",
        "version": "12.3.3"
    },
    "servers": [
        {
            "url": "https://developer.mainframe.broadcom.com",
            "description": "Generated server url"
        }
    ],
    "paths": {
        "/api/v2/commands/job/resubmit": {
            "post": {
                "tags": [
                    "Job commands"
                ],
                "summary": "Send the job 'resubmit' command to the scheduler",
                "description": "Specifies that the job is to be resubmitted.",
                "operationId": "resubmit",
                "requestBody": {
                    "description": "Input parameters for the \u2018resubmit\u2019 command. For more details about command arguments, refer to \u2018Schema\u2019 tab.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CommandPayloadJobResubmitV2"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommandResponseJobResubmit"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "## Bad Request\nThe server cannot process the request due to a client error (for example, malformed syntax or invalid request message framing). The client must modify the request before sending the request again."
                    },
                    "401": {
                        "description": "## Unauthorized\nAuthentication is required and has failed or has not been provided."
                    },
                    "408": {
                        "description": "## Request Timeout\nThe time limit for sending a request expired. The client can repeat the request without modification."
                    },
                    "429": {
                        "description": "## Too Many Requests\nThe server cannot handle the current volume of concurrent API calls. The overall volume of concurrent API calls can compose of the total number of API calls or of the total number of calls to a specific API."
                    },
                    "500": {
                        "description": "## Internal Server Error\nA generic error message. This message displays when an unexpected condition occurs and no specific message is available."
                    },
                    "503": {
                        "description": "## Service Unavailable\nThe REST server is shutting down, or the ESP master subsystem is unavailable."
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/commands/job/withdraw": {
            "post": {
                "tags": [
                    "Job commands"
                ],
                "summary": "Send the job 'withdraw' command to the scheduler",
                "description": "This command withdraws the specified job from processing before it is completed.",
                "operationId": "withdraw",
                "requestBody": {
                    "description": "Input parameters for the 'withdraw' command",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CommandPayloadJob"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommandResponseJobWithdraw"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "## Bad Request\nThe server cannot process the request due to a client error (for example, malformed syntax or invalid request message framing). The client must modify the request before sending the request again."
                    },
                    "401": {
                        "description": "## Unauthorized\nAuthentication is required and has failed or has not been provided."
                    },
                    "408": {
                        "description": "## Request Timeout\nThe time limit for sending a request expired. The client can repeat the request without modification."
                    },
                    "429": {
                        "description": "## Too Many Requests\nThe server cannot handle the current volume of concurrent API calls. The overall volume of concurrent API calls can compose of the total number of API calls or of the total number of calls to a specific API."
                    },
                    "500": {
                        "description": "## Internal Server Error\nA generic error message. This message displays when an unexpected condition occurs and no specific message is available."
                    },
                    "503": {
                        "description": "## Service Unavailable\nThe REST server is shutting down, or the ESP master subsystem is unavailable."
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/commands/job/unwait": {
            "post": {
                "tags": [
                    "Job commands"
                ],
                "summary": "Send the job 'unwait' command to the scheduler",
                "description": "This command removes a job from wait status when it is waiting on a previous generation of the same job (job ancestor wait).",
                "operationId": "unwait",
                "requestBody": {
                    "description": "Input parameters for the 'unwait' command",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CommandPayloadJob"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommandResponseJobUnwait"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "## Bad Request\nThe server cannot process the request due to a client error (for example, malformed syntax or invalid request message framing). The client must modify the request before sending the request again."
                    },
                    "401": {
                        "description": "## Unauthorized\nAuthentication is required and has failed or has not been provided."
                    },
                    "408": {
                        "description": "## Request Timeout\nThe time limit for sending a request expired. The client can repeat the request without modification."
                    },
                    "429": {
                        "description": "## Too Many Requests\nThe server cannot handle the current volume of concurrent API calls. The overall volume of concurrent API calls can compose of the total number of API calls or of the total number of calls to a specific API."
                    },
                    "500": {
                        "description": "## Internal Server Error\nA generic error message. This message displays when an unexpected condition occurs and no specific message is available."
                    },
                    "503": {
                        "description": "## Service Unavailable\nThe REST server is shutting down, or the ESP master subsystem is unavailable."
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/commands/job/unrequest": {
            "post": {
                "tags": [
                    "Job commands"
                ],
                "summary": "Send the job 'unrequest' command to the scheduler",
                "description": "Specifies that the job is no longer to be requested.",
                "operationId": "unrequest",
                "requestBody": {
                    "description": "Input parameters for the 'unrequest' command",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CommandPayloadJob"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommandResponseJobUnrequest"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "## Bad Request\nThe server cannot process the request due to a client error (for example, malformed syntax or invalid request message framing). The client must modify the request before sending the request again."
                    },
                    "401": {
                        "description": "## Unauthorized\nAuthentication is required and has failed or has not been provided."
                    },
                    "408": {
                        "description": "## Request Timeout\nThe time limit for sending a request expired. The client can repeat the request without modification."
                    },
                    "429": {
                        "description": "## Too Many Requests\nThe server cannot handle the current volume of concurrent API calls. The overall volume of concurrent API calls can compose of the total number of API calls or of the total number of calls to a specific API."
                    },
                    "500": {
                        "description": "## Internal Server Error\nA generic error message. This message displays when an unexpected condition occurs and no specific message is available."
                    },
                    "503": {
                        "description": "## Service Unavailable\nThe REST server is shutting down, or the ESP master subsystem is unavailable."
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/commands/job/unbypass": {
            "post": {
                "tags": [
                    "Job commands"
                ],
                "summary": "Send the job 'unbypass' command to the scheduler",
                "description": "Specifies that the job is no longer to be bypassed.",
                "operationId": "unbypass",
                "requestBody": {
                    "description": "Input parameters for the 'unbypass' command",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CommandPayloadJob"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommandResponseJobUnbypass"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "## Bad Request\nThe server cannot process the request due to a client error (for example, malformed syntax or invalid request message framing). The client must modify the request before sending the request again."
                    },
                    "401": {
                        "description": "## Unauthorized\nAuthentication is required and has failed or has not been provided."
                    },
                    "408": {
                        "description": "## Request Timeout\nThe time limit for sending a request expired. The client can repeat the request without modification."
                    },
                    "429": {
                        "description": "## Too Many Requests\nThe server cannot handle the current volume of concurrent API calls. The overall volume of concurrent API calls can compose of the total number of API calls or of the total number of calls to a specific API."
                    },
                    "500": {
                        "description": "## Internal Server Error\nA generic error message. This message displays when an unexpected condition occurs and no specific message is available."
                    },
                    "503": {
                        "description": "## Service Unavailable\nThe REST server is shutting down, or the ESP master subsystem is unavailable."
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/commands/job/setreason": {
            "post": {
                "tags": [
                    "Job commands"
                ],
                "summary": "Send the job 'setreason' command to the scheduler",
                "description": "This command sets a reason without issuing any other command.",
                "operationId": "setReason",
                "requestBody": {
                    "description": "Input parameters for the 'setreason' command",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CommandPayloadJob"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommandResponseJobSetReason"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "## Bad Request\nThe server cannot process the request due to a client error (for example, malformed syntax or invalid request message framing). The client must modify the request before sending the request again."
                    },
                    "401": {
                        "description": "## Unauthorized\nAuthentication is required and has failed or has not been provided."
                    },
                    "408": {
                        "description": "## Request Timeout\nThe time limit for sending a request expired. The client can repeat the request without modification."
                    },
                    "429": {
                        "description": "## Too Many Requests\nThe server cannot handle the current volume of concurrent API calls. The overall volume of concurrent API calls can compose of the total number of API calls or of the total number of calls to a specific API."
                    },
                    "500": {
                        "description": "## Internal Server Error\nA generic error message. This message displays when an unexpected condition occurs and no specific message is available."
                    },
                    "503": {
                        "description": "## Service Unavailable\nThe REST server is shutting down, or the ESP master subsystem is unavailable."
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/commands/job/resubmit": {
            "post": {
                "tags": [
                    "Job commands"
                ],
                "summary": "Send the job 'resubmit' command to the scheduler",
                "description": "Specifies that the job is to be resubmitted.",
                "operationId": "resubmit_1",
                "requestBody": {
                    "description": "Input parameters for the \u2018resubmit\u2019 command. For more details about command arguments, refer to \u2018Schema\u2019 tab.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CommandPayloadJob"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommandResponseJobResubmit"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "## Bad Request\nThe server cannot process the request due to a client error (for example, malformed syntax or invalid request message framing). The client must modify the request before sending the request again."
                    },
                    "401": {
                        "description": "## Unauthorized\nAuthentication is required and has failed or has not been provided."
                    },
                    "408": {
                        "description": "## Request Timeout\nThe time limit for sending a request expired. The client can repeat the request without modification."
                    },
                    "429": {
                        "description": "## Too Many Requests\nThe server cannot handle the current volume of concurrent API calls. The overall volume of concurrent API calls can compose of the total number of API calls or of the total number of calls to a specific API."
                    },
                    "500": {
                        "description": "## Internal Server Error\nA generic error message. This message displays when an unexpected condition occurs and no specific message is available."
                    },
                    "503": {
                        "description": "## Service Unavailable\nThe REST server is shutting down, or the ESP master subsystem is unavailable."
                    }
                },
                "deprecated": true,
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/commands/job/request": {
            "post": {
                "tags": [
                    "Job commands"
                ],
                "summary": "Send the job 'request' command to the scheduler",
                "description": "Specifies that the job is to be requested.",
                "operationId": "request",
                "requestBody": {
                    "description": "Input parameters for the 'request' command",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CommandPayloadJob"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommandResponseJobRequest"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "## Bad Request\nThe server cannot process the request due to a client error (for example, malformed syntax or invalid request message framing). The client must modify the request before sending the request again."
                    },
                    "401": {
                        "description": "## Unauthorized\nAuthentication is required and has failed or has not been provided."
                    },
                    "408": {
                        "description": "## Request Timeout\nThe time limit for sending a request expired. The client can repeat the request without modification."
                    },
                    "429": {
                        "description": "## Too Many Requests\nThe server cannot handle the current volume of concurrent API calls. The overall volume of concurrent API calls can compose of the total number of API calls or of the total number of calls to a specific API."
                    },
                    "500": {
                        "description": "## Internal Server Error\nA generic error message. This message displays when an unexpected condition occurs and no specific message is available."
                    },
                    "503": {
                        "description": "## Service Unavailable\nThe REST server is shutting down, or the ESP master subsystem is unavailable."
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/commands/job/release": {
            "post": {
                "tags": [
                    "Job commands"
                ],
                "summary": "Send the job 'release(ESP)' command to the scheduler",
                "description": "This command removes a job that has not yet submitted out of the CA WA ESP Edition hold state.",
                "operationId": "release",
                "requestBody": {
                    "description": "Input parameters for the 'release' command",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CommandPayloadJob"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommandResponseJobRelease"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "## Bad Request\nThe server cannot process the request due to a client error (for example, malformed syntax or invalid request message framing). The client must modify the request before sending the request again."
                    },
                    "401": {
                        "description": "## Unauthorized\nAuthentication is required and has failed or has not been provided."
                    },
                    "408": {
                        "description": "## Request Timeout\nThe time limit for sending a request expired. The client can repeat the request without modification."
                    },
                    "429": {
                        "description": "## Too Many Requests\nThe server cannot handle the current volume of concurrent API calls. The overall volume of concurrent API calls can compose of the total number of API calls or of the total number of calls to a specific API."
                    },
                    "500": {
                        "description": "## Internal Server Error\nA generic error message. This message displays when an unexpected condition occurs and no specific message is available."
                    },
                    "503": {
                        "description": "## Service Unavailable\nThe REST server is shutting down, or the ESP master subsystem is unavailable."
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/commands/job/ready": {
            "post": {
                "tags": [
                    "Job commands"
                ],
                "summary": "Send the job 'ready' command to the scheduler",
                "description": "This command removes all job dependencies (except resources) from the job (including time, predecessors, manual hold).",
                "operationId": "ready",
                "requestBody": {
                    "description": "Input parameters for the 'ready' command",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CommandPayloadJob"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommandResponseJobReady"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "## Bad Request\nThe server cannot process the request due to a client error (for example, malformed syntax or invalid request message framing). The client must modify the request before sending the request again."
                    },
                    "401": {
                        "description": "## Unauthorized\nAuthentication is required and has failed or has not been provided."
                    },
                    "408": {
                        "description": "## Request Timeout\nThe time limit for sending a request expired. The client can repeat the request without modification."
                    },
                    "429": {
                        "description": "## Too Many Requests\nThe server cannot handle the current volume of concurrent API calls. The overall volume of concurrent API calls can compose of the total number of API calls or of the total number of calls to a specific API."
                    },
                    "500": {
                        "description": "## Internal Server Error\nA generic error message. This message displays when an unexpected condition occurs and no specific message is available."
                    },
                    "503": {
                        "description": "## Service Unavailable\nThe REST server is shutting down, or the ESP master subsystem is unavailable."
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/commands/job/hold": {
            "post": {
                "tags": [
                    "Job commands"
                ],
                "summary": "Send the job 'hold(ESP)' command to the scheduler",
                "description": "Places a job that has not yet submitted in the CA WA ESP Edition hold state.",
                "operationId": "hold",
                "requestBody": {
                    "description": "Input parameters for the 'hold' command",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CommandPayloadJob"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommandResponseJobHold"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "## Bad Request\nThe server cannot process the request due to a client error (for example, malformed syntax or invalid request message framing). The client must modify the request before sending the request again."
                    },
                    "401": {
                        "description": "## Unauthorized\nAuthentication is required and has failed or has not been provided."
                    },
                    "408": {
                        "description": "## Request Timeout\nThe time limit for sending a request expired. The client can repeat the request without modification."
                    },
                    "429": {
                        "description": "## Too Many Requests\nThe server cannot handle the current volume of concurrent API calls. The overall volume of concurrent API calls can compose of the total number of API calls or of the total number of calls to a specific API."
                    },
                    "500": {
                        "description": "## Internal Server Error\nA generic error message. This message displays when an unexpected condition occurs and no specific message is available."
                    },
                    "503": {
                        "description": "## Service Unavailable\nThe REST server is shutting down, or the ESP master subsystem is unavailable."
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/commands/job/expedite": {
            "post": {
                "tags": [
                    "Job commands"
                ],
                "summary": "Send the job 'expedite' command to the scheduler",
                "description": "This command expedites the job manually.",
                "operationId": "expedite",
                "requestBody": {
                    "description": "Input parameters for the 'expedite' command",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CommandPayloadJob"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommandResponseJobExpedite"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "## Bad Request\nThe server cannot process the request due to a client error (for example, malformed syntax or invalid request message framing). The client must modify the request before sending the request again."
                    },
                    "401": {
                        "description": "## Unauthorized\nAuthentication is required and has failed or has not been provided."
                    },
                    "408": {
                        "description": "## Request Timeout\nThe time limit for sending a request expired. The client can repeat the request without modification."
                    },
                    "429": {
                        "description": "## Too Many Requests\nThe server cannot handle the current volume of concurrent API calls. The overall volume of concurrent API calls can compose of the total number of API calls or of the total number of calls to a specific API."
                    },
                    "500": {
                        "description": "## Internal Server Error\nA generic error message. This message displays when an unexpected condition occurs and no specific message is available."
                    },
                    "503": {
                        "description": "## Service Unavailable\nThe REST server is shutting down, or the ESP master subsystem is unavailable."
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/commands/job/dropres": {
            "post": {
                "tags": [
                    "Job commands"
                ],
                "summary": "Send the job 'dropres' command to the scheduler",
                "description": "This command removes all resource requirements for this job.",
                "operationId": "dropres",
                "requestBody": {
                    "description": "Input parameters for the 'dropres' command",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CommandPayloadJob"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommandResponseJobDropres"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "## Bad Request\nThe server cannot process the request due to a client error (for example, malformed syntax or invalid request message framing). The client must modify the request before sending the request again."
                    },
                    "401": {
                        "description": "## Unauthorized\nAuthentication is required and has failed or has not been provided."
                    },
                    "408": {
                        "description": "## Request Timeout\nThe time limit for sending a request expired. The client can repeat the request without modification."
                    },
                    "429": {
                        "description": "## Too Many Requests\nThe server cannot handle the current volume of concurrent API calls. The overall volume of concurrent API calls can compose of the total number of API calls or of the total number of calls to a specific API."
                    },
                    "500": {
                        "description": "## Internal Server Error\nA generic error message. This message displays when an unexpected condition occurs and no specific message is available."
                    },
                    "503": {
                        "description": "## Service Unavailable\nThe REST server is shutting down, or the ESP master subsystem is unavailable."
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/commands/job/dropdep": {
            "post": {
                "tags": [
                    "Job commands"
                ],
                "summary": "Send the job 'dropdep' command to the scheduler",
                "description": "This command removes predecessor relationships from a job by marking the specified predecessor dependencies as satisfied.",
                "operationId": "dropDependencies",
                "requestBody": {
                    "description": "Enter the list of predecessors to be dropped in the 'dependencies' array. Predecessor names must be enclosed in quotes and separated by commas.</br>E.g. \"dependencies\": [\"job1\",\"job2\"].</br>If no dependencies are specified, then all predecessor relationships are removed.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CommandPayloadJobDropDep"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommandResponseJobDropDependencies"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "## Bad Request\nThe server cannot process the request due to a client error (for example, malformed syntax or invalid request message framing). The client must modify the request before sending the request again."
                    },
                    "401": {
                        "description": "## Unauthorized\nAuthentication is required and has failed or has not been provided."
                    },
                    "408": {
                        "description": "## Request Timeout\nThe time limit for sending a request expired. The client can repeat the request without modification."
                    },
                    "429": {
                        "description": "## Too Many Requests\nThe server cannot handle the current volume of concurrent API calls. The overall volume of concurrent API calls can compose of the total number of API calls or of the total number of calls to a specific API."
                    },
                    "500": {
                        "description": "## Internal Server Error\nA generic error message. This message displays when an unexpected condition occurs and no specific message is available."
                    },
                    "503": {
                        "description": "## Service Unavailable\nThe REST server is shutting down, or the ESP master subsystem is unavailable."
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/commands/job/complete": {
            "post": {
                "tags": [
                    "Job commands"
                ],
                "summary": "Send the job 'complete' command to the scheduler",
                "description": "This command simulates normal job completion. The command immediately posts all of the successor jobs and external references. You can complete a job that has failed, but does not need to be re-run.You can also complete a job before the job to execute.",
                "operationId": "complete",
                "requestBody": {
                    "description": "Input parameters for the 'complete' command",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CommandPayloadJob"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommandResponseJobComplete"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "## Bad Request\nThe server cannot process the request due to a client error (for example, malformed syntax or invalid request message framing). The client must modify the request before sending the request again."
                    },
                    "401": {
                        "description": "## Unauthorized\nAuthentication is required and has failed or has not been provided."
                    },
                    "408": {
                        "description": "## Request Timeout\nThe time limit for sending a request expired. The client can repeat the request without modification."
                    },
                    "429": {
                        "description": "## Too Many Requests\nThe server cannot handle the current volume of concurrent API calls. The overall volume of concurrent API calls can compose of the total number of API calls or of the total number of calls to a specific API."
                    },
                    "500": {
                        "description": "## Internal Server Error\nA generic error message. This message displays when an unexpected condition occurs and no specific message is available."
                    },
                    "503": {
                        "description": "## Service Unavailable\nThe REST server is shutting down, or the ESP master subsystem is unavailable."
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/commands/job/cancel": {
            "post": {
                "tags": [
                    "Job commands"
                ],
                "summary": "Send the job 'cancel' command to the scheduler",
                "description": "Specifies that the executing job is to be canceled and, optionally, purges it or requests a dump.",
                "operationId": "cancel",
                "requestBody": {
                    "description": "Valid values for command args 'cancelModifier' are 'none', dump' or 'purge'.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CommandPayloadJobCancel"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommandResponseJobCancel"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "## Bad Request\nThe server cannot process the request due to a client error (for example, malformed syntax or invalid request message framing). The client must modify the request before sending the request again."
                    },
                    "401": {
                        "description": "## Unauthorized\nAuthentication is required and has failed or has not been provided."
                    },
                    "408": {
                        "description": "## Request Timeout\nThe time limit for sending a request expired. The client can repeat the request without modification."
                    },
                    "429": {
                        "description": "## Too Many Requests\nThe server cannot handle the current volume of concurrent API calls. The overall volume of concurrent API calls can compose of the total number of API calls or of the total number of calls to a specific API."
                    },
                    "500": {
                        "description": "## Internal Server Error\nA generic error message. This message displays when an unexpected condition occurs and no specific message is available."
                    },
                    "503": {
                        "description": "## Service Unavailable\nThe REST server is shutting down, or the ESP master subsystem is unavailable."
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/commands/job/bypass": {
            "post": {
                "tags": [
                    "Job commands"
                ],
                "summary": "Send the job 'bypass' command to the scheduler",
                "description": "Specifies that the job is to be bypassed.",
                "operationId": "bypass",
                "requestBody": {
                    "description": "Input parameters for the 'bypass' command",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CommandPayloadJob"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommandResponseJobBypass"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "## Bad Request\nThe server cannot process the request due to a client error (for example, malformed syntax or invalid request message framing). The client must modify the request before sending the request again."
                    },
                    "401": {
                        "description": "## Unauthorized\nAuthentication is required and has failed or has not been provided."
                    },
                    "408": {
                        "description": "## Request Timeout\nThe time limit for sending a request expired. The client can repeat the request without modification."
                    },
                    "429": {
                        "description": "## Too Many Requests\nThe server cannot handle the current volume of concurrent API calls. The overall volume of concurrent API calls can compose of the total number of API calls or of the total number of calls to a specific API."
                    },
                    "500": {
                        "description": "## Internal Server Error\nA generic error message. This message displays when an unexpected condition occurs and no specific message is available."
                    },
                    "503": {
                        "description": "## Service Unavailable\nThe REST server is shutting down, or the ESP master subsystem is unavailable."
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/commands/event/trigger": {
            "post": {
                "tags": [
                    "Events"
                ],
                "summary": "Send the event 'trigger' command to the scheduler",
                "description": "The TRIGGER command triggers the execution of an event. The event execution either replaces the next scheduled execution (that is, brings forward the next execution), or it can be a temporary addition to the schedule.",
                "operationId": "trigger",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CommandPayloadEventTrigger"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "## Bad Request\nThe server cannot process the request due to a client error (for example, malformed syntax or invalid request message framing). The client must modify the request before sending the request again."
                    },
                    "401": {
                        "description": "## Unauthorized\nAuthentication is required and has failed or has not been provided."
                    },
                    "408": {
                        "description": "## Request Timeout\nThe time limit for sending a request expired. The client can repeat the request without modification."
                    },
                    "429": {
                        "description": "## Too Many Requests\nThe server cannot handle the current volume of concurrent API calls. The overall volume of concurrent API calls can compose of the total number of API calls or of the total number of calls to a specific API."
                    },
                    "500": {
                        "description": "## Internal Server Error\nA generic error message. This message displays when an unexpected condition occurs and no specific message is available."
                    },
                    "503": {
                        "description": "## Service Unavailable\nThe REST server is shutting down, or the ESP master subsystem is unavailable."
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/commands/event/suspend": {
            "post": {
                "tags": [
                    "Events"
                ],
                "summary": "Send the event 'suspend' command to the scheduler",
                "description": "The SUSPEND command increments the suspend count of an event.",
                "operationId": "suspend",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CommandPayloadEvent"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "## Bad Request\nThe server cannot process the request due to a client error (for example, malformed syntax or invalid request message framing). The client must modify the request before sending the request again."
                    },
                    "401": {
                        "description": "## Unauthorized\nAuthentication is required and has failed or has not been provided."
                    },
                    "408": {
                        "description": "## Request Timeout\nThe time limit for sending a request expired. The client can repeat the request without modification."
                    },
                    "429": {
                        "description": "## Too Many Requests\nThe server cannot handle the current volume of concurrent API calls. The overall volume of concurrent API calls can compose of the total number of API calls or of the total number of calls to a specific API."
                    },
                    "500": {
                        "description": "## Internal Server Error\nA generic error message. This message displays when an unexpected condition occurs and no specific message is available."
                    },
                    "503": {
                        "description": "## Service Unavailable\nThe REST server is shutting down, or the ESP master subsystem is unavailable."
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/commands/event/simulate": {
            "post": {
                "tags": [
                    "Events"
                ],
                "summary": "Send the event 'simulate' command to the scheduler",
                "description": "Use the SIMULATE command to simulate the functions of an event.",
                "operationId": "simulate",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CommandPayloadEventSimulate"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EventSimulationResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "## Bad Request\nThe server cannot process the request due to a client error (for example, malformed syntax or invalid request message framing). The client must modify the request before sending the request again."
                    },
                    "401": {
                        "description": "## Unauthorized\nAuthentication is required and has failed or has not been provided."
                    },
                    "408": {
                        "description": "## Request Timeout\nThe time limit for sending a request expired. The client can repeat the request without modification."
                    },
                    "429": {
                        "description": "## Too Many Requests\nThe server cannot handle the current volume of concurrent API calls. The overall volume of concurrent API calls can compose of the total number of API calls or of the total number of calls to a specific API."
                    },
                    "500": {
                        "description": "## Internal Server Error\nA generic error message. This message displays when an unexpected condition occurs and no specific message is available."
                    },
                    "503": {
                        "description": "## Service Unavailable\nThe REST server is shutting down, or the ESP master subsystem is unavailable."
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/commands/event/resume": {
            "post": {
                "tags": [
                    "Events"
                ],
                "summary": "Send the event 'resume' command to the scheduler",
                "description": "The RESUME command decrements the suspend count associated with an event. When the suspend count reaches zero, the event is eligible for execution.",
                "operationId": "resume",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CommandPayloadEvent"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "## Bad Request\nThe server cannot process the request due to a client error (for example, malformed syntax or invalid request message framing). The client must modify the request before sending the request again."
                    },
                    "401": {
                        "description": "## Unauthorized\nAuthentication is required and has failed or has not been provided."
                    },
                    "408": {
                        "description": "## Request Timeout\nThe time limit for sending a request expired. The client can repeat the request without modification."
                    },
                    "429": {
                        "description": "## Too Many Requests\nThe server cannot handle the current volume of concurrent API calls. The overall volume of concurrent API calls can compose of the total number of API calls or of the total number of calls to a specific API."
                    },
                    "500": {
                        "description": "## Internal Server Error\nA generic error message. This message displays when an unexpected condition occurs and no specific message is available."
                    },
                    "503": {
                        "description": "## Service Unavailable\nThe REST server is shutting down, or the ESP master subsystem is unavailable."
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/commands/event/release": {
            "post": {
                "tags": [
                    "Events"
                ],
                "summary": "Send the event 'release' command to the scheduler",
                "description": "The RELEASE command decrements the hold count associated with an event.",
                "operationId": "release_1",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CommandPayloadEvent"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "## Bad Request\nThe server cannot process the request due to a client error (for example, malformed syntax or invalid request message framing). The client must modify the request before sending the request again."
                    },
                    "401": {
                        "description": "## Unauthorized\nAuthentication is required and has failed or has not been provided."
                    },
                    "408": {
                        "description": "## Request Timeout\nThe time limit for sending a request expired. The client can repeat the request without modification."
                    },
                    "429": {
                        "description": "## Too Many Requests\nThe server cannot handle the current volume of concurrent API calls. The overall volume of concurrent API calls can compose of the total number of API calls or of the total number of calls to a specific API."
                    },
                    "500": {
                        "description": "## Internal Server Error\nA generic error message. This message displays when an unexpected condition occurs and no specific message is available."
                    },
                    "503": {
                        "description": "## Service Unavailable\nThe REST server is shutting down, or the ESP master subsystem is unavailable."
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/commands/event/hold": {
            "post": {
                "tags": [
                    "Events"
                ],
                "summary": "Send the event 'hold' command to the scheduler",
                "description": "The HOLD command holds an event from being processed by ESP. This increments the event's hold count. While the hold count is greater than zero, the event's execution is postponed until the hold count is decremented by the RELEASE command.",
                "operationId": "hold_1",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CommandPayloadEvent"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "## Bad Request\nThe server cannot process the request due to a client error (for example, malformed syntax or invalid request message framing). The client must modify the request before sending the request again."
                    },
                    "401": {
                        "description": "## Unauthorized\nAuthentication is required and has failed or has not been provided."
                    },
                    "408": {
                        "description": "## Request Timeout\nThe time limit for sending a request expired. The client can repeat the request without modification."
                    },
                    "429": {
                        "description": "## Too Many Requests\nThe server cannot handle the current volume of concurrent API calls. The overall volume of concurrent API calls can compose of the total number of API calls or of the total number of calls to a specific API."
                    },
                    "500": {
                        "description": "## Internal Server Error\nA generic error message. This message displays when an unexpected condition occurs and no specific message is available."
                    },
                    "503": {
                        "description": "## Service Unavailable\nThe REST server is shutting down, or the ESP master subsystem is unavailable."
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/commands/event/delete": {
            "post": {
                "tags": [
                    "Events"
                ],
                "summary": "Send the event 'delete' command to the scheduler",
                "description": "Use the DELETE command to delete an event definition.",
                "operationId": "delete",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CommandPayloadEvent"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "## Bad Request\nThe server cannot process the request due to a client error (for example, malformed syntax or invalid request message framing). The client must modify the request before sending the request again."
                    },
                    "401": {
                        "description": "## Unauthorized\nAuthentication is required and has failed or has not been provided."
                    },
                    "408": {
                        "description": "## Request Timeout\nThe time limit for sending a request expired. The client can repeat the request without modification."
                    },
                    "429": {
                        "description": "## Too Many Requests\nThe server cannot handle the current volume of concurrent API calls. The overall volume of concurrent API calls can compose of the total number of API calls or of the total number of calls to a specific API."
                    },
                    "500": {
                        "description": "## Internal Server Error\nA generic error message. This message displays when an unexpected condition occurs and no specific message is available."
                    },
                    "503": {
                        "description": "## Service Unavailable\nThe REST server is shutting down, or the ESP master subsystem is unavailable."
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/commands/application/withdraw": {
            "post": {
                "tags": [
                    "Application commands"
                ],
                "summary": "Send the application 'withdraw' command to the scheduler",
                "description": "This command withdraws all jobs in the specified application from processing before they are completed. A withdrawn job is immediately completed and its status changes to WITHDRAWN (or EXTNL WITHDRAWN for external jobs whose home job was withdrawn).",
                "operationId": "withdraw_1",
                "requestBody": {
                    "description": "Input parameters for the \u2018withdraw\u2019 command",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CommandPayloadAppl"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommandResponseApplWithdraw"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "## Bad Request\nThe server cannot process the request due to a client error (for example, malformed syntax or invalid request message framing). The client must modify the request before sending the request again."
                    },
                    "401": {
                        "description": "## Unauthorized\nAuthentication is required and has failed or has not been provided."
                    },
                    "408": {
                        "description": "## Request Timeout\nThe time limit for sending a request expired. The client can repeat the request without modification."
                    },
                    "429": {
                        "description": "## Too Many Requests\nThe server cannot handle the current volume of concurrent API calls. The overall volume of concurrent API calls can compose of the total number of API calls or of the total number of calls to a specific API."
                    },
                    "500": {
                        "description": "## Internal Server Error\nA generic error message. This message displays when an unexpected condition occurs and no specific message is available."
                    },
                    "503": {
                        "description": "## Service Unavailable\nThe REST server is shutting down, or the ESP master subsystem is unavailable."
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/commands/application/unwait": {
            "post": {
                "tags": [
                    "Application commands"
                ],
                "summary": "Send the application 'unwait' command to the scheduler",
                "description": "This command removes an application from the APPLWAIT status.",
                "operationId": "unwait_1",
                "requestBody": {
                    "description": "Input parameters for the \u2018unwait\u2019 command",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CommandPayloadAppl"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommandResponseApplUnwait"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "## Bad Request\nThe server cannot process the request due to a client error (for example, malformed syntax or invalid request message framing). The client must modify the request before sending the request again."
                    },
                    "401": {
                        "description": "## Unauthorized\nAuthentication is required and has failed or has not been provided."
                    },
                    "408": {
                        "description": "## Request Timeout\nThe time limit for sending a request expired. The client can repeat the request without modification."
                    },
                    "429": {
                        "description": "## Too Many Requests\nThe server cannot handle the current volume of concurrent API calls. The overall volume of concurrent API calls can compose of the total number of API calls or of the total number of calls to a specific API."
                    },
                    "500": {
                        "description": "## Internal Server Error\nA generic error message. This message displays when an unexpected condition occurs and no specific message is available."
                    },
                    "503": {
                        "description": "## Service Unavailable\nThe REST server is shutting down, or the ESP master subsystem is unavailable."
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/commands/application/terminate": {
            "post": {
                "tags": [
                    "Application commands"
                ],
                "summary": "Send the application \u2018terminate\u2019 (also known as \"complete and release\") command to the scheduler",
                "description": "This command completes all the jobs in the application and the application itself. It will complete the application even if it is in state APPLHOLD or APPLWAIT.",
                "operationId": "terminate",
                "requestBody": {
                    "description": "Input parameters for the \u2018terminate\u2019 command",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CommandPayloadAppl"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommandResponseApplTerminate"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "## Bad Request\nThe server cannot process the request due to a client error (for example, malformed syntax or invalid request message framing). The client must modify the request before sending the request again."
                    },
                    "401": {
                        "description": "## Unauthorized\nAuthentication is required and has failed or has not been provided."
                    },
                    "408": {
                        "description": "## Request Timeout\nThe time limit for sending a request expired. The client can repeat the request without modification."
                    },
                    "429": {
                        "description": "## Too Many Requests\nThe server cannot handle the current volume of concurrent API calls. The overall volume of concurrent API calls can compose of the total number of API calls or of the total number of calls to a specific API."
                    },
                    "500": {
                        "description": "## Internal Server Error\nA generic error message. This message displays when an unexpected condition occurs and no specific message is available."
                    },
                    "503": {
                        "description": "## Service Unavailable\nThe REST server is shutting down, or the ESP master subsystem is unavailable."
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/commands/application/release": {
            "post": {
                "tags": [
                    "Application commands"
                ],
                "summary": "Send the application 'release' command to the scheduler",
                "description": "This command releases the application (removes it from the APPLHOLD state).",
                "operationId": "release_2",
                "requestBody": {
                    "description": "Input parameters for the \u2018release\u2019 command",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CommandPayloadAppl"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommandResponseApplRelease"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "## Bad Request\nThe server cannot process the request due to a client error (for example, malformed syntax or invalid request message framing). The client must modify the request before sending the request again."
                    },
                    "401": {
                        "description": "## Unauthorized\nAuthentication is required and has failed or has not been provided."
                    },
                    "408": {
                        "description": "## Request Timeout\nThe time limit for sending a request expired. The client can repeat the request without modification."
                    },
                    "429": {
                        "description": "## Too Many Requests\nThe server cannot handle the current volume of concurrent API calls. The overall volume of concurrent API calls can compose of the total number of API calls or of the total number of calls to a specific API."
                    },
                    "500": {
                        "description": "## Internal Server Error\nA generic error message. This message displays when an unexpected condition occurs and no specific message is available."
                    },
                    "503": {
                        "description": "## Service Unavailable\nThe REST server is shutting down, or the ESP master subsystem is unavailable."
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/commands/application/hold": {
            "post": {
                "tags": [
                    "Application commands"
                ],
                "summary": "Send the application 'hold' command to the scheduler",
                "description": "This command holds the application. The command stops the submission of jobs in the application and places the application in the APPLHOLD state.",
                "operationId": "hold_2",
                "requestBody": {
                    "description": "Input parameters for the \u2018hold\u2019 command",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CommandPayloadAppl"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommandResponseApplHold"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "## Bad Request\nThe server cannot process the request due to a client error (for example, malformed syntax or invalid request message framing). The client must modify the request before sending the request again."
                    },
                    "401": {
                        "description": "## Unauthorized\nAuthentication is required and has failed or has not been provided."
                    },
                    "408": {
                        "description": "## Request Timeout\nThe time limit for sending a request expired. The client can repeat the request without modification."
                    },
                    "429": {
                        "description": "## Too Many Requests\nThe server cannot handle the current volume of concurrent API calls. The overall volume of concurrent API calls can compose of the total number of API calls or of the total number of calls to a specific API."
                    },
                    "500": {
                        "description": "## Internal Server Error\nA generic error message. This message displays when an unexpected condition occurs and no specific message is available."
                    },
                    "503": {
                        "description": "## Service Unavailable\nThe REST server is shutting down, or the ESP master subsystem is unavailable."
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/commands/application/complete": {
            "post": {
                "tags": [
                    "Application commands"
                ],
                "summary": "Send the application \u2018complete\u2019 command to the scheduler",
                "description": "This command completes all the jobs in the application. If the application is not in state APPLHOLD or APPLWAIT, the command also completes the application.",
                "operationId": "complete_1",
                "requestBody": {
                    "description": "Input parameters for the \u2018complete\u2019 command",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CommandPayloadAppl"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommandResponseApplComplete"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "## Bad Request\nThe server cannot process the request due to a client error (for example, malformed syntax or invalid request message framing). The client must modify the request before sending the request again."
                    },
                    "401": {
                        "description": "## Unauthorized\nAuthentication is required and has failed or has not been provided."
                    },
                    "408": {
                        "description": "## Request Timeout\nThe time limit for sending a request expired. The client can repeat the request without modification."
                    },
                    "429": {
                        "description": "## Too Many Requests\nThe server cannot handle the current volume of concurrent API calls. The overall volume of concurrent API calls can compose of the total number of API calls or of the total number of calls to a specific API."
                    },
                    "500": {
                        "description": "## Internal Server Error\nA generic error message. This message displays when an unexpected condition occurs and no specific message is available."
                    },
                    "503": {
                        "description": "## Service Unavailable\nThe REST server is shutting down, or the ESP master subsystem is unavailable."
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/agents/{agent}/stop": {
            "post": {
                "tags": [
                    "Agents"
                ],
                "summary": "Agent Stop",
                "description": "Stops the specific agent.",
                "operationId": "stop",
                "parameters": [
                    {
                        "name": "agent",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "403": {
                        "description": "If the user is not allowed to stop the agent",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "## Internal Server Error\nA generic error message. This message displays when an unexpected condition occurs and no specific message is available."
                    },
                    "200": {
                        "description": "Stopped agent",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AgentResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "## Bad Request\nThe server cannot process the request due to a client error (for example, malformed syntax or invalid request message framing). The client must modify the request before sending the request again."
                    },
                    "401": {
                        "description": "## Unauthorized\nAuthentication is required and has failed or has not been provided."
                    },
                    "408": {
                        "description": "## Request Timeout\nThe time limit for sending a request expired. The client can repeat the request without modification."
                    },
                    "429": {
                        "description": "## Too Many Requests\nThe server cannot handle the current volume of concurrent API calls. The overall volume of concurrent API calls can compose of the total number of API calls or of the total number of calls to a specific API."
                    },
                    "503": {
                        "description": "## Service Unavailable\nThe REST server is shutting down, or the ESP master subsystem is unavailable."
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/agents/{agent}/stop-start": {
            "post": {
                "tags": [
                    "Agents"
                ],
                "summary": "Agent Stop-Start",
                "description": "Stops and starts the specific agent.",
                "operationId": "stopStart",
                "parameters": [
                    {
                        "name": "agent",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "500": {
                        "description": "## Internal Server Error\nA generic error message. This message displays when an unexpected condition occurs and no specific message is available."
                    },
                    "403": {
                        "description": "If the user is not allowed to stop-start the agent",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Stop-started agent",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AgentResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "## Bad Request\nThe server cannot process the request due to a client error (for example, malformed syntax or invalid request message framing). The client must modify the request before sending the request again."
                    },
                    "401": {
                        "description": "## Unauthorized\nAuthentication is required and has failed or has not been provided."
                    },
                    "408": {
                        "description": "## Request Timeout\nThe time limit for sending a request expired. The client can repeat the request without modification."
                    },
                    "429": {
                        "description": "## Too Many Requests\nThe server cannot handle the current volume of concurrent API calls. The overall volume of concurrent API calls can compose of the total number of API calls or of the total number of calls to a specific API."
                    },
                    "503": {
                        "description": "## Service Unavailable\nThe REST server is shutting down, or the ESP master subsystem is unavailable."
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/agents/{agent}/restart": {
            "post": {
                "tags": [
                    "Agents"
                ],
                "summary": "Agent Restart",
                "description": "Releases any held messages queued for transmission to the specified agent.",
                "operationId": "unquiesce",
                "parameters": [
                    {
                        "name": "agent",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Restarted agent",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AgentResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "If the user is not allowed to restart the agent",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "## Bad Request\nThe server cannot process the request due to a client error (for example, malformed syntax or invalid request message framing). The client must modify the request before sending the request again."
                    },
                    "401": {
                        "description": "## Unauthorized\nAuthentication is required and has failed or has not been provided."
                    },
                    "408": {
                        "description": "## Request Timeout\nThe time limit for sending a request expired. The client can repeat the request without modification."
                    },
                    "429": {
                        "description": "## Too Many Requests\nThe server cannot handle the current volume of concurrent API calls. The overall volume of concurrent API calls can compose of the total number of API calls or of the total number of calls to a specific API."
                    },
                    "500": {
                        "description": "## Internal Server Error\nA generic error message. This message displays when an unexpected condition occurs and no specific message is available."
                    },
                    "503": {
                        "description": "## Service Unavailable\nThe REST server is shutting down, or the ESP master subsystem is unavailable."
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/agents/{agent}/quiesce": {
            "post": {
                "tags": [
                    "Agents"
                ],
                "summary": "Agent Quiesce",
                "description": "Holds any messages queued for transmission to the specified agent.",
                "operationId": "quiesce",
                "parameters": [
                    {
                        "name": "agent",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Quiesced agent",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AgentResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "If the user is not allowed to quiesce the agent",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "## Bad Request\nThe server cannot process the request due to a client error (for example, malformed syntax or invalid request message framing). The client must modify the request before sending the request again."
                    },
                    "401": {
                        "description": "## Unauthorized\nAuthentication is required and has failed or has not been provided."
                    },
                    "408": {
                        "description": "## Request Timeout\nThe time limit for sending a request expired. The client can repeat the request without modification."
                    },
                    "429": {
                        "description": "## Too Many Requests\nThe server cannot handle the current volume of concurrent API calls. The overall volume of concurrent API calls can compose of the total number of API calls or of the total number of calls to a specific API."
                    },
                    "500": {
[...]
