{
    "openapi": "3.0.1",
    "info": {
        "description": "The NetMaster API service helps you quickly glean network information that can be used by network security personnel and network administrators to manage and analyze your network. The NetMaster API service also allows you to setup the NetMaster Web Portal, so you can manage and analyze your network with an intuitive and simple UI. The NetMaster API service can also be used to compile large amounts of network data that can be offloaded into web dashboards, CI/CD pipelines, databases, and much more.",
        "title": "NetMaster",
        "version": "2023.5.0"
    },
    "servers": [
        {
            "url": "https://developer.mainframe.broadcom.com",
            "description": "Generated server url"
        }
    ],
    "tags": [
        {
            "description": "Parameter Data Controllers",
            "name": "The Parameter Data API"
        },
        {
            "description": "Server Data Controllers",
            "name": "The Server API"
        },
        {
            "description": "SmartTrace Active Traces Controllers",
            "name": "The SmartTrace Active Traces API"
        },
        {
            "description": "SmartTrace Definitions Controllers",
            "name": "The SmartTrace Definitions API"
        },
        {
            "description": "SmartTrace Packets Controllers",
            "name": "The SmartTrace Packets API"
        },
        {
            "description": "SmartTrace Saved Packets Controllers",
            "name": "The SmartTrace Saved Packets API"
        },
        {
            "description": "SmartTrace Saved Traces Controllers",
            "name": "The SmartTrace Saved Traces API"
        },
        {
            "description": "Stack Data Controllers",
            "name": "The Stack Data API"
        },
        {
            "description": "Connection Packet Trace Controllers",
            "name": "The TCP/IP Connection Packet Trace API"
        },
        {
            "description": "Tcpip Counters Controllers",
            "name": "The TCP/IP Counters API"
        },
        {
            "description": "Tcpip Data Controllers",
            "name": "The TCP/IP Data API"
        }
    ],
    "paths": {
        "/api/v1/auth/login": {
            "post": {
                "operationId": "login",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LoginRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Successful login"
                    },
                    "400": {
                        "description": "Invalid request"
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "Invalid credentials"
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "summary": "Login and return authentication token",
                "tags": [
                    "Login"
                ]
            }
        },
        "/api/v1/auth/logout": {
            "post": {
                "operationId": "logout",
                "responses": {
                    "204": {
                        "description": "Successful logout"
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "summary": "Logout JWT token",
                "tags": [
                    "Login"
                ]
            }
        },
        "/api/v1/auth/query": {
            "get": {
                "operationId": "query",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TokenInfo"
                                }
                            }
                        },
                        "description": "Successful validation"
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "Invalid credentials"
                    }
                },
                "summary": "Validate the token and return token details",
                "tags": [
                    "Login"
                ]
            }
        },
        "/api/v1/parms/{region}/web": {
            "get": {
                "description": "Returns parameter data for the Web interface, including URL and port number",
                "operationId": "getWebParameters",
                "parameters": [
                    {
                        "description": "NetMaster region name",
                        "in": "path",
                        "name": "region",
                        "required": true,
                        "schema": {
                            "pattern": "^[A-Za-z@#$][A-Za-z0-9@#$]{0,7}$",
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponseWebParameterData"
                                }
                            }
                        },
                        "description": "Web interface parameter data"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "Bad Request: check format"
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "Authentication is required"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "This NetMaster region is not active"
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    },
                    {
                        "bearerToken": []
                    }
                ],
                "summary": "Get Web interface parameter data",
                "tags": [
                    "The Parameter Data API"
                ]
            }
        },
        "/api/v1/server/ciphers": {
            "get": {
                "operationId": "getCiphers",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponseBaseResponseArrayDataCipher"
                                }
                            }
                        },
                        "description": "List of ciphers"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "Bad Request: check format"
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "Authentication is required"
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    },
                    {
                        "bearerToken": []
                    }
                ],
                "summary": "Get ciphers used with secure connections",
                "tags": [
                    "The Server API"
                ]
            }
        },
        "/api/v1/server/regions": {
            "get": {
                "operationId": "getRegions",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponseBaseResponseArrayDataRegionsDataRow"
                                }
                            }
                        },
                        "description": "List of NetMaster regions"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "Bad Request: check format"
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "Authentication is required"
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    },
                    {
                        "bearerToken": []
                    }
                ],
                "summary": "Get NetMaster regions connected to data provider (this server)",
                "tags": [
                    "The Server API"
                ]
            }
        },
        "/api/v1/server/webSocketInfo": {
            "get": {
                "operationId": "getWebSocketInfo",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponseWsInfoData"
                                }
                            }
                        },
                        "description": "Web Socket Information"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "Bad Request: check format"
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "Authentication is required"
                    }
                },
                "security": [
                    {
                        "Bearer token": []
                    },
                    {
                        "basicAuth": []
                    },
                    {
                        "bearerToken": []
                    }
                ],
                "summary": "Get Web Socket Information used to connect to (this server) via web socket",
                "tags": [
                    "The Server API"
                ]
            }
        },
        "/api/v1/tcpip/{region}/smart/definition": {
            "get": {
                "description": "Returns a list of all SmartTrace definitions that is optionally sorted.",
                "operationId": "getDefinitions",
                "parameters": [
                    {
                        "description": "NetMaster region name",
                        "in": "path",
                        "name": "region",
                        "required": true,
                        "schema": {
                            "pattern": "^[A-Za-z@#$][A-Za-z0-9@#$]{0,7}$",
                            "type": "string"
                        }
                    },
                    {
                        "description": "Start position (zero-based row number) of the data to return",
                        "in": "query",
                        "name": "index",
                        "required": false,
                        "schema": {
                            "maximum": 2147483647,
                            "minimum": 0,
                            "type": "string",
                            "default": "0"
                        }
                    },
                    {
                        "description": "Limit (maximum number of rows) on the data to return",
                        "in": "query",
                        "name": "limit",
                        "required": false,
                        "schema": {
                            "maximum": 2147483647,
                            "minimum": 0,
                            "type": "string",
                            "default": "0"
                        }
                    },
                    {
                        "description": "The sort order of the definition data. In the format of `(COL_NAME):(asc|desc)`",
                        "in": "query",
                        "name": "sort",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "name:asc"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponseBaseResponseArrayDataSmartTraceDefinitionRow"
                                }
                            }
                        },
                        "description": "A list of defined SmartTrace definitions was returned back to the client"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "A SmartTrace definition could not be found due to one of the following conditions:\n\nInvalid format for the query parameters."
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "The user is not authenticated to the application. They must provide either a valid login token or valid credentials before continuing."
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "A SmartTrace definition could not be found due to one of the following conditions:\n\nThe user does not have the appropriate authority to view SmartTrace definitions."
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    },
                    {
                        "bearerToken": []
                    }
                ],
                "summary": "Get a list of all SmartTrace definitions available in NetMaster.",
                "tags": [
                    "The SmartTrace Definitions API"
                ]
            }
        },
        "/api/v1/tcpip/{region}/smart/definition/{name}": {
            "delete": {
                "description": "No content will be included in the response back to the client.",
                "operationId": "deleteSmartTraceDefinition",
                "parameters": [
                    {
                        "description": "NetMaster region name",
                        "in": "path",
                        "name": "region",
                        "required": true,
                        "schema": {
                            "pattern": "^[A-Za-z@#$][A-Za-z0-9@#$]{0,7}$",
                            "type": "string"
                        }
                    },
                    {
                        "description": "SmartTrace definition name, must be uppercase",
                        "in": "path",
                        "name": "name",
                        "required": true,
                        "schema": {
                            "pattern": "^[A-Z][A-Z0-9@#$]{0,11}$",
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "The SmartTrace definition was deleted. No content is returned."
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "The SmartTrace definition could not be deleted due to an invalid format for the URI name parameter."
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "The user is not authenticated to the application. They must provide either a valid login token or valid credentials before continuing."
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "The SmartTrace definition could not be deleted because the user does not have the appropriate authority to delete a SmartTrace definition."
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "A SmartTrace definition matching the URI {name} parameter was not found."
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    },
                    {
                        "bearerToken": []
                    }
                ],
                "summary": "Deletes an existing SmartTrace Definition.",
                "tags": [
                    "The SmartTrace Definitions API"
                ]
            },
            "get": {
                "operationId": "getDefinitionDetails",
                "parameters": [
                    {
                        "description": "NetMaster region name",
                        "in": "path",
                        "name": "region",
                        "required": true,
                        "schema": {
                            "pattern": "^[A-Za-z@#$][A-Za-z0-9@#$]{0,7}$",
                            "type": "string"
                        }
                    },
                    {
                        "description": "SmartTrace definition name, must be uppercase",
                        "in": "path",
                        "name": "name",
                        "required": true,
                        "schema": {
                            "pattern": "^[A-Z][A-Z0-9@#$]{0,11}$",
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/TcpTraceDefinition"
                                        },
                                        {
                                            "$ref": "#/components/schemas/UdpTraceDefinition"
                                        },
                                        {
                                            "$ref": "#/components/schemas/MultipleTcpTraceDefinition"
                                        },
                                        {
                                            "$ref": "#/components/schemas/IpV6TraceDefinition"
                                        },
                                        {
                                            "$ref": "#/components/schemas/IpV4TraceDefinition"
                                        },
                                        {
                                            "$ref": "#/components/schemas/IcmpV4TraceDefinition"
                                        },
                                        {
                                            "$ref": "#/components/schemas/IcmpV6TraceDefinition"
                                        }
                                    ],
                                    "example": null
                                }
                            }
                        },
                        "description": "A SmartTrace definition with the given name exists and was returned back in the response"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "A SmartTrace definition could not be found due to one of the following conditions:\n\nInvalid format for the name field in the URI."
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "The user is not authenticated to the application. They must provide either a valid login token or valid credentials before continuing."
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "A SmartTrace definition could not be found due to one of the following conditions:\n\nThe user does not have the appropriate authority to view SmartTrace definitions."
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "A SmartTrace definition matching the URI `name` parameter was not found."
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    },
                    {
                        "bearerToken": []
                    }
                ],
                "summary": "Get all the information about a given SmartTrace definition.",
                "tags": [
                    "The SmartTrace Definitions API"
                ]
            },
            "post": {
                "description": "No content will be included in the response back to the client.",
                "operationId": "createSmartTraceDefinition",
                "parameters": [
                    {
                        "description": "NetMaster region name",
                        "in": "path",
                        "name": "region",
                        "required": true,
                        "schema": {
                            "pattern": "^[A-Za-z@#$][A-Za-z0-9@#$]{0,7}$",
                            "type": "string"
                        }
                    },
                    {
                        "description": "SmartTrace definition name, must be uppercase",
                        "in": "path",
                        "name": "name",
                        "required": true,
                        "schema": {
                            "pattern": "^[A-Z][A-Z0-9@#$]{0,11}$",
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "example": {
                                "description": "TCP Test",
                                "type": "TCP",
                                "criteria": {
                                    "base": {
                                        "stack": "TCPIP32",
                                        "interfaceName": "LOOPBACK",
                                        "localHost": "192.168.1.1",
                                        "remoteHost": "192.168.1.1",
                                        "localPort": "234",
                                        "remotePort": "4362"
                                    },
                                    "advanced": {
                                        "flagExpression": "ACK OR RST OR SYN",
                                        "packetFilter": {
                                            "expression": "1 AND 2",
                                            "filters": [
                                                {
                                                    "operator": "EQ",
                                                    "data": "123",
                                                    "format": "ASCII",
                                                    "start": 23,
                                                    "length": 3
                                                },
                                                {
                                                    "operator": "EQ",
                                                    "data": "145",
                                                    "format": "ASCII",
                                                    "start": 26,
                                                    "length": 3
                                                }
                                            ]
                                        }
                                    },
                                    "stop": {
                                        "flagExpression": "FIN",
                                        "packetFilter": {
                                            "expression": "1",
                                            "filters": [
                                                {
                                                    "operator": "EQ",
                                                    "data": "523",
                                                    "format": "ASCII",
                                                    "start": 32,
                                                    "length": 3
                                                }
                                            ]
                                        },
                                        "packetDir": "IN"
                                    }
                                },
                                "options": {
                                    "limit": 250,
                                    "stopAtLimit": true,
                                    "expireTime": 24,
                                    "packetsAfterStop": 25
                                },
                                "isFavorite": true
                            },
                            "schema": {
                                "example": null,
                                "oneOf": [
                                    {
                                        "$ref": "#/components/schemas/TcpTraceDefinition"
                                    },
                                    {
                                        "$ref": "#/components/schemas/UdpTraceDefinition"
                                    },
                                    {
                                        "$ref": "#/components/schemas/IcmpV4TraceDefinition"
                                    },
                                    {
                                        "$ref": "#/components/schemas/IcmpV6TraceDefinition"
                                    },
                                    {
                                        "$ref": "#/components/schemas/IpV4TraceDefinition"
                                    },
                                    {
                                        "$ref": "#/components/schemas/IpV6TraceDefinition"
                                    },
                                    {
                                        "$ref": "#/components/schemas/MultipleTcpTraceDefinition"
                                    }
                                ]
                            }
                        }
                    },
                    "description": "Example of a TCP trace definition",
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "The SmartTrace definition was created. No content is included in the response to the client."
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "A SmartTrace definition could not be created due to one of the following conditions:\n\nThe formatting of the name field in the URI is invalid.\nBad input is present in the body of the JSON content."
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "The user is not authenticated to the application. They must provide either a valid login token or valid credentials before continuing."
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "A SmartTrace definition could not be created due to one of the following conditions:\n\nThe user does not have the appropriate authority to create a SmartTrace definition.\nA SmartTrace definition with the same name already exists."
                    },
                    "404": {
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "A SmartTrace definition matching the URI `name` parameter already exists."
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    },
                    {
                        "bearerToken": []
                    }
                ],
                "summary": "Create a new SmartTrace Definition with the specified name.",
                "tags": [
                    "The SmartTrace Definitions API"
                ]
            },
            "put": {
                "operationId": "updateDefinitionDetails",
                "parameters": [
                    {
                        "description": "NetMaster region name",
                        "in": "path",
                        "name": "region",
                        "required": true,
                        "schema": {
                            "pattern": "^[A-Za-z@#$][A-Za-z0-9@#$]{0,7}$",
                            "type": "string"
                        }
                    },
                    {
                        "description": "SmartTrace definition name, must be uppercase",
                        "in": "path",
                        "name": "name",
                        "required": true,
                        "schema": {
                            "pattern": "^[A-Z][A-Z0-9@#$]{0,11}$",
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json-patch+json": {
                            "example": [
                                {
                                    "op": "test",
                                    "path": "/type",
                                    "value": "TCP"
                                },
                                {
                                    "op": "replace",
                                    "path": "/description",
                                    "value": "NEW DESCRIPTION"
                                },
                                {
                                    "op": "remove",
                                    "path": "/criteria/stop/packetDir"
                                },
                                {
                                    "op": "replace",
                                    "path": "/options/limit",
                                    "value": 100
                                },
                                {
                                    "op": "replace",
                                    "path": "/options/packetsAfterStop",
                                    "value": 17
                                },
                                {
                                    "op": "add",
                                    "path": "/criteria/stop/packetFilter/filters/1",
                                    "value": {
                                        "operator": "EQ",
                                        "data": "AJT",
                                        "format": "ASCII",
                                        "start": 38,
                                        "length": 3
                                    }
                                },
                                {
                                    "op": "replace",
                                    "path": "/criteria/stop/packetFilter/expression",
                                    "value": "1 AND 2"
                                }
                            ],
                            "schema": {
                                "example": null,
                                "oneOf": [
                                    {
                                        "$ref": "#/components/schemas/JsonPatch"
                                    }
                                ]
                            }
                        }
                    },
                    "description": "Example of updating a TCP trace definition. See RFC 6902 for overview of how a PATCH works. https://datatracker.ietf.org/doc/html/rfc6902#section-4.3 ",
                    "required": true
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/JsonPatch"
                                        }
                                    ],
                                    "example": null
                                }
                            }
                        },
                        "description": "A SmartTrace definition with the given name exists and was returned back in the response"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "A SmartTrace definition could not be found due to one of the following conditions:\n\nInvalid format for the name field in the URI."
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "The user is not authenticated to the application. They must provide either a valid login token or valid credentials before continuing."
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "A SmartTrace definition could not be found due to one of the following conditions:\n\nThe user does not have the appropriate authority to view SmartTrace definitions."
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "A SmartTrace definition matching the URI `name` parameter was not found."
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    },
                    {
                        "bearerToken": []
                    }
                ],
                "summary": "Update an existing SmartTrace definition.",
                "tags": [
                    "The SmartTrace Definitions API"
                ]
            }
        },
        "/api/v1/tcpip/{region}/smart/definition/{name}/start": {
            "put": {
                "description": "If the definition is already started, the server will ignore the request but respond back to the client as if it started the trace.",
                "operationId": "startSmartTrace",
                "parameters": [
                    {
                        "description": "NetMaster region name",
                        "in": "path",
                        "name": "region",
                        "required": true,
                        "schema": {
                            "pattern": "^[A-Za-z@#$][A-Za-z0-9@#$]{0,7}$",
                            "type": "string"
                        }
                    },
                    {
                        "description": "SmartTrace definition name, must be uppercase",
                        "in": "path",
                        "name": "name",
                        "required": true,
                        "schema": {
                            "pattern": "^[A-Z][A-Z0-9@#$]{0,11}$",
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "The SmartTrace definition was started. If the definition is already started,the server ignores the request, but responds to the client as if it started the trace."
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "The SmartTrace definition could not be started due to an invalid format for the URI name parameter"
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "The user is not authenticated to the application. They must provide either a valid login token or valid credentials before continuing."
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": " The SmartTrace definition could not be started because the user does not have theappropriate authority to start a SmartTrace definition."
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "A SmartTrace definition matching the URI {name} parameter was not found."
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "The SmartTrace definition was invalid and could not be started. Sample error message:\n\nIPPT0216: Activation failed. Invalid trace criteria: Interface/Local Host"
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    },
                    {
                        "bearerToken": []
                    }
                ],
                "summary": "Starts a SmartTrace definition.",
                "tags": [
                    "The SmartTrace Definitions API"
                ]
            }
        },
        "/api/v1/tcpip/{region}/smart/definition/{name}/stop": {
            "delete": {
                "description": "No content will be included in the response back to the client.",
                "operationId": "stopSmartTrace",
                "parameters": [
                    {
                        "description": "NetMaster region name",
                        "in": "path",
                        "name": "region",
                        "required": true,
                        "schema": {
                            "pattern": "^[A-Za-z@#$][A-Za-z0-9@#$]{0,7}$",
                            "type": "string"
                        }
                    },
                    {
                        "description": "SmartTrace definition name",
                        "in": "path",
                        "name": "name",
                        "required": true,
                        "schema": {
                            "pattern": "^[A-Z][A-Z0-9@#$]{0,11}$",
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "The SmartTrace definition was stopped. If the definition is already stopped, the server ignores the request, but responds to the client as if it stopped the trace."
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "The SmartTrace definition could not be stopped due to an invalid format for the name field in the URI."
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "The user is not authenticated to the application. They must provide either a valid login token or valid credentials before continuing."
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "The SmartTrace definition could not be stopped because the user does not have the appropriate authority to stop a SmartTrace definition.\n"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "A SmartTrace definition matching the URI {name} parameter was not found."
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    },
                    {
                        "bearerToken": []
                    }
                ],
                "summary": "Stop an active SmartTrace.",
                "tags": [
                    "The SmartTrace Definitions API"
                ]
            }
        },
        "/api/v1/tcpip/{region}/smart/saved": {
            "get": {
                "description": "Returns a summary of all saved traces available in a NetMaster region.",
                "operationId": "getAllSavedTraces",
                "parameters": [
                    {
                        "description": "NetMaster region name",
                        "in": "path",
                        "name": "region",
                        "required": true,
                        "schema": {
                            "pattern": "^[A-Za-z@#$][A-Za-z0-9@#$]{0,7}$",
                            "type": "string"
                        }
                    },
                    {
                        "description": "Start position (zero-based row number) of the data to return",
                        "in": "query",
                        "name": "index",
                        "required": false,
                        "schema": {
                            "maximum": 2147483647,
                            "minimum": 0,
                            "type": "string",
                            "default": "0"
                        }
                    },
                    {
                        "description": "Limit (maximum number of rows) on the data to return",
                        "in": "query",
                        "name": "limit",
                        "required": false,
                        "schema": {
                            "maximum": 2147483647,
                            "minimum": 0,
                            "type": "string",
                            "default": "0"
                        }
                    },
                    {
                        "description": "The sort order of the trace instance data in the format:\n (COL_NAME):(asc|desc)\n\nFor example: `id:asc`",
                        "in": "query",
                        "name": "sort",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "id:asc"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponseBaseResponseArrayDataSavedTraceSummary"
                                }
                            }
                        },
                        "description": "A list of saved traces was returned back to the client."
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "A list of saved traces could not be returned due to one of the following conditions:\n\nInvalid format for the URI parameters\n\nInvalid format for the query parameters"
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "The user is not authenticated to the application. They must provide either a valid login token or valid credentials before continuing."
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "A list of saved traces could not be returned because the user does not have the appropriate authority to view saved traces."
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    },
                    {
                        "bearerToken": []
                    }
                ],
                "summary": "Get a summary of all saved traces available in a NetMaster region.",
                "tags": [
                    "The SmartTrace Saved Traces API"
                ]
            }
        },
        "/api/v1/tcpip/{region}/smart/saved/{id}": {
            "delete": {
                "description": "No content will be included in the response back to the client.",
                "operationId": "deleteSavedTrace",
                "parameters": [
                    {
                        "description": "SmartTrace saved trace ID",
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "pattern": "^([A-Za-z][A-Za-z0-9@#$]{0,11}|>\\w+\\W\\w+\\W\\w+)-(?!0)\\d+$",
                            "type": "string"
                        }
                    },
                    {
                        "description": "NetMaster region name",
                        "in": "path",
                        "name": "region",
                        "required": true,
                        "schema": {
                            "pattern": "^[A-Za-z@#$][A-Za-z0-9@#$]{0,7}$",
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "The saved trace was deleted. No content is returned."
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "The saved trace could not be deleted due to an invalid format for the URI id parameter."
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "The user is not authenticated to the application. They must provide either a valid login token or valid credentials before continuing."
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "The saved trace could not be deleted because the user does not have the appropriate authority to delete saved traces."
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "A saved trace matching the URI id parameter was not found."
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    },
                    {
                        "bearerToken": []
                    }
                ],
                "summary": "Delete a saved trace.",
                "tags": [
                    "The SmartTrace Saved Traces API"
                ]
            },
            "get": {
                "operationId": "getTraceDetails_1",
                "parameters": [
                    {
                        "description": "NetMaster region name",
                        "in": "path",
                        "name": "region",
                        "required": true,
                        "schema": {
                            "pattern": "^[A-Za-z@#$][A-Za-z0-9@#$]{0,7}$",
                            "type": "string"
                        }
                    },
                    {
                        "description": "The id of the saved trace instance.",
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "pattern": "^([A-Za-z][A-Za-z0-9@#$]{0,11}|>\\w+\\W\\w+\\W\\w+)-(?!0)\\d+$",
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponseSavedTraceDetails"
                                }
                            }
                        },
                        "description": "A trace was returned back to the client."
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "A trace could not be returned due to one of the following conditions:\n\nInvalid format for the URI parameters."
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "The user is not authenticated to the application. They must provide either a valid login token or valid credentials before continuing."
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "A trace could not be returned due to one of the following conditions:\n\nThe user does not have the appropriate authority to view traces."
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "A trace matching the URI parameters could not be located."
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    },
                    {
                        "bearerToken": []
                    }
                ],
                "summary": "Gets all of the details about a single SmartTrace saved instance in NetMaster.",
                "tags": [
                    "The SmartTrace Saved Traces API"
                ]
            }
        },
        "/api/v1/tcpip/{region}/smart/saved/{id}/download": {
            "get": {
                "operationId": "downloadSavedTrace",
                "parameters": [
                    {
                        "description": "NetMaster region name",
                        "in": "path",
                        "name": "region",
                        "required": true,
                        "schema": {
                            "pattern": "^[A-Za-z@#$][A-Za-z0-9@#$]{0,7}$",
                            "type": "string"
                        }
                    },
                    {
                        "description": "The id of the saved trace instance.",
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "pattern": "^([A-Za-z][A-Za-z0-9@#$]{0,11}|>\\w+\\W\\w+\\W\\w+)-(?!0)\\d+$",
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/octet-stream": {
                                "example": "PCAP file content",
                                "schema": {
                                    "type": "file",
                                    "format": "binary"
                                }
                            }
                        },
                        "description": "The trace was downloaded."
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "A  trace could not be downloaded due to one of the following conditions:\n\nInvalid format for the URI query parameters."
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "The user is not authenticated to the application. They must provide either a valid login token or valid credentials before continuing."
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "A list of traces could not be downloaded due to one of the following conditions:\n\nThe user does not have the appropriate authority to view traces."
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "A trace matching the URI parameters could not be located."
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    },
                    {
                        "bearerToken": []
                    }
                ],
                "summary": "Download a saved SmartTrace instance from NetMaster.",
                "tags": [
                    "The SmartTrace Saved Traces API"
                ]
            }
        },
        "/api/v1/tcpip/{region}/smart/saved/{id}/packets": {
            "get": {
                "operationId": "getAllSavedPacketsSummary",
                "parameters": [
                    {
                        "description": "NetMaster region name",
                        "in": "path",
                        "name": "region",
                        "required": true,
                        "schema": {
                            "pattern": "^[A-Za-z@#$][A-Za-z0-9@#$]{0,7}$",
                            "type": "string"
                        }
                    },
                    {
                        "description": "Start position (zero-based row number) of the data to return",
                        "in": "query",
                        "name": "index",
                        "required": false,
                        "schema": {
                            "maximum": 2147483647,
                            "minimum": 0,
                            "type": "string",
                            "default": "0"
                        }
                    },
                    {
                        "description": "Limit (maximum number of rows) on the data to return",
                        "in": "query",
                        "name": "limit",
                        "required": false,
                        "schema": {
                            "maximum": 2147483647,
                            "minimum": 0,
                            "type": "string",
                            "default": "0"
                        }
                    },
                    {
                        "description": "The id of the saved trace instance.",
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "pattern": "^([A-Za-z][A-Za-z0-9@#$]{0,11}|>\\w+\\W\\w+\\W\\w+)-(?!0)\\d+$",
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponseBaseResponseArrayDataPacketSummary"
                                }
                            }
                        },
                        "description": "Packet summary information was returned."
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "Packet summary information could not be returned due to an invalid format for the URI query parameters."
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "The user is not authenticated to the application. They must provide either a valid login token or valid credentials before continuing."
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "Packet summary information could not be returned because the user does not have the appropriate authority to view packets."
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "Packet summary information could not be returned because a trace matching the URI parameters could not be located."
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    },
                    {
                        "bearerToken": []
                    }
                ],
                "summary": "Get a summary of all packets in a saved trace, up to the specified limit.",
                "tags": [
                    "The SmartTrace Saved Packets API"
                ]
            }
        },
        "/api/v1/tcpip/{region}/smart/saved/{id}/packets/{packetNumber}": {
            "get": {
                "operationId": "getSinglePacketsSummary_1",
                "parameters": [
                    {
                        "description": "NetMaster region name",
                        "in": "path",
                        "name": "region",
                        "required": true,
                        "schema": {
                            "pattern": "^[A-Za-z@#$][A-Za-z0-9@#$]{0,7}$",
                            "type": "string"
                        }
                    },
                    {
                        "description": "The id of the saved trace instance.",
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "pattern": "^([A-Za-z][A-Za-z0-9@#$]{0,11}|>\\w+\\W\\w+\\W\\w+)-(?!0)\\d+$",
                            "type": "string"
                        }
                    },
                    {
                        "description": "The packet number. ",
                        "in": "path",
                        "name": "packetNumber",
                        "required": true,
                        "schema": {
                            "minimum": 1,
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponsePacketSummary"
                                }
                            }
                        },
                        "description": "Single packet summary information was returned."
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "Single packet summary information could not be returned due to an invalid format for the URI query parameters:"
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "The user is not authenticated to the application. They must provide either a valid login token or valid credentials before continuing."
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "Single packet summary information could not be returned because the user does not have the appropriate authority to view packets."
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "Single packet summary information could not be returned because a trace matching the URI parameters could not be located."
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    },
                    {
                        "bearerToken": []
                    }
                ],
                "summary": "Return a formatted summary of a single packet in a saved trace.",
                "tags": [
                    "The SmartTrace Saved Packets API"
                ]
            }
        },
        "/api/v1/tcpip/{region}/smart/saved/{id}/packets/{packetNumber}/details/formatted": {
            "get": {
                "operationId": "getPacketDetailFormatted_1",
                "parameters": [
                    {
                        "description": "NetMaster region name",
                        "in": "path",
                        "name": "region",
                        "required": true,
                        "schema": {
                            "pattern": "^[A-Za-z@#$][A-Za-z0-9@#$]{0,7}$",
                            "type": "string"
                        }
                    },
                    {
                        "description": "The id of the trace instance.",
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "pattern": "^([A-Za-z][A-Za-z0-9@#$]{0,11}|>\\w+\\W\\w+\\W\\w+)-(?!0)\\d+$",
                            "type": "string"
                        }
                    },
                    {
                        "description": "The packet number from which you are retrieving the formatted details",
                        "in": "path",
                        "name": "packetNumber",
                        "required": true,
                        "schema": {
                            "minimum": 1,
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponseArrayListNameValuesData"
                                }
                            }
                        },
                        "description": "Packet detail information was returned."
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "Packet detail information could not be returned due to an invalid format for the URI query parameters."
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "The user is not authenticated to the application. They must provide either a valid login token or valid credentials before continuing."
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "Packet detail information could not be returned because the user does not have the appropriate authority to view packets."
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "Packet detail information could not be returned due to one of the following reasons:\n\nA saved trace instance with a matching ID could not be found.\nA packet with the specified number does not exist in the trace."
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    },
                    {
                        "bearerToken": []
                    }
                ],
                "summary": "Return requested packet number of a saved trace instance in detail formatted.",
                "tags": [
                    "The SmartTrace Saved Packets API"
                ]
            }
        },
        "/api/v1/tcpip/{region}/smart/saved/{id}/packets/{packetNumber}/details/raw": {
            "get": {
                "operationId": "getPacketDetailRaw_1",
                "parameters": [
                    {
                        "description": "NetMaster region name",
                        "in": "path",
                        "name": "region",
                        "required": true,
                        "schema": {
                            "pattern": "^[A-Za-z@#$][A-Za-z0-9@#$]{0,7}$",
                            "type": "string"
                        }
                    },
                    {
                        "description": "The id of the saved trace instance.",
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "pattern": "^([A-Za-z][A-Za-z0-9@#$]{0,11}|>\\w+\\W\\w+\\W\\w+)-(?!0)\\d+$",
                            "type": "string"
                        }
                    },
                    {
                        "description": "The packet number from which you are retrieving the raw details",
                        "in": "path",
                        "name": "packetNumber",
                        "required": true,
                        "schema": {
                            "minimum": 1,
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponsePacketRawDetailsData"
                                }
                            }
                        },
                        "description": "Raw packet detail information was returned."
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "Raw packet detail information could not be returned due to an invalid format for the URI query parameters."
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "The user is not authenticated to the application. They must provide either a valid login token or valid credentials before continuing."
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "Raw packet detail information could not be returned because the user does not have the appropriate authority to view packets."
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "Raw packet detail information could not be returned due to one of the following reasons:\n\nA saved trace instance with a matching ID could not be found.\nA packet with the specified number does not exist in the trace."
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    },
                    {
                        "bearerToken": []
                    }
                ],
                "summary": "Return requested packet number of a saved trace instance in raw detail.",
                "tags": [
                    "The SmartTrace Saved Packets API"
                ]
            }
        },
        "/api/v1/tcpip/{region}/smart/trace": {
            "get": {
                "description": "Returns a list of all SmartTrace instances that is optionally sorted.",
                "operationId": "getAllInstances",
                "parameters": [
                    {
                        "description": "NetMaster region name",
                        "in": "path",
                        "name": "region",
                        "required": true,
                        "schema": {
                            "pattern": "^[A-Za-z@#$][A-Za-z0-9@#$]{0,7}$",
                            "type": "string"
                        }
                    },
                    {
                        "description": "Start position (zero-based row number) of the data to return",
                        "in": "query",
                        "name": "index",
                        "required": false,
                        "schema": {
                            "maximum": 2147483647,
                            "minimum": 0,
                            "type": "string",
                            "default": "0"
                        }
                    },
                    {
                        "description": "Limit (maximum number of rows) on the data to return",
                        "in": "query",
                        "name": "limit",
                        "required": false,
                        "schema": {
                            "maximum": 2147483647,
                            "minimum": 0,
                            "type": "string",
                            "default": "0"
                        }
                    },
                    {
                        "description": "The sort order of the trace instance data in the format:\n (COL_NAME):(asc|desc)\n\nFor example: `id:asc`",
                        "in": "query",
                        "name": "sort",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "id:asc"
                        }
                    },
                    {
                        "description": "The name of the SmartTrace definition or definition.  The results include only traces from the listed SmartTrace definitions. Up to 16 trace definition names are allowed.Note that all trace definition names are uppercase.\n \nExample: `in:DEF1|DEF2|DEF3`\n\nCurrent filter support: `in`",
                        "in": "query",
                        "name": "definitionName",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponseBaseResponseArrayDataTraceSummary"
                                }
                            }
                        },
                        "description": "A list of traces was returned back to the client."
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "A list of traces could not be returned due to one of the following conditions:\n\nInvalid format for the query parameters."
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "The user is not authenticated to the application. They must provide either a valid login token or valid credentials before continuing."
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "A list of traces could not be returned due to one of the following conditions:\n\nThe user does not have the appropriate authority to view traces."
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        },
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    },
                    {
                        "bearerToken": []
                    }
                ],
                "summary": "Get a list of all SmartTrace instances available in a NetMaster region.",
                "tags": [
                    "The SmartTrace Active Traces API"
                ]
            }
        },
        "/api/v1/tcpip/{region}/smart/trace/{id}": {
            "delete": {
                "description": "No content will be included in the response back to the client.",
                "operationId": "deleteSmartTraceInstance",
                "parameters": [
                    {
                        "description": "SmartTrace instance ID",
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "pattern": "^([A-Za-z][A-Za-z0-9@#$]{0,11}|>\\w+\\W\\w+\\W\\w+)(-\\d+-\\d+-[A-Za-z][A-Za-z0-9@#$?*]{0,7}-\\d+-\\d+)$",
                            "type": "string"
                        }
                    },
                    {
                        "description": "NetMaster region name",
                        "in": "path",
                        "name": "region",
                        "required": true,
                        "schema": {
                            "pattern": "^[A-Za-z@#$][A-Za-z0-9@#$]{0,7}$",
                            "type": "string"
                        }
                    }
                ],
[...]
