{
    "openapi": "3.0.1",
    "info": {
        "title": "CA 7 Workload Automation RESTful Web Services",
        "description": "CA 7 Workload Automation RESTful Web Services</br>Product Version: 12.1.05, CA 7 Supported Version: 12.1.01, Build Number: 502, Build Time: 2023-12-15 17:39</br>For more information, see  [CA 7 Documentation](https://techdocs.broadcom.com/content/broadcom/techdocs/us/en/ca-mainframe-software/automation/ca-workload-automation-ca-7-edition/12-1/using/commands/command-descriptions.html)",
        "version": "v12.1.05"
    },
    "servers": [
        {
            "url": "https://developer.mainframe.broadcom.com",
            "description": "Generated server url"
        }
    ],
    "tags": [
        {
            "name": "Job History",
            "description": "CA 7 historical job information"
        },
        {
            "name": "Datasets",
            "description": "CA 7 dataset management"
        },
        {
            "name": "Resources",
            "description": "CA 7 resource management"
        },
        {
            "name": "REST API Configuration",
            "description": "Configuration information <i>[DEPRECATED]</i>"
        },
        {
            "name": "Commands",
            "description": "CA 7 commands"
        },
        {
            "name": "REST API Administration",
            "description": "CA 7 Rest API Administration <i>[DEPRECATED]</i>"
        },
        {
            "name": "REST API Transaction",
            "description": "Transaction operations"
        },
        {
            "name": "Job Definitions",
            "description": "CA 7 job definitions"
        },
        {
            "name": "Agent Management",
            "description": "CA 7 agent management"
        },
        {
            "name": "Batch",
            "description": "Multiple API calls in the same CA 7 session"
        },
        {
            "name": "REST API Version",
            "description": "Version information"
        },
        {
            "name": "REST API CA 7 Instances",
            "description": "Retrieve, add, update, or delete a CA 7 instance configuration, including the DEFAULT_INSTANCE"
        },
        {
            "name": "Job Instances",
            "description": "CA 7 job instances (jobs in the active workload)"
        }
    ],
    "paths": {
        "/api/v1/agent/list": {
            "get": {
                "tags": [
                    "Agent Management"
                ],
                "summary": "List agents for DEFAULT_INSTANCE",
                "description": "List information about the agents defined to CA 7",
                "operationId": "listAgents_1",
                "responses": {
                    "200": {
                        "description": "The list of Agents was successfully returned",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CA7AgentList"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The command cannot be processed due to a bad request"
                    },
                    "401": {
                        "description": "The userid or password is invalid"
                    },
                    "403": {
                        "description": "Access to the endpoint forbidden by CA 7. Contact your CA 7 security administrator"
                    }
                },
                "security": [
                    {
                        "basicScheme": []
                    }
                ]
            }
        },
        "/api/v1/{ca7Id}/agent/list": {
            "get": {
                "tags": [
                    "Agent Management"
                ],
                "summary": "List agents for CA 7 instance specified in path",
                "description": "List information about the agents defined to CA 7",
                "operationId": "listAgents",
                "parameters": [
                    {
                        "name": "ca7Id",
                        "in": "path",
                        "description": "CA7ONL Instance",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The list of Agents was successfully returned",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CA7AgentList"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The command cannot be processed due to a bad request"
                    },
                    "401": {
                        "description": "The userid or password is invalid"
                    },
                    "403": {
                        "description": "Access to the endpoint forbidden by CA 7. Contact your CA 7 security administrator"
                    }
                },
                "security": [
                    {
                        "basicScheme": []
                    }
                ]
            }
        },
        "/api/v1/agent/{agent-name}/details": {
            "get": {
                "tags": [
                    "Agent Management"
                ],
                "summary": "Get Agent details for DEFAULT_INSTANCE",
                "description": "Return additional details about an Agent.",
                "operationId": "getAgentDetails_1",
                "parameters": [
                    {
                        "name": "agent-name",
                        "in": "path",
                        "description": "Specifies the name of the Agent for which to retrieve additional details.<br><br><b>Limits:</b> 1 to 16 alphanumeric characters",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "os",
                        "in": "query",
                        "description": "Specifies the operating system of the Agent as known by the Scheduler.<br><br><b>Default:</b> Linux",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The additional Agent information",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CA7AgentDetails"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The command cannot be processed due to a bad request"
                    },
                    "401": {
                        "description": "The userid or password is invalid"
                    },
                    "403": {
                        "description": "Access to the endpoint forbidden by CA 7. Contact your CA 7 security administrator"
                    }
                },
                "security": [
                    {
                        "basicScheme": []
                    }
                ]
            }
        },
        "/api/v1/{ca7Id}/agent/{agent-name}/details": {
            "get": {
                "tags": [
                    "Agent Management"
                ],
                "summary": "Get Agent details for CA 7 instance specified in path",
                "description": "Return additional details about an Agent.",
                "operationId": "getAgentDetails",
                "parameters": [
                    {
                        "name": "ca7Id",
                        "in": "path",
                        "description": "CA7ONL Instance",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "agent-name",
                        "in": "path",
                        "description": "Specifies the name of the Agent for which to retrieve additional details.<br><br><b>Limits:</b> 1 to 16 alphanumeric characters",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "os",
                        "in": "query",
                        "description": "Specifies the operating system of the Agent as known by the Scheduler.<br><br><b>Default:</b> Linux",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The additional Agent information",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CA7AgentDetails"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The command cannot be processed due to a bad request"
                    },
                    "401": {
                        "description": "The userid or password is invalid"
                    },
                    "403": {
                        "description": "Access to the endpoint forbidden by CA 7. Contact your CA 7 security administrator"
                    }
                },
                "security": [
                    {
                        "basicScheme": []
                    }
                ]
            }
        },
        "/api/v1/agent/{agent-name}/loglist": {
            "get": {
                "tags": [
                    "Agent Management"
                ],
                "summary": "Get list of log files for DEFAULT_INSTANCE",
                "description": "Get a list of log files from the Agent.",
                "operationId": "getAgentLogList_1",
                "parameters": [
                    {
                        "name": "agent-name",
                        "in": "path",
                        "description": "Specifies the name of the Agent from which to retrieve a list of log files.<br><br><b>Limits:</b> 1 to 16 alphanumeric characters",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "os",
                        "in": "query",
                        "description": "Specifies the operating system of the Agent as known by the Scheduler.<br><br><b>Default:</b> Linux",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of the log files",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CA7LogList"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The command cannot be processed due to a bad request"
                    },
                    "401": {
                        "description": "The userid or password is invalid"
                    },
                    "403": {
                        "description": "Access to the endpoint forbidden by CA 7. Contact your CA 7 security administrator"
                    }
                },
                "security": [
                    {
                        "basicScheme": []
                    }
                ]
            }
        },
        "/api/v1/{ca7Id}/agent/{agent-name}/loglist": {
            "get": {
                "tags": [
                    "Agent Management"
                ],
                "summary": "Get list of log files for CA 7 instance specified in path",
                "description": "Get a list of log files from the Agent.",
                "operationId": "getAgentLogList",
                "parameters": [
                    {
                        "name": "ca7Id",
                        "in": "path",
                        "description": "CA7ONL Instance",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "agent-name",
                        "in": "path",
                        "description": "Specifies the name of the Agent from which to retrieve a list of log files.<br><br><b>Limits:</b> 1 to 16 alphanumeric characters",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "os",
                        "in": "query",
                        "description": "Specifies the operating system of the Agent as known by the Scheduler.<br><br><b>Default:</b> Linux",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of the log files",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CA7LogList"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The command cannot be processed due to a bad request"
                    },
                    "401": {
                        "description": "The userid or password is invalid"
                    },
                    "403": {
                        "description": "Access to the endpoint forbidden by CA 7. Contact your CA 7 security administrator"
                    }
                },
                "security": [
                    {
                        "basicScheme": []
                    }
                ]
            }
        },
        "/api/v1/agent/{agent-name}/parms": {
            "get": {
                "tags": [
                    "Agent Management"
                ],
                "summary": "Get Agent parameters for DEFAULT_INSTANCE",
                "description": "Retrieve a text file containing the Agent's parameters (agentparm.txt).",
                "operationId": "getAgentParms_1",
                "parameters": [
                    {
                        "name": "agent-name",
                        "in": "path",
                        "description": "Specifies the name of the Agent from which to retrieve the agentparm.txt file.<br><br><b>Limits:</b> 1 to 16 alphanumeric characters",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "os",
                        "in": "query",
                        "description": "Specifies the operating system of the Agent as known by the Scheduler.<br><ul><li>Windows</li><li>Linux</li><li>Unix</li><li>etc.</li></ul><b>Default:</b> Linux",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A File containing the Agent parameters was successfully returned",
                        "content": {
                            "application/octet-stream,application/json": {}
                        }
                    },
                    "400": {
                        "description": "The command cannot be processed due to a bad request"
                    },
                    "401": {
                        "description": "The userid or password is invalid"
                    },
                    "403": {
                        "description": "Access to the endpoint forbidden by CA 7. Contact your CA 7 security administrator"
                    }
                },
                "security": [
                    {
                        "basicScheme": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Agent Management"
                ],
                "summary": "Update Agent parameters for DEFAULT_INSTANCE",
                "description": "Update the Agent's parameters (agentparm.txt).<br><br><b>Note:</b> WARNING: This operation will cause the Agent to be stopped and started with the new parameters. If the Agent cannot be started with the new parameters, the previous parameters will be restored and the Agent will be started.",
                "operationId": "updateAgentParms_1",
                "parameters": [
                    {
                        "name": "agent-name",
                        "in": "path",
                        "description": "Specifies the name of the Agent to be updated.<br><br><b>Limits:</b> 1 to 16 alphanumeric characters",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "os",
                        "in": "query",
                        "description": "Specifies the operating system of the Agent as known by the Scheduler.<br><br><b>Default:</b> Linux",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "text/plain": {
                            "schema": {
                                "type": "string",
                                "description": "The text data containing the new Agent parms (agentparm.txt)"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "The Agent parameters were successfully updated"
                    },
                    "400": {
                        "description": "The command cannot be processed due to a bad request"
                    },
                    "401": {
                        "description": "The userid or password is invalid"
                    },
                    "403": {
                        "description": "Access to the endpoint forbidden by CA 7. Contact your CA 7 security administrator"
                    }
                },
                "security": [
                    {
                        "basicScheme": []
                    }
                ]
            }
        },
        "/api/v1/{ca7Id}/agent/{agent-name}/parms": {
            "get": {
                "tags": [
                    "Agent Management"
                ],
                "summary": "Get Agent parameters for CA 7 instance specified in path",
                "description": "Retrieve a text file containing the Agent's parameters (agentparm.txt).",
                "operationId": "getAgentParms",
                "parameters": [
                    {
                        "name": "ca7Id",
                        "in": "path",
                        "description": "CA7ONL Instance",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "agent-name",
                        "in": "path",
                        "description": "Specifies the name of the Agent from which to retrieve the agentparm.txt file.<br><br><b>Limits:</b> 1 to 16 alphanumeric characters",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "os",
                        "in": "query",
                        "description": "Specifies the operating system of the Agent as known by the Scheduler.<br><ul><li>Windows</li><li>Linux</li><li>Unix</li><li>etc.</li></ul><b>Default:</b> Linux",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A File containing the Agent parameters was successfully returned",
                        "content": {
                            "application/octet-stream,application/json": {}
                        }
                    },
                    "400": {
                        "description": "The command cannot be processed due to a bad request"
                    },
                    "401": {
                        "description": "The userid or password is invalid"
                    },
                    "403": {
                        "description": "Access to the endpoint forbidden by CA 7. Contact your CA 7 security administrator"
                    }
                },
                "security": [
                    {
                        "basicScheme": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Agent Management"
                ],
                "summary": "Update Agent parameters for CA 7 instance specified in path",
                "description": "Update the Agent's parameters (agentparm.txt).<br><br><b>Note:</b> WARNING: This operation will cause the Agent to be stopped and started with the new parameters. If the Agent cannot be started with the new parameters, the previous parameters will be restored and the Agent will be started.",
                "operationId": "updateAgentParms",
                "parameters": [
                    {
                        "name": "ca7Id",
                        "in": "path",
                        "description": "CA7ONL Instance",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "agent-name",
                        "in": "path",
                        "description": "Specifies the name of the Agent to be updated.<br><br><b>Limits:</b> 1 to 16 alphanumeric characters",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "os",
                        "in": "query",
                        "description": "Specifies the operating system of the Agent as known by the Scheduler.<br><br><b>Default:</b> Linux",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "text/plain": {
                            "schema": {
                                "type": "string",
                                "description": "The text data containing the new Agent parms (agentparm.txt)"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "The Agent parameters were successfully updated"
                    },
                    "400": {
                        "description": "The command cannot be processed due to a bad request"
                    },
                    "401": {
                        "description": "The userid or password is invalid"
                    },
                    "403": {
                        "description": "Access to the endpoint forbidden by CA 7. Contact your CA 7 security administrator"
                    }
                },
                "security": [
                    {
                        "basicScheme": []
                    }
                ]
            }
        },
        "/api/v1/agent/{agent-name}/ping": {
            "get": {
                "tags": [
                    "Agent Management"
                ],
                "summary": "Ping Agent for DEFAULT_INSTANCE",
                "description": "Ping an Agent. This operation will ping the specified Agent to see if it is up and operational.",
                "operationId": "pingAgent_1",
                "parameters": [
                    {
                        "name": "agent-name",
                        "in": "path",
                        "description": "Specifies the name of the Agent to ping.<br><br><b>Limits:</b> 1 to 16 alphanumeric characters",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "The Agent is up and operational"
                    },
                    "400": {
                        "description": "The command cannot be processed due to a bad request"
                    },
                    "401": {
                        "description": "The userid or password is invalid"
                    },
                    "403": {
                        "description": "Access to the endpoint forbidden by CA 7. Contact your CA 7 security administrator"
                    }
                },
                "security": [
                    {
                        "basicScheme": []
                    }
                ]
            }
        },
        "/api/v1/{ca7Id}/agent/{agent-name}/ping": {
            "get": {
                "tags": [
                    "Agent Management"
                ],
                "summary": "Ping Agent for CA 7 instance specified in path",
                "description": "Ping an Agent. This operation will ping the specified Agent to see if it is up and operational.",
                "operationId": "pingAgent",
                "parameters": [
                    {
                        "name": "ca7Id",
                        "in": "path",
                        "description": "CA7ONL Instance",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "agent-name",
                        "in": "path",
                        "description": "Specifies the name of the Agent to ping.<br><br><b>Limits:</b> 1 to 16 alphanumeric characters",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "The Agent is up and operational"
                    },
                    "400": {
                        "description": "The command cannot be processed due to a bad request"
                    },
                    "401": {
                        "description": "The userid or password is invalid"
                    },
                    "403": {
                        "description": "Access to the endpoint forbidden by CA 7. Contact your CA 7 security administrator"
                    }
                },
                "security": [
                    {
                        "basicScheme": []
                    }
                ]
            }
        },
        "/api/v1/ca7-instance/get": {
            "get": {
                "tags": [
                    "REST API CA 7 Instances"
                ],
                "summary": "Retrieve Instance",
                "description": "Retrieve Instance Information",
                "operationId": "getInstance",
                "parameters": [
                    {
                        "name": "instanceName",
                        "in": "query",
                        "description": "The CA 7 instance name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "The CA 7 user and password</br>Basic Authentication",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "One of application/json or application/xml",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Instance was successfully retrieved"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "basicScheme": []
                    }
                ]
            }
        },
        "/api/v1/configuration": {
            "get": {
                "tags": [
                    "REST API Configuration"
                ],
                "summary": "CA 7 REST API configuration information for DEFAULT_INSTANCE",
                "description": "<ul style=\"margin-left: 20px\">    <li>CA 7 Host</br>    The CA 7 address</br>    </li>    <li>CA 7 Port</br>    The CA 7 port</li>    <li>Secure Connection with CA 7</br>    Secure connection with CA 7 boolean</li>    <li>CA 7 Default Logical Database Name</br>    CA 7 Default Logical Database Name</li>    <li>Database Host</br>    The database server address</li>    <li>Database Port</br>    The database server port</li>    <li>Database Server Name</br>    The database server name</li>    <li>CA 7 REST API Session Pool Size</br>  The size of the CA 7 REST API session pool.<br>This property controls the number of TCP/IP sessions that will be used for communication between the CA&nbsp;7 REST API and CA&nbsp;7.<br>CA&nbsp;7 CCI terminals are used by the CA&nbsp;7 REST API to communicate with CA&nbsp;7 via the CA&nbsp;7 TCP/IP Batch Terminal Interface. <br>The size of the pool should be less than or equal to the number of CA&nbsp;7 CCI terminals defined in the CA&nbsp;7 initialization file.</li>    <li>CA 7 REST API Session Idle Time Seconds</br>  The number of seconds after which an idle TCP/IP session will be removed from the CA&nbsp;7 REST API Session Pool.<br>This property controls how long an idle session remains in the CA&nbsp;7 REST API Session Pool.<br>A TCP/IP session between the REST API and CA&nbsp;7 remains established as long as the session remains in the pool.<br>An idle session will be shut down and removed from the pool after it has been idle for the specified number of seconds.This will close the session between the CA&nbsp;7 REST API and CA&nbsp;7.<br>This property can improve performance by reducing the frequency of establishing TCP/IP sessions between the CA&nbsp;7 REST API and CA&nbsp;7. </li></ul>",
                "operationId": "configuration",
                "responses": {
                    "200": {
                        "description": "Show CA 7 REST API configuration information",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CA7InfoControllerResponse"
                                }
                            }
                        }
                    }
                },
                "deprecated": true,
                "security": [
                    {
                        "basicScheme": []
                    }
                ]
            }
        },
        "/api/v1/job/definition/job": {
            "get": {
                "tags": [
                    "Job Definitions"
                ],
                "summary": "Get basic definition for one or more jobs for DEFAULT_INSTANCE",
                "description": "Get a list of the job definitions for one or more jobs",
                "operationId": "getJobDefiniton_1",
                "parameters": [
                    {
                        "name": "jobname",
                        "in": "query",
                        "description": "The CA 7 job name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "databasename",
                        "in": "query",
                        "description": "The CA 7 database name",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "all",
                        "in": "query",
                        "description": "Fetch all the available properties</br>",
                        "required": true,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "The CA 7 user and password</br>Basic Authentication",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "One of application/json or application/xml",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "CA 7 was able to process the command",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CA7JobDefintionListResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The command cannot be processed due to a failure"
                    },
                    "401": {
                        "description": "The userid or password is invalid"
                    },
                    "403": {
                        "description": "You are not authorized to use this function"
                    },
                    "404": {
                        "description": "No information found for the specified criteria"
                    },
                    "503": {
                        "description": "Unable to connect to Datacom database; the credentials may be incorrect or the Datacom Server may not be available"
                    }
                },
                "security": [
                    {
                        "basicScheme": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Job Definitions"
                ],
                "summary": "Update the definition of a job for DEFAULT_INSTANCE",
                "description": "Update the definition of a CPU, XPJOB or Agent job",
                "operationId": "updateJobDefinition_1",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "One of application/json or application/xml",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CommandJobModify"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "CA 7 was able to process the change",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommandJobModifyResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The command cannot be processed due to a failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommandJobModifyError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "You are not authorized to use this function"
                    },
                    "401": {
                        "description": "You are not authorized to issue the command"
                    },
                    "404": {
                        "description": "The command cannot be processed due to a failure"
                    }
                },
                "security": [
                    {
                        "basicScheme": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Job Definitions"
                ],
                "summary": "Create a new job definition for DEFAULT_INSTANCE",
                "description": "Create a new definition of a CPU, XP or Agent job",
                "operationId": "createJobDefinition_1",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "One of application/json or application/xml",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CommandJobAdd"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "The job definition was successfully created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommandJobAddResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The job definition was not created due to a failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommandJobAddError"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "You are not authorized to issue the command"
                    }
                },
                "security": [
                    {
                        "basicScheme": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Job Definitions"
                ],
                "summary": "Delete a job definition for DEFAULT_INSTANCE",
                "description": "Delete a job definition",
                "operationId": "deleteJobDefinition_1",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "One of application/json or application/xml",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CommandJobDelete"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "The job was deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommandJobDeleteResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "You are not authorized to use this function"
                    },
                    "400": {
                        "description": "The job couldn't be deleted due to a failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommandJobDeleteError"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "You are not authorized to issue the command"
                    }
                },
                "security": [
                    {
                        "basicScheme": []
                    }
                ]
            }
        },
        "/api/v1/{ca7Id}/job/definition/job": {
            "get": {
                "tags": [
                    "Job Definitions"
                ],
                "summary": "Get basic definition for one or more jobs for CA 7 instance specified in path",
                "description": "Get a list of the job definitions for one or more jobs",
                "operationId": "getJobDefiniton",
                "parameters": [
                    {
                        "name": "ca7Id",
                        "in": "path",
                        "description": "CA7ONL Instance",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "jobname",
                        "in": "query",
                        "description": "The CA 7 job name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "databasename",
                        "in": "query",
                        "description": "The CA 7 database name",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "all",
                        "in": "query",
                        "description": "Fetch all the available properties</br>",
                        "required": true,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "The CA 7 user and password</br>Basic Authentication",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "One of application/json or application/xml",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "CA 7 was able to process the command",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CA7JobDefintionListResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The command cannot be processed due to a failure"
                    },
                    "401": {
                        "description": "The userid or password is invalid"
                    },
                    "403": {
                        "description": "You are not authorized to use this function"
                    },
                    "404": {
                        "description": "No information found for the specified criteria"
                    },
                    "503": {
                        "description": "Unable to connect to Datacom database; the credentials may be incorrect or the Datacom Server may not be available"
                    }
                },
                "security": [
                    {
                        "basicScheme": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Job Definitions"
                ],
                "summary": "Update the definition of a job for CA 7 instance specified in path",
                "description": "Update the definition of a CPU, XPJOB or Agent job",
                "operationId": "updateJobDefinition",
                "parameters": [
                    {
                        "name": "ca7Id",
                        "in": "path",
                        "description": "CA7ONL Instance",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "One of application/json or application/xml",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CommandJobModify"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "CA 7 was able to process the change",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommandJobModifyResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The command cannot be processed due to a failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommandJobModifyError"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "You are not authorized to issue the command"
                    },
                    "403": {
                        "description": "You are not authorized to use this function"
                    },
                    "404": {
                        "description": "The command cannot be processed due to a failure"
                    }
                },
                "security": [
                    {
                        "basicScheme": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Job Definitions"
                ],
                "summary": "Create a new job definition for CA 7 instance specified in path",
                "description": "Create a new definition of a CPU, XP or Agent job",
                "operationId": "createJobDefinition",
                "parameters": [
                    {
                        "name": "ca7Id",
                        "in": "path",
                        "description": "CA7ONL Instance",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "One of application/json or application/xml",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CommandJobAdd"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "The job definition was successfully created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommandJobAddResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The job definition was not created due to a failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommandJobAddError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "You are not authorized to use this function"
                    },
                    "401": {
                        "description": "You are not authorized to issue the command"
                    }
                },
                "security": [
                    {
                        "basicScheme": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Job Definitions"
                ],
                "summary": "Delete a job definition for CA 7 instance specified in path",
                "description": "Delete a job definition",
                "operationId": "deleteJobDefinition",
                "parameters": [
                    {
                        "name": "ca7Id",
                        "in": "path",
                        "description": "CA7ONL Instance",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "One of application/json or application/xml",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CommandJobDelete"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "The job was deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommandJobDeleteResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The job couldn't be deleted due to a failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommandJobDeleteError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "You are not authorized to use this function"
                    },
                    "401": {
                        "description": "You are not authorized to issue the command"
                    }
                },
                "security": [
                    {
                        "basicScheme": []
                    }
                ]
            }
        },
        "/api/v1/job/definition/prose": {
            "get": {
                "tags": [
                    "Job Definitions"
                ],
                "summary": "Get prose information for a job for DEFAULT_INSTANCE",
                "description": "Get a list of the prose information for one or more jobs",
                "operationId": "getProseInformation_1",
                "parameters": [
                    {
                        "name": "jobname",
                        "in": "query",
                        "description": "The CA 7 job name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "databasename",
                        "in": "query",
                        "description": "The CA 7 database name",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "The CA 7 user and password</br>Basic Authentication",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "One of application/json or application/xml",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "CA 7 was able to process the command",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CA7ProseJobListResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The command cannot be processed due to a failure"
                    },
                    "401": {
                        "description": "The userid or password is invalid"
                    },
                    "403": {
                        "description": "You are not authorized to use this function"
                    },
                    "404": {
                        "description": "No information found for the specified criteria"
                    },
                    "503": {
                        "description": "Unable to connect to Datacom database; the credentials may be incorrect or the Datacom Server may not be available"
                    }
                },
                "security": [
                    {
                        "basicScheme": []
                    }
                ]
            }
        },
        "/api/v1/{ca7Id}/job/definition/prose": {
            "get": {
                "tags": [
                    "Job Definitions"
                ],
                "summary": "Get prose information for a job for CA 7 instance specified in path",
                "description": "Get a list of the prose information for one or more jobs",
                "operationId": "getProseInformation",
                "parameters": [
                    {
                        "name": "ca7Id",
                        "in": "path",
                        "description": "CA7ONL Instance",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "jobname",
                        "in": "query",
                        "description": "The CA 7 job name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "databasename",
                        "in": "query",
                        "description": "The CA 7 database name",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "The CA 7 user and password</br>Basic Authentication",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "One of application/json or application/xml",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "CA 7 was able to process the command",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CA7ProseJobListResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The command cannot be processed due to a failure"
                    },
                    "401": {
                        "description": "The userid or password is invalid"
                    },
                    "403": {
                        "description": "You are not authorized to use this function"
                    },
                    "404": {
                        "description": "No information found for the specified criteria"
                    },
                    "503": {
                        "description": "Unable to connect to Datacom database; the credentials may be incorrect or the Datacom Server may not be available"
                    }
                },
                "security": [
                    {
                        "basicScheme": []
                    }
                ]
            }
        },
        "/api/v1/job/definition/requirement-predecessor": {
            "get": {
                "tags": [
                    "Job Definitions"
                ],
                "summary": "Get predecessors for one or more jobs for DEFAULT_INSTANCE",
                "description": "Get a list of the predecessors for one or more jobs",
                "operationId": "getRequirementPredecessor_1",
                "parameters": [
                    {
                        "name": "jobname",
                        "in": "query",
                        "description": "The CA 7 job name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "databasename",
                        "in": "query",
                        "description": "The CA 7 database name",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "The CA 7 user and password</br>Basic Authentication",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "One of application/json or application/xml",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "CA 7 was able to process the command",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CA7RequirementPredecessorListResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The command cannot be processed due to a failure"
                    },
                    "401": {
                        "description": "The userid or password is invalid"
                    },
                    "403": {
                        "description": "You are not authorized to use this function"
                    },
                    "404": {
                        "description": "No information found for the specified criteria"
                    },
                    "503": {
                        "description": "Unable to connect to Datacom database; the credentials may be incorrect or the Datacom Server may not be available"
                    }
                },
                "security": [
                    {
                        "basicScheme": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Job Definitions"
                ],
                "summary": "Update requirement definition for a job for DEFAULT_INSTANCE",
                "description": "Update requirement definition for a job",
                "operationId": "updateRequirements_1",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "One of application/json or application/xml",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CommandUpdateRequirements"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "CA 7 was able to process the change",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommandUpdateRequirementsResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The command cannot be processed due to a failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorUpdateRequirementsResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "You are not authorized to issue the command"
                    },
                    "403": {
                        "description": "You are not authorized to use this function"
                    },
                    "404": {
                        "description": "The command cannot be processed due to a failure"
                    }
                },
                "security": [
                    {
                        "basicScheme": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Job Definitions"
                ],
                "summary": "Create requirement definition for a job for DEFAULT_INSTANCE",
                "description": "Create requirement definition for a job",
                "operationId": "createRequirements_1",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "One of application/json or application/xml",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CommandCreateRequirements"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "CA 7 was able to process the change",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommandCreateRequirementsResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The command cannot be processed due to a failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorCreateRequirementsResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "You are not authorized to use this function"
                    },
                    "401": {
                        "description": "You are not authorized to issue the command"
                    },
                    "404": {
                        "description": "The command cannot be processed due to a failure"
                    }
                },
                "security": [
                    {
                        "basicScheme": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Job Definitions"
                ],
                "summary": "Delete requirement definition for a job for DEFAULT_INSTANCE",
                "description": "Delete requirement definition for a job",
                "operationId": "deleteRequirements_1",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "One of application/json or application/xml",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CommandDeleteRequirements"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "CA 7 was able to process the change",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommandDeleteRequirementsResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The command cannot be processed due to a failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDeleteRequirementsResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "You are not authorized to use this function"
                    },
                    "401": {
                        "description": "You are not authorized to issue the command"
                    },
                    "404": {
                        "description": "The command cannot be processed due to a failure"
                    }
                },
                "security": [
                    {
                        "basicScheme": []
                    }
                ]
            }
        },
        "/api/v1/{ca7Id}/job/definition/requirement-predecessor": {
            "get": {
                "tags": [
                    "Job Definitions"
                ],
                "summary": "Get predecessors for one or more jobs for CA 7 instance specified in path",
                "description": "Get a list of the predecessors for one or more jobs",
                "operationId": "getRequirementPredecessor",
                "parameters": [
                    {
                        "name": "ca7Id",
                        "in": "path",
                        "description": "CA7ONL Instance",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "jobname",
                        "in": "query",
                        "description": "The CA 7 job name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "databasename",
                        "in": "query",
                        "description": "The CA 7 database name",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "The CA 7 user and password</br>Basic Authentication",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "One of application/json or application/xml",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "CA 7 was able to process the command",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CA7RequirementPredecessorListResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The command cannot be processed due to a failure"
                    },
                    "401": {
                        "description": "The userid or password is invalid"
                    },
                    "403": {
                        "description": "You are not authorized to use this function"
                    },
                    "404": {
                        "description": "No information found for the specified criteria"
                    },
                    "503": {
                        "description": "Unable to connect to Datacom database; the credentials may be incorrect or the Datacom Server may not be available"
                    }
                },
                "security": [
                    {
                        "basicScheme": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Job Definitions"
                ],
                "summary": "Update requirement definition for a job for CA 7 instance specified in path",
                "description": "Update requirement definition for a job",
                "operationId": "updateRequirements",
                "parameters": [
                    {
                        "name": "ca7Id",
                        "in": "path",
                        "description": "CA7ONL Instance",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "One of application/json or application/xml",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CommandUpdateRequirements"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "CA 7 was able to process the change",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommandUpdateRequirementsResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The command cannot be processed due to a failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorUpdateRequirementsResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "You are not authorized to issue the command"
                    },
                    "403": {
                        "description": "You are not authorized to use this function"
                    },
                    "404": {
                        "description": "The command cannot be processed due to a failure"
                    }
                },
                "security": [
                    {
                        "basicScheme": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Job Definitions"
                ],
                "summary": "Create requirement definition for a job for CA 7 instance specified in path",
                "description": "Create requirement definition for a job",
                "operationId": "createRequirements",
                "parameters": [
                    {
                        "name": "ca7Id",
                        "in": "path",
                        "description": "CA7ONL Instance",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "One of application/json or application/xml",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CommandCreateRequirements"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "CA 7 was able to process the change",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommandCreateRequirementsResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The command cannot be processed due to a failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorCreateRequirementsResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "You are not authorized to issue the command"
                    },
                    "403": {
                        "description": "You are not authorized to use this function"
                    },
                    "404": {
                        "description": "The command cannot be processed due to a failure"
                    }
                },
                "security": [
                    {
                        "basicScheme": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Job Definitions"
                ],
                "summary": "Delete requirement definition for a job for CA 7 instance specified in path",
                "description": "Delete requirement definition for a job",
                "operationId": "deleteRequirements",
                "parameters": [
                    {
                        "name": "ca7Id",
                        "in": "path",
                        "description": "CA7ONL Instance",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "One of application/json or application/xml",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CommandDeleteRequirements"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "CA 7 was able to process the change",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommandDeleteRequirementsResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The command cannot be processed due to a failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDeleteRequirementsResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "You are not authorized to use this function"
                    },
                    "401": {
                        "description": "You are not authorized to issue the command"
                    },
                    "404": {
                        "description": "The command cannot be processed due to a failure"
                    }
                },
                "security": [
                    {
                        "basicScheme": []
                    }
                ]
            }
        },
        "/api/v1/job/definition/requirement-successor": {
            "get": {
                "tags": [
                    "Job Definitions"
                ],
                "summary": "Get successor jobs for one or more jobs for DEFAULT_INSTANCE",
                "description": "Get a list of the successor jobs for one or more jobs",
                "operationId": "getRequirementSuccessor_1",
                "parameters": [
                    {
                        "name": "jobname",
                        "in": "query",
                        "description": "The CA 7 job name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "databasename",
                        "in": "query",
                        "description": "The CA 7 database name",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "The CA 7 user and password</br>Basic Authentication",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "One of application/json or application/xml",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "CA 7 was able to process the command",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CA7RequirementSuccessorJobsListResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The command cannot be processed due to a failure"
                    },
                    "401": {
                        "description": "The userid or password is invalid"
                    },
                    "403": {
                        "description": "You are not authorized to use this function"
                    },
                    "404": {
                        "description": "No information found for the specified criteria"
                    },
                    "503": {
                        "description": "Unable to connect to Datacom database; the credentials may be incorrect or the Datacom Server may not be available"
                    }
                },
                "security": [
                    {
                        "basicScheme": []
                    }
                ]
            }
        },
        "/api/v1/{ca7Id}/job/definition/requirement-successor": {
            "get": {
                "tags": [
                    "Job Definitions"
                ],
                "summary": "Get successor jobs for one or more jobs for CA 7 instance specified in path",
                "description": "Get a list of the successor jobs for one or more jobs",
                "operationId": "getRequirementSuccessor",
                "parameters": [
                    {
                        "name": "ca7Id",
                        "in": "path",
                        "description": "CA7ONL Instance",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "jobname",
                        "in": "query",
                        "description": "The CA 7 job name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "databasename",
                        "in": "query",
                        "description": "The CA 7 database name",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "The CA 7 user and password</br>Basic Authentication",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "One of application/json or application/xml",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "CA 7 was able to process the command",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CA7RequirementSuccessorJobsListResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The command cannot be processed due to a failure"
                    },
                    "401": {
                        "description": "The userid or password is invalid"
                    },
                    "403": {
                        "description": "You are not authorized to use this function"
                    },
                    "404": {
                        "description": "No information found for the specified criteria"
                    },
                    "503": {
                        "description": "Unable to connect to Datacom database; the credentials may be incorrect or the Datacom Server may not be available"
                    }
                },
                "security": [
                    {
                        "basicScheme": []
                    }
                ]
            }
        },
        "/api/v1/job/definition/resource": {
            "get": {
                "tags": [
                    "Job Definitions"
                ],
                "summary": "Get job resources for one or more jobs for DEFAULT_INSTANCE",
                "description": "Get a list of the job resources for one or more jobs",
                "operationId": "getJobResources_1",
                "parameters": [
                    {
                        "name": "jobname",
                        "in": "query",
                        "description": "The CA 7 job name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "databasename",
                        "in": "query",
                        "description": "The CA 7 database name",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "The CA 7 user and password</br>Basic Authentication",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "One of application/json or application/xml",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "CA 7 was able to process the command",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CA7JobResourceListResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The command cannot be processed due to a failure"
                    },
                    "401": {
                        "description": "The userid or password is invalid"
                    },
                    "403": {
                        "description": "You are not authorized to use this function"
                    },
                    "404": {
                        "description": "No information found for the specified criteria"
                    },
                    "503": {
                        "description": "Unable to connect to Datacom database; the credentials may be incorrect or the Datacom Server may not be available"
                    }
                },
                "security": [
                    {
                        "basicScheme": []
                    }
                ]
            }
        },
        "/api/v1/{ca7Id}/job/definition/resource": {
            "get": {
                "tags": [
                    "Job Definitions"
                ],
                "summary": "Get job resources for one or more jobs for CA 7 instance specified in path",
                "description": "Get a list of the job resources for one or more jobs",
                "operationId": "getJobResources",
                "parameters": [
                    {
                        "name": "ca7Id",
                        "in": "path",
[...]
