{
    "openapi": "3.0.1",
    "info": {
        "title": "Alert Central - REST API",
        "description": "Press **Authorize** and use the `token` that was generated by the API ML gateway login endpoint\n\nAlert Central REST API",
        "contact": {
            "name": "Broadcom Support Portal",
            "url": "https://support.broadcom.com"
        },
        "license": {
            "name": "Commercial License",
            "url": "https://www.broadcom.com/company/legal/licensing"
        },
        "version": "1.3.0.1",
        "x-product-version": "1.3.0.1"
    },
    "externalDocs": {
        "description": "User documentation",
        "url": "https://techdocs.broadcom.com/us/en/ca-mainframe-software/intelligent-operations/alert-central/1-1/administrating/rest-api-specification.html"
    },
    "servers": [
        {
            "url": "https://developer.mainframe.broadcom.com",
            "description": "Generated server url"
        }
    ],
    "tags": [
        {
            "name": "Log",
            "description": "Log queries."
        },
        {
            "name": "Alert Profile",
            "description": "Querying and Managing Alert Profiles. (*These operations are **private** and should only be used by Broadcom personnel, or on instruction from Broadcom Support.*)"
        },
        {
            "name": "Alert History",
            "description": "List alert changes"
        },
        {
            "name": "UI Support",
            "description": "Operations in support of UI-specific product behavior. (*These operations are **private** and should only be used by Broadcom personnel, or on instruction from Broadcom Support.*)"
        },
        {
            "name": "Notes",
            "description": "Querying and Managing Notes"
        },
        {
            "name": "Alerts",
            "description": "Querying and Managing Alerts"
        },
        {
            "name": "Service Tickets",
            "description": "Service tickets assigned to alerts."
        },
        {
            "name": "XMVS",
            "description": "XMVS queries."
        },
        {
            "name": "Configuration",
            "description": "Product Configuration. (*These operations are **private** and should only be used by Broadcom personnel, or on instruction from Broadcom Support.*)"
        },
        {
            "name": "QuickRef",
            "description": "QuickRef queries."
        },
        {
            "name": "User Management",
            "description": "User, Group, Role, and Permission management."
        }
    ],
    "paths": {
        "/api/v1/users/{userId}": {
            "put": {
                "tags": [
                    "User Management"
                ],
                "summary": "Update user",
                "description": "### Overview\n\nUpdate an existing user.\n\n### Constraints\n\nNote that this operation is only valid for user resource entries that are not archived. Referencing an archived user resource for this operation results in a 'Not Found' error response.\n\n### Authorization\n\nRequires the `manage:configuration.global` permission.",
                "operationId": "updateUser",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "A unique identifier for an user.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserInput"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "The request was not authenticated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request could not be fulfilled due to invalid or missing information.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The requested resource does not exist.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The request failed because of an internal application error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "User was updated. Returns the updated user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserOutputForAdministrators"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The request failed because the authenticated user did not have the required privileges.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "The request could not be processed due to a temporary service condition. Try again later.",
                        "headers": {
                            "Retry-After": {
                                "description": "Indicates how long the user agent should wait (in seconds) before making a follow-up request.",
                                "style": "simple",
                                "schema": {
                                    "minimum": 0,
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "jwtBearer": []
                    },
                    {
                        "jwtCookie": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "User Management"
                ],
                "summary": "Archive user",
                "description": "### Overview\n\nArchives an existing user resource.\n\n### Behavior\n\nArchiving a user clears all the properties in the resource except for `userId`, `status`, and `userName`. The user is removed from any groups that he was a member of. All user-specific configuration related to the user is deleted.\n\nFor any active alerts (not closed) that the user is an owner for the ownership is reset.\n\nUser references in closed alerts, alert change history, or notes remain intact for archived users.\n\nAn archived user:\n\n- has no privileges and is never considered an 'authenticated user'\n- can not be made an owner of an alert\n- can not be added as a member of a group\n- can not be further edited in any way\n\nArchiving a user is an irreversible operation. It is possible to define a new user with the same `userName` as long as all other users with the same `userName` are archived.\n\nNote that this operation is only valid for user resource entries that are not archived. Referencing an archived user resource for this operation results in a 'Not Found' error response.\n\n### Authorization\n\nRequires the `manage:configuration.global` permission.\n",
                "operationId": "archiveUser",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "A unique identifier for a user.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "description": "The request was not authenticated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "User was archived. Returns the archived user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ArchivedUserOutput"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request could not be fulfilled due to invalid or missing information.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The requested resource does not exist.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The request failed because of an internal application error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The request failed because the authenticated user did not have the required privileges.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "The request could not be processed due to a temporary service condition. Try again later.",
                        "headers": {
                            "Retry-After": {
                                "description": "Indicates how long the user agent should wait (in seconds) before making a follow-up request.",
                                "style": "simple",
                                "schema": {
                                    "minimum": 0,
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "jwtBearer": []
                    },
                    {
                        "jwtCookie": []
                    }
                ]
            }
        },
        "/api/v1/systems/{systemId}": {
            "put": {
                "tags": [
                    "Configuration"
                ],
                "summary": "Update system definition \ud83d\udd12",
                "description": "Update a system definition.\n\n### Authorization\n\nRequires the `manage:configuration.global` permission.\n### Use \ud83d\udd12\nThis API is designed for UI communication only and can change in future releases.",
                "operationId": "updateSystem",
                "parameters": [
                    {
                        "name": "systemId",
                        "in": "path",
                        "description": "A unique identifier for a system definition.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SystemInput"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "System definition was updated. Returns the updated system definition.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SystemOutput"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "The request was not authenticated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request could not be fulfilled due to invalid or missing information.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The requested resource does not exist.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The request failed because of an internal application error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The request failed because the authenticated user did not have the required privileges.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "The request could not be processed due to a temporary service condition. Try again later.",
                        "headers": {
                            "Retry-After": {
                                "description": "Indicates how long the user agent should wait (in seconds) before making a follow-up request.",
                                "style": "simple",
                                "schema": {
                                    "minimum": 0,
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "jwtBearer": []
                    },
                    {
                        "jwtCookie": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Configuration"
                ],
                "summary": "Delete system definition \ud83d\udd12",
                "description": "### Overview\n\nDelete a specific system definition.\n\n### Authorization\n\nRequires the `manage:configuration.global` permission.\n\n### Use \ud83d\udd12\nThis API is designed for UI communication only and can change in future releases.",
                "operationId": "deleteSystem",
                "parameters": [
                    {
                        "name": "systemId",
                        "in": "path",
                        "description": "A unique identifier for a system definition.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "System definition was deleted. No data is returned."
                    },
                    "401": {
                        "description": "The request was not authenticated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The requested resource does not exist.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The request failed because of an internal application error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The request failed because the authenticated user did not have the required privileges.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "The request could not be processed due to a temporary service condition. Try again later.",
                        "headers": {
                            "Retry-After": {
                                "description": "Indicates how long the user agent should wait (in seconds) before making a follow-up request.",
                                "style": "simple",
                                "schema": {
                                    "minimum": 0,
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "jwtBearer": []
                    },
                    {
                        "jwtCookie": []
                    }
                ]
            }
        },
        "/api/v1/groups/{groupId}": {
            "put": {
                "tags": [
                    "User Management"
                ],
                "summary": "Update group",
                "description": "### Overview\n\nUpdate an existing group entry.\n\n### Behavior\n\nIf a user is completely removed from a group (he was a member or manager and now he is neither) then any alerts that are assigned to that group and to that user have their `owningUser` reset.\n\n### Constraints\n\nNote that this operation is only valid for group resource entries that are not archived. Referencing an archived group resource for this operation results in a 'Not Found' error response.\n\n### Authorization\n\nRequires the `update:group.attributes` and/or `update:group.users` permission depending on the requested modifications.",
                "operationId": "updateGroup",
                "parameters": [
                    {
                        "name": "groupId",
                        "in": "path",
                        "description": "A unique identifier for a group.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": 307
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GroupInput"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Group was updated. Returns the updated group.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GroupOutput"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "The request was not authenticated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request could not be fulfilled due to invalid or missing information.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The request failed because of an internal application error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The request failed because the authenticated user did not have the required privileges.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "The request could not be processed due to a temporary service condition. Try again later.",
                        "headers": {
                            "Retry-After": {
                                "description": "Indicates how long the user agent should wait (in seconds) before making a follow-up request.",
                                "style": "simple",
                                "schema": {
                                    "minimum": 0,
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "jwtBearer": []
                    },
                    {
                        "jwtCookie": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "User Management"
                ],
                "summary": "Archive group",
                "description": "### Overview\n\nArchives an existing group resource.\n\n### Behavior\n\nArchiving a group clears all the properties in the resource except for `groupId`, `status`, `name`, and `description`. Any attached members or managers are also reset along with any associated system values.\n\nFor any active alerts (not closed) that the group is an owner for the ownership is reset.\n\nReferences to the group from closed alerts remain intact for archived groups.\n\nAn archived group:\n\n- can not be assigned any additional alerts, regardless of their state\n- is completely excluded from authorization checks\n- can not be further edited in anyway\n\nArchiving a group is an irreversible operation.\n\nNote that this operation is only valid for group resource entries that are not archived. Referencing an archived group resource for this operation results in a 'Not Found' error response.\n\n### Authorization\n\nRequires the `manage:configuration.global` permission.",
                "operationId": "archiveGroup",
                "parameters": [
                    {
                        "name": "groupId",
                        "in": "path",
                        "description": "A unique identifier for a group.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": 307
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Group was archived. Returns the archived group.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GroupOutput"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "The request was not authenticated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request could not be fulfilled due to invalid or missing information.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The requested resource does not exist.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The request failed because of an internal application error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The request failed because the authenticated user did not have the required privileges.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "The request could not be processed due to a temporary service condition. Try again later.",
                        "headers": {
                            "Retry-After": {
                                "description": "Indicates how long the user agent should wait (in seconds) before making a follow-up request.",
                                "style": "simple",
                                "schema": {
                                    "minimum": 0,
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "jwtBearer": []
                    },
                    {
                        "jwtCookie": []
                    }
                ]
            }
        },
        "/api/v1/configuration/routingRules/{routingRuleId}": {
            "put": {
                "tags": [
                    "Configuration"
                ],
                "summary": "Update routing rule \ud83d\udd12",
                "description": "Update a routing rule.\n### Authorization\nRequires the `manage:configuration.global` permission.\n### Use \ud83d\udd12\nThis API is designed for UI communication only and can change in future releases.",
                "operationId": "updateRoutingRules",
                "parameters": [
                    {
                        "name": "routingRuleId",
                        "in": "path",
                        "description": "The unique identifier of the alert routing rule to update.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "example": 1007
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RoutingRuleInput"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Routing rule was updated. Returns the updated routing rule.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RoutingRuleOutput"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "The request was not authenticated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request could not be fulfilled due to invalid or missing information.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The requested resource does not exist.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The request failed because of an internal application error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The request failed because the authenticated user did not have the required privileges.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "The request could not be processed due to a temporary service condition. Try again later.",
                        "headers": {
                            "Retry-After": {
                                "description": "Indicates how long the user agent should wait (in seconds) before making a follow-up request.",
                                "style": "simple",
                                "schema": {
                                    "minimum": 0,
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "jwtBearer": []
                    },
                    {
                        "jwtCookie": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Configuration"
                ],
                "summary": "Delete a routing rule \ud83d\udd12",
                "description": "Delete a specific routing rule.\n### Authorization\nRequires the `manage:configuration.global` permission.\n\n### Use \ud83d\udd12\nThis API is designed for UI communication only and can change in future releases.",
                "operationId": "deleteRoutingRule",
                "parameters": [
                    {
                        "name": "routingRuleId",
                        "in": "path",
                        "description": "The unique identifier of the alert routing rule to delete.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "example": 1007
                    }
                ],
                "responses": {
                    "401": {
                        "description": "The request was not authenticated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "The routing rule was deleted. No data is returned."
                    },
                    "500": {
                        "description": "The request failed because of an internal application error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The request failed because the authenticated user did not have the required privileges.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "The request could not be processed due to a temporary service condition. Try again later.",
                        "headers": {
                            "Retry-After": {
                                "description": "Indicates how long the user agent should wait (in seconds) before making a follow-up request.",
                                "style": "simple",
                                "schema": {
                                    "minimum": 0,
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "jwtBearer": []
                    },
                    {
                        "jwtCookie": []
                    }
                ]
            }
        },
        "/api/v1/xmvs": {
            "post": {
                "tags": [
                    "XMVS"
                ],
                "summary": "Executes Xmvs commands",
                "description": "### Overview\n\nExecutes Xmvs commands through SYSVIEW on an Alert issuing system.",
                "operationId": "command",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/XmvsInput"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "410": {
                        "description": "No Xmvs data available.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Xmvs data were retrieved. Returns converted Xmvs message.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/PrecisionDataframeOutput"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "The request was not authenticated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request could not be fulfilled due to invalid or missing information.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The request failed because of an internal application error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The request failed because the authenticated user did not have the required privileges.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "The request could not be processed due to a temporary service condition. Try again later.",
                        "headers": {
                            "Retry-After": {
                                "description": "Indicates how long the user agent should wait (in seconds) before making a follow-up request.",
                                "style": "simple",
                                "schema": {
                                    "minimum": 0,
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "jwtBearer": []
                    },
                    {
                        "jwtCookie": []
                    }
                ]
            }
        },
        "/api/v1/users": {
            "get": {
                "tags": [
                    "User Management"
                ],
                "summary": "List users",
                "description": "### Overview\n\nGet list of users defined to the service.\n\n### Authorization\n\nAny authenticated user can use this operation to list all the known users.\n\nIf the authenticated user is an Administrator then the full set of metadata is returned. If the user is not an Administrator only basic information is returned. If the queried user is archived, a subset of the metadata is returned regardless of the user role. (See the response output definitions for details.)",
                "operationId": "listUsers",
                "parameters": [
                    {
                        "name": "archived",
                        "in": "query",
                        "description": "### Overview\n\nGoverns whether archived user entries should also be returned.",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "description": "The request was not authenticated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The request failed because of an internal application error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Users were retrieved. Returns a list of users.\n\nIf authenticated as a regular user only a limited set of user metadata is returned.\n\nArchived users are included if requested using the `archived` query parameter. Only limited properties are returned for archived user entries.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/UserOutput"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The request failed because the authenticated user did not have the required privileges.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "The request could not be processed due to a temporary service condition. Try again later.",
                        "headers": {
                            "Retry-After": {
                                "description": "Indicates how long the user agent should wait (in seconds) before making a follow-up request.",
                                "style": "simple",
                                "schema": {
                                    "minimum": 0,
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "jwtBearer": []
                    },
                    {
                        "jwtCookie": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "User Management"
                ],
                "summary": "Create user",
                "description": "Create a new user.\n\n### Overview\n\nCreate a new user.\n\n### Authorization\n\nRequires the `manage:configuration.global` permission.",
                "operationId": "createUser",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserInput"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "The request was not authenticated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "User was created. Returns the created user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserOutputForAdministrators"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request could not be fulfilled due to invalid or missing information.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The request failed because of an internal application error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The request failed because the authenticated user did not have the required privileges.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "The request could not be processed due to a temporary service condition. Try again later.",
                        "headers": {
                            "Retry-After": {
                                "description": "Indicates how long the user agent should wait (in seconds) before making a follow-up request.",
                                "style": "simple",
                                "schema": {
                                    "minimum": 0,
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "jwtBearer": []
                    },
                    {
                        "jwtCookie": []
                    }
                ]
            }
        },
        "/api/v1/tickets": {
            "post": {
                "tags": [
                    "Service Tickets"
                ],
                "summary": "Request Service Ticket",
                "description": "Request creation of a service ticket for the specified alert ID.\n### Authorization\nRequires the `create:alert:ticket` permission.",
                "operationId": "requestServiceTicket",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TicketInput"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "409": {
                        "description": "The request failed because the targeted feature is either disabled or not fully configured.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "The request was not authenticated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Service ticket was created. Returns the ticket ID.",
                        "headers": {
                            "Location": {
                                "description": "Identifies the URL for the created ticket object (not yet available).",
                                "style": "simple",
                                "schema": {
                                    "type": "string",
                                    "format": "uri"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TicketOutput"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request could not be fulfilled due to invalid or missing information.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The request failed because of an internal application error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The request failed because the authenticated user did not have the required privileges.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "The request could not be processed due to a temporary service condition. Try again later.",
                        "headers": {
                            "Retry-After": {
                                "description": "Indicates how long the user agent should wait (in seconds) before making a follow-up request.",
                                "style": "simple",
                                "schema": {
                                    "minimum": 0,
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "jwtBearer": []
                    },
                    {
                        "jwtCookie": []
                    }
                ]
            }
        },
        "/api/v1/systems": {
            "get": {
                "tags": [
                    "Configuration"
                ],
                "summary": "List system definitions \ud83d\udd12",
                "description": "### Overview\n\nList all the system definitions.\n\n### Authorization\n\nRequires the `manage:configuration.global` permission.\n### Use \ud83d\udd12\nThis API is designed for UI communication only and can change in future releases.",
                "operationId": "listSystems",
                "responses": {
                    "200": {
                        "description": "System definitions were retrieved. Returns the list of system definitions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/SystemOutput"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "The request was not authenticated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The request failed because of an internal application error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The request failed because the authenticated user did not have the required privileges.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "The request could not be processed due to a temporary service condition. Try again later.",
                        "headers": {
                            "Retry-After": {
                                "description": "Indicates how long the user agent should wait (in seconds) before making a follow-up request.",
                                "style": "simple",
                                "schema": {
                                    "minimum": 0,
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "jwtBearer": []
                    },
                    {
                        "jwtCookie": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Configuration"
                ],
                "summary": "Create system definition \ud83d\udd12",
                "description": "Create a new system definition.\n\n### Authorization\n\nRequires the `manage:configuration.global` permission.\n### Use \ud83d\udd12\nThis API is designed for UI communication only and can change in future releases.",
                "operationId": "createSystem",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SystemInput"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "The request was not authenticated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request could not be fulfilled due to invalid or missing information.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The request failed because of an internal application error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The request failed because the authenticated user did not have the required privileges.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "System definition was created. Returns the created system definition.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SystemOutput"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "The request could not be processed due to a temporary service condition. Try again later.",
                        "headers": {
                            "Retry-After": {
                                "description": "Indicates how long the user agent should wait (in seconds) before making a follow-up request.",
                                "style": "simple",
                                "schema": {
                                    "minimum": 0,
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "jwtBearer": []
                    },
                    {
                        "jwtCookie": []
                    }
                ]
            }
        },
        "/api/v1/simulation/routingRules": {
            "post": {
                "tags": [
                    "UI Support"
                ],
                "summary": "Simulate routing rules \ud83d\udd12",
                "description": "Simulates how the currently enabled routing rules would apply to a particular set of related alert attributes.\nReturns identification of the matching rule or `null` if no rule matched.\n### Authorization\nRequires the `manage:configuration.global` permission.\n### Use \ud83d\udd12\nThis API is designed for UI communication only and can change in future releases.",
                "operationId": "simulateRoutingRules",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RoutingRuleSimulationInput"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Simulation succeeded. Returns identification of the matching rule or `null` if no rule matched.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RoutingRuleSimulationOutput"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "The request was not authenticated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The request failed because of an internal application error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The request failed because the authenticated user did not have the required privileges.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "The request could not be processed due to a temporary service condition. Try again later.",
                        "headers": {
                            "Retry-After": {
                                "description": "Indicates how long the user agent should wait (in seconds) before making a follow-up request.",
                                "style": "simple",
                                "schema": {
                                    "minimum": 0,
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "jwtBearer": []
                    },
                    {
                        "jwtCookie": []
                    }
                ]
            }
        },
        "/api/v1/session/permissions/alerts": {
            "post": {
                "tags": [
                    "UI Support"
                ],
                "summary": "Get alert permissions \ud83d\udd12",
                "description": "### Overview\n\nThis operation provides information about the privileges a particular session has against a number of alert resources.\n\n### Behavior and Constraints\n\nAny one alert (identified by its `alertId`) can be included in the request only once - specifying any alert multiple times will result in the entire request failing.\n\nAny included `alertId` that does not identify an existing alert is silently ignored during processing and is not included in the output. If any other errors are encountered during processign of the request the whole request fails. (In summary - there is no partial success beyond ignoring bad `alertId` values.)\n\n### Authorization\n\nAny authenticated user can use this operation.\n### Use \ud83d\udd12\nThis API is designed for UI communication only and can change in future releases.",
                "operationId": "permissionsAlerts",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "type": "integer",
                                    "format": "int64"
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Alert permissions were retrieved. Returns the alert permission information.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AlertPermissionOutput"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "The request was not authenticated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request could not be fulfilled due to invalid or missing information.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The request failed because of an internal application error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "The request could not be processed due to a temporary service condition. Try again later.",
                        "headers": {
                            "Retry-After": {
                                "description": "Indicates how long the user agent should wait (in seconds) before making a follow-up request.",
                                "style": "simple",
                                "schema": {
                                    "minimum": 0,
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "jwtBearer": []
                    },
                    {
                        "jwtCookie": []
                    }
                ]
            }
        },
        "/api/v1/groups": {
            "get": {
                "tags": [
                    "User Management"
                ],
                "summary": "List groups",
                "description": "### Overview\n\nGet list of defined groups.\n\nIn case of archived groups, only a subset of metadata is returned. (See response output schemas for details.)\n\n### Authorization\n\nAny authenticated user can use this operation to list all the known groups.",
                "operationId": "listGroups",
                "parameters": [
                    {
                        "name": "field",
                        "in": "query",
                        "description": "### Overview\n\nField (attribute) selection criteria.\n\nEnables specifying criteria for inclusion of optional attributes in the response.\n\nSupports the following optional attributes:\n\n- `members` - includes members list\n- `managers` - includes managers list\n- `roSystems` - includes read-only systems\n- `rwSystems` - includes read/write systems\n\nSpecifying an unsupported attribute is silently ignored.\n\n### Syntax\n\n```<field>[,<field>...]```",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "archived",
                        "in": "query",
                        "description": "### Overview\n\nGoverns whether archived group entries should also be returned.",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Groups were retrieved. Returns a list of groups.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/GroupOutput"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "The request was not authenticated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The request failed because of an internal application error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "The request could not be processed due to a temporary service condition. Try again later.",
                        "headers": {
                            "Retry-After": {
                                "description": "Indicates how long the user agent should wait (in seconds) before making a follow-up request.",
                                "style": "simple",
                                "schema": {
                                    "minimum": 0,
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "jwtBearer": []
                    },
                    {
                        "jwtCookie": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "User Management"
                ],
                "summary": "Create group",
                "description": "### Overview\n\nCreate a new group.\n\n### Authorization\n\nRequires the `create:group` permission.",
                "operationId": "createGroup",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GroupInput"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Group was created. Returns the created group.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GroupOutput"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "The request was not authenticated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request could not be fulfilled due to invalid or missing information.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The request failed because of an internal application error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The request failed because the authenticated user did not have the required privileges.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "The request could not be processed due to a temporary service condition. Try again later.",
                        "headers": {
                            "Retry-After": {
                                "description": "Indicates how long the user agent should wait (in seconds) before making a follow-up request.",
                                "style": "simple",
                                "schema": {
                                    "minimum": 0,
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "jwtBearer": []
                    },
                    {
                        "jwtCookie": []
                    }
                ]
            }
        },
        "/api/v1/configuration/routingRules": {
            "get": {
                "tags": [
                    "Configuration"
                ],
                "summary": "List routing rules \ud83d\udd12",
                "description": "List all of the existing routing rules.\n### Authorization\nRequires the `manage:configuration.global` permission.\n### Use \ud83d\udd12\nThis API is designed for UI communication only and can change in future releases.",
                "operationId": "listRoutingRules",
                "responses": {
                    "200": {
                        "description": "Routing rules were retrieved. Returns the list of all routing rules.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/RoutingRuleOutput"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "The request was not authenticated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The request failed because of an internal application error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The request failed because the authenticated user did not have the required privileges.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "The request could not be processed due to a temporary service condition. Try again later.",
                        "headers": {
                            "Retry-After": {
                                "description": "Indicates how long the user agent should wait (in seconds) before making a follow-up request.",
                                "style": "simple",
                                "schema": {
                                    "minimum": 0,
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "jwtBearer": []
                    },
                    {
                        "jwtCookie": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Configuration"
                ],
                "summary": "Create routing rule \ud83d\udd12",
                "description": "Create a new routing rule.\n### Authorization\nRequires the `manage:configuration.global` permission.\n### Use \ud83d\udd12\nThis API is designed for UI communication only and can change in future releases.",
                "operationId": "addRoutingRule",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RoutingRuleInput"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Routing rule was created. Returns the created routing rule.",
                        "headers": {
                            "Location": {
                                "description": "Identifies the URL for the created routing rule resource.",
                                "style": "simple",
                                "schema": {
                                    "type": "string",
                                    "format": "uri"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RoutingRuleOutput"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "The request was not authenticated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request could not be fulfilled due to invalid or missing information.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The request failed because of an internal application error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The request failed because the authenticated user did not have the required privileges.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "The request could not be processed due to a temporary service condition. Try again later.",
                        "headers": {
                            "Retry-After": {
                                "description": "Indicates how long the user agent should wait (in seconds) before making a follow-up request.",
                                "style": "simple",
                                "schema": {
                                    "minimum": 0,
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiMessage"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "jwtBearer": []
                    },
                    {
                        "jwtCookie": []
                    }
                ]
            }
        },
        "/api/v1/alerts": {
            "get": {
                "tags": [
                    "Alerts"
                ],
                "summary": "List alerts",
                "description": "### Overview\n\nGets a list of `alert` resources.\n\n### Authorization\n\nAny authenticated session can use this operation but only alerts to which the underlying user has `read:alert` access are included in the output.\n\n### Pagination\n\nPagination is supported through the use (augmentation) of filter values in combination with sorting order. When requesting the \"next page\", the columns used for sorting (implicitly or explicitly) have to be filtered based on the value for that column in the last known item (e.g. on the \"previous page\").\n\nGiven the fact that in general the sorting columns are not unique care needs to be taken to avoid duplicating item within the clients item cache (and/or view model). This should be done by filtering using the unique `alertId` identifier.\n\nThe number of entries returned can be controlled using the `size` parameter.",
                "operationId": "listAlerts",
                "parameters": [
                    {
                        "name": "query",
                        "in": "query",
[...]
