<component name="ProjectRunConfigurationManager">
  <configuration name="spring-EnablerV1SampleApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <option name="SPRING_BOOT_MAIN_CLASS" value="org.zowe.apiml.sample.enable.v1.EnablerV1SampleApplication" />
    <option name="ALTERNATIVE_JRE_PATH" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>