<component name="ProjectRunConfigurationManager">
  <configuration name="spring-ApiCatalogApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <module name="api-layer.api-catalog-services.main" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="org.zowe.apiml.apicatalog.ApiCatalogApplication" />
    <option name="ALTERNATIVE_JRE_PATH" />
    <additionalParameters>
      <param>
        <option name="enabled" value="true" />
        <option name="name" value="spring.config.additional-location" />
        <option name="value" value="file:./config/local/api-catalog-service.yml" />
      </param>
    </additionalParameters>
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>