name: "Flag the error message changes and label the PR"

on:
    workflow_dispatch:
    schedule:
        # * is a special character in YAML so you have to quote this string
        - cron:  '0 0 * * 5'

env:
    JOB_ID: ${{ github.run_id }}-${{ github.run_number }}

jobs:
    analyze:
        name: Identify and generate changes in the Error messages
        runs-on: ubuntu-latest
        timeout-minutes: 20

        steps:
            - name: Set up Node
              uses: actions/setup-node@v4
              with:
                  node-version: '18'

            - name: Checkout repository
              uses: actions/checkout@v4
              with:
                  ref: ${{ github.head_ref }}

            - name: Generate and compare the Error messages
              run: |
                  git clone https://zowe-robot:${{ secrets.ZOWE_ROBOT_TOKEN }}@github.com/zowe/docs-site.git
                  cd docs-site
                  git checkout master
                  cd ../docs/docgen/
                  java -jar Docgen-1.0.jar ./config.yml
                  cp ../../docs-site/docs/troubleshoot/troubleshoot-apiml-error-codes.md original-codes.md
                  cd ../../docs-site/
                  git config --global user.email "zowe-robot@users.noreply.github.com"
                  git config --global user.name "Zowe Robot"
                  cd ../scripts/docs
                  npm install
                  node index.js zowe api-layer ${{ secrets.ZOWE_ROBOT_TOKEN }}


            - name: Store results
              uses: actions/upload-artifact@v4
              with:
                  name: ErrorMessage-${{ env.JOB_ID }}
                  path: |
                      docs/docgen/ErrorMessagesDocumentation.md

