name: Verify that all services can register

on:
    push:
        branches: [ v2.x.x, v3.x.x ]
        paths-ignore:
            - '**.md'
    pull_request:
        branches: [ v2.x.x, v3.x.x ]
        paths-ignore:
            - '**.md'
    workflow_dispatch:

env:
    JOB_ID: ${{ github.run_id }}-${{ github.run_number }}

jobs:
    BuildAndTest:
        runs-on: ubuntu-latest
        timeout-minutes: 35

        steps:
            -   uses: actions/checkout@v4
                with:
                    ref: ${{ github.head_ref }}

            -   uses: ./.github/actions/setup

            -   name: Build with Gradle
                run: >
                    ./gradlew clean build --info --scan
            -   name: Run startup check
                run: >
                    ./gradlew runStartUpCheck --info --scan
            -   name: Store results
                uses: actions/upload-artifact@v4
                if: always()
                with:
                    name: CITests-${{ env.JOB_ID }}
                    path: |
                        */build/reports/**

            -   uses: ./.github/actions/teardown
