body {
    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
        #zowe-links {
            display: contents;
        }
    }
  #go-back-button-portal {
      margin-right: var( --spaceMedium );
      background-image: url(../../assets/images/angles-left.svg);
      background-repeat: no-repeat;
      background-size: 16px;
      background-position: 8px 50%;
      padding: var(--spaceSmaller ) var(--spaceMedium ) 6px var( --spaceLargest );
      background-color: var( --surface05 );
      border: 1px solid var( --divider20 );

      &, * {
        color: var( --link20 );
        font-size: var( --fontSmall );
      }
      &:hover, &:focus-visible {
        background-color: var( --surface15 );
        border-color: var( --divider15 );
      }
  }
  .dashboard-develop-link {
    margin-right: var( --spaceLarger );
  }
  #product-title {
      font-size: var( --spaceLarger );
      font-family: var( --fontFamily00 );
      font-weight: 600;
      margin-left: 20px;
  }
  #user-info-text {
    padding: var( --spaceSmaller ) var( --spaceSmaller ) 0px;
  }
  .Component-root-3 .MuiPaper-root {
    margin-top: var( --spaceSmallest );
    border: 1px solid var( --divider00 );
  }
  .header {
    padding: var( --headerVPadding) var( --spaceSmall );

    &, > * {
      display: flex;
      flex-direction: row;
    }
    .app-icon-container img {
      height: 26px;
    }
    #auth {
        height: 18px;
    }
    #doc {
        height: 18px;
    }

    .right-icons {
      margin-left: auto;
      margin-right: var( --spaceSmall );

      .MuiLink-root:hover .ext{
        color: var(--controlText15Hover);
        filter: invert(28%) sepia(93%) saturate(1803%) hue-rotate(190deg) brightness(96%) contrast(101%);
      }
      a, #zowe-links {
        display: flex;
        align-items: center;

        img:first-child {
          margin-right: var( --spaceSmallest );
        }
      }

      .logout-container > button {
        min-width: 50px;

        &, svg {
          padding: 0px;
          margin: 0px;
        }
      }
    }// end right icons

    .product-name {
      align-items: center;

      > a + a {
        margin-left: var( --spaceSmall);
      }
    }

      #img-internal-link {
          margin-right: var( --spaceLarger );
          margin-left: var( --spaceSmall );
          height: 15px;
          width: 15px;
      }
  }//end header

  .dashboard-mobile-menu {
    --sideNavWidth: var( --sideNavMobileWidth );
    @include mobileNav();

    .mobile-menu-trigger-btn,
    .product-name {
      display: none;
    }
    .mobile-menu-close-ctn {
      align-self: flex-end;
    }
    .header {
      &, .right-icons, #zowe-links, .feedback-ctn {
        display: flex;
        flex-direction: column;
        width: 100%;
      }

      a {
        padding: var( --spaceSmall );
        border-radius: 3px;
        background: var(--tile-bg, #FFF);
        box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
        margin-bottom: var( --spaceSmall );
      }
      .feedback-ctn .MuiFab-extended{
        width: 100%;
        border-radius: var( --borderRadius1 );
        background-color: var( --surface05 );
        justify-content: flex-start;
      }
    }

    #internal-link {
      margin-right: 0 !important;
  }
  }
}
