body {
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
      #zowe-links {
          display: contents;
      }
  }

  .dashboard-develop-link {
    margin-right: var( --spaceLarger );
  }
  .mobile-product-title {
    position: absolute;
    top: var( --spaceSmallest );
    left: var( --spaceSmall );
  }
  #product-title {
      font-size: var( --spaceLarger );
      font-family: var( --fontFamily00 );
      font-weight: 600;
      margin-left: 20px;
  }
  #user-info-text {
    padding: var( --spaceSmaller ) var( --spaceSmaller ) 0px;
  }
  .Component-root-3 .MuiPaper-root {
    margin-top: var( --spaceSmallest );
    border: 1px solid var( --divider00 );
  }
  .header {
    padding: var( --headerVPadding) var( --spaceSmall );

    &, > * {
      display: flex;
      flex-direction: row;
    }

    .app-icon-container  {
      position: relative;
      display: inline-block;
    }

    .app-icon-container .tooltiptext {
      visibility: hidden;
      width: 250px;
      background-color: black;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      position: absolute;
      z-index: 1;
      top: -5px;
      left: 110%;
    }

    .app-icon-container .tooltiptext::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 100%;
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent black transparent transparent;
    }
    .app-icon-container:hover .tooltiptext {
      visibility: visible;
    }
    .app-icon-container img {
      height: 26px;
    }
    #auth {
        height: 18px;
    }
    #doc {
        height: 18px;
    }

    .right-icons {
      margin-left: auto;
      margin-right: var( --spaceSmall );
      width: 100%;
      justify-content: flex-end;

      .MuiLink-root:hover .ext{
        color: var(--controlText15Hover);
        filter: invert(28%) sepia(93%) saturate(1803%) hue-rotate(190deg) brightness(96%) contrast(101%);
      }
      > a {
        white-space: nowrap;
        img {
          margin-bottom: -1px;
        }

        img:first-child {
          margin-right: var( --spaceSmallest );
        }
        img:last-child {
          margin-right: var( --spaceLarger );
          margin-left: var( --spaceSmaller );
          height: 15px;
          width: 15px;
        }
        &:last-child img:last-child {
          margin-right: 0;
        }
      }

      .logout-container > button {
        min-width: 50px;

        &, svg {
          padding: 0px;
          margin: 0px;
        }
      }
    }// end right icons

    .product-name {
      align-items: center;

      > a + a {
        margin-left: var( --spaceSmall);
      }
    }
    .registered {
      font-size: 70%;
       position: relative;
       bottom: 5px;

    }
  }//end header

  .dashboard-mobile-menu {
    --sideNavWidth: var( --sideNavMobileWidth );
    @include mobileNav();

    .mobile-menu-trigger-btn,
    .product-name {
      display: none;
    }
    .mobile-menu-close-ctn {
      align-self: flex-end;
    }
    .header {
      &, .right-icons, #zowe-links, .feedback-ctn {
        display: flex;
        flex-direction: column;
        width: 100%;
      }

      a {
        padding: var( --spaceSmall );
        border-radius: 3px;
        background: var(--tile-bg, #FFF);
        box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
        margin-bottom: var( --spaceSmall );
      }
      .feedback-ctn .MuiFab-extended{
        width: 100%;
        border-radius: var( --borderRadius1 );
        justify-content: flex-start;
      }
    }

    #internal-link {
      margin-right: 0 !important;
    }
  }
}
