#logo {
    height: 48px;
    width: 48px;
}

.product-name > a > .css-1un8gmf {
    align-self: center;
    margin-bottom: 0;
}

.product-name > a:hover {
    text-decoration: none;
}

#logout-button {
    height: auto;
    text-align: center;
    font-size: 0.875rem;
    color: #3272d9;
}

#down-arrow {
    color: white;
}

.logout-container button.css-1upkw8q-Button:hover svg {
    color: #111111;
}

.css-1i58psh:hover {
    border-radius: 50px;
    background-color: #5691f0;
}

span.MuiTypography-root {
    border-radius: 50px;
    color: #ffffff;
}

.right-icon {
    border-radius: 50px;
}


h6.MuiTypography-root.MuiTypography-subtitle2 {
    color: white;
}

#profileIcon {
    margin-right: -14px;
}

#usernameLabel {
    margin-left: 16px;
}

.menu-window {
    padding: 20px;
}

#user-info-text {
    margin-bottom: 0;
    padding: 5px;
    text-align: center;
}
#logout-text{
    padding: 5px;
    text-align: left;
}

#internal-link {
    margin-right: 400px;
    color: white;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.653px;
    letter-spacing: 1.01px;
}

#img-internal-link {
    margin-right: 20px;
    margin-left: 12px;
    height: 18px;
    width: 18px;
}

#internal-link-div {
    margin: 0;
}
