#logo {
    height: 48px;
    width: 48px;
}

.product-name > a > .css-1un8gmf {
    align-self: center;
    margin-bottom: 0;
}

.product-name > a:hover {
    text-decoration: none;
}

#logout-button {
    width: 50px;
    height: auto;
}
#logout-button:hover {
    background-color: #5691f0;
    transition: background-color .3s ease-in-out;
    width: 50px;
    height: auto;
}

.logout-container button.css-1upkw8q-Button:hover svg {
    color: #111111;
}

.css-1i58psh:hover {
    border-radius: 50px;
    background-color: #5691f0;
}

span.MuiTypography-root {
    border-radius: 50px;
    color: #ffffff;
}

.right-icon {
    border-radius: 50px;
}


h6.MuiTypography-root.MuiTypography-subtitle2 {
    color: white;
}
